.auth_modal_heading {
	margin: 1em 0 1.5em;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.25;
}

.auth_modal_button {
	display: flex;
	width: 100%;
	height: 60px;
	padding: 12px 0;
	margin-bottom: 12px;
	font-size: 1em;
	border-radius: 3px;
	border: 1px solid transparent;
	text-align: left;
}

.auth_modal_button.-color_vk {
	color: #fff;
	background-color: #507299;
}
.auth_modal_button.-color_facebook {
	color: #fff;
	background-color: #4267b2;
}
.auth_modal_button.-color_google {
	color: rgba(0, 0, 0, 0.54);
	background-color: #fff;
	border-color: rgba(197, 201, 209, 0.5);
}

.auth_modal_button_icon {
	flex: 0 0 68px;
	width: 32px;
	height: 32px;
	margin: 0 !important;
	padding: 4px 18px;
	font-size: 1.5em;
	box-sizing: border-box;
	text-align: center;
}

.auth_modal_button_main {
	width: 100%;
	height: 32px;
	padding-right: 18px;
}

.auth_modal_button_title {
	display: block;
	font-size: 1em;
	font-weight: 400;
}

.auth_modal_button_note {
	display: block;
	font-size: .75em;
	opacity: .8;
}

.auth_modal_bottom {
	margin-top: 36px;
}

@media (max-width: 526px) {
	.auth_modal_buttons_wrapper {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.auth_modal_button {
		flex: none;
		width: 70px;
	}
	.auth_modal_button_main {display: none}
}