.page_wrapper.-organizations_wrapper {
	padding: 40px 0;
}

.organizations_aside {
	position: fixed;
	width: 200px;
	height: -webkit-calc(100% - 120px);
	height: calc(100% - 120px);
}

.organizations_categories {
	margin-bottom: 12px;
	height: -webkit-calc(100% - 40px);
	height: calc(100% - 40px);
}

.organizations_categories_header {
	display: flex;
	justify-content: space-between;
	padding: 12px;
	font-size: 12px;
	border-bottom: 1px solid #e8e8e8;
}

.organizations_categories_title {
	font-size: 14px;
	font-weight: 500;
}

.organizations_categories_container,
.organizations_subcategories_container {padding: 6px 0}

.organizations_categories_container {
	height: -webkit-calc(100% - 43px);
	height: calc(100% - 43px);
}

.organizations_category {
	padding: 8px 65px 8px 12px;
	cursor: pointer;
}

.organizations_category:hover {
	background-color: #f6f6f6;
	background-color: var(--color_gray_material);
}

.organizations_category.-active {
	color: #fff;
	background-color: #f82969;
	background-color: var(--color_bubblegum);
}

.organizations_subcategories_container > .organizations_category {padding-left: 30px}
.organizations_category_title {font-size: .79em}

.organizations_category_aside {
	position: absolute;
	top: 0;
	right: 0;
}
.organizations_category_aside.fa_icon {
	margin: 6px 16px;
	font-size: 1.2em;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition: transform .3s ease;
	-moz-transition: transform .3s ease;
	-o-transition: transform .3s ease;
	transition: transform .3s ease;
}
.organizations_category.-active > .fa_icon {
	-webkit-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

.organizations_category_aside.counter {margin: 4px 12px}
.organizations_category.-active > .counter {display: none}

.organizations_wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-around;
	margin-left: 245px;
}

.organization_unit {
	flex: 0 1 240px;
	max-width: 240px;
	margin-bottom: 32px;
	overflow: hidden;
}

.organization_unit_background {
	display: block;
	height: 135px;
	background-size: cover;
	background-position: center;
}


.organization_unit_avatar {
	position: absolute;
	top: -27.5px;
	left: 0;
	right: 0;
	margin: auto;
}

.organization_unit_avatar > img {background-color: #fff}

.organization_unit_content {
	padding: 30px 12px 12px;
	text-align: center;
}

.organization_unit_title {
	display: block;
	font-size: 1em;
	font-weight: 500;
	margin: 18px 0 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.organization_unit_subscribers {
	display: block;
	margin: 6px 0;
	font-size: 0.88em;
	color: #9fa6b3;
	color: var(--color_primary_50);
}

.organization_unit_content > .button:not(.-hidden) + .button {margin-left: 6px}