<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTP_HOST}  ^www\.(.+)$  [NC]
RewriteRule ^(.*)         https://%1/$1 [L,R=301]

RewriteRule ^(.*)to-organization(.*)$ organization.php


RewriteCond %{HTTP_HOST} ^evendate\.io [NC]
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?q=$1
</IfModule>

<Files "config.json">
Order Allow,Deny
Deny from all
</Files>

<Files "v1-config.json">
Order Allow,Deny
Deny from all
</Files>



Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type, Authorization"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

#"C:\Program Files (x86)\nodejs\node.exe" server.js
#"C:\Program Files (x86)\nodejs\npm.cmd" server.js
