.friends-main-content{
  float: left;
  max-width: 500px;
}

.friend-events-block{
  background: #fff;
  width: 500px;
  float: right;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  margin-top: 24px;
}

.events-header{
  height: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 7px;
}

.friend-avatar img{
  float: left;
  border-radius: 99px;
  height: 44px;
  width: 44px;
  margin-top: 1px;
  margin-left: 15px;
}

.friend-avatar .events-date{
  float: right;
  padding-right: 15px;
  color: #FF5F9E;
}

.friend-avatar .event-type-name{
  padding-left: 72px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.6);
}

.friend-avatar .friend-name{
  padding-left: 15px;
  font-size: 16px;
  margin-top: 13px;
  color: #5379B8;
  cursor: pointer;
}

.friend-events-block .friend-avatar{
  padding-top: 6px;
}

.friend-event.favored img{
  width: 64px;
  float: left;
  margin-left: 44px;
  border-radius: 2px;
}

.event-favored-wrapper .organizator-block .name{
  padding-left: 8px;
  font-size: 12px;
}

.event-favored-wrapper .organizator-block img{
  width: 28px;
  height: 28px;
  margin-left: 15px;
}

.event-favored-wrapper .organizator-block:hover{
  color: #5379B8;
  cursor: pointer;
}
.event-favored-wrapper .organizator-block{
  height: 30px;
  padding-top: 1px;
  line-height: 26px;
}

.event-favored-wrapper .event-name:hover{
  color: #5379B8;
  cursor: pointer;
}
.friend-event.subscribed .event-favored-wrapper .event-name{
  margin-top: 10px;
  height: 18px;
}

.event-favored-wrapper .event-name{
  padding-left: 10px;
  font-size: 14px;
  line-height: 14px;
  height: 32px;
}

.event-favored-wrapper{
  float: left;
  max-width: 75%;
}

.friend-event{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  display: inline-block;
}

.friend-event.subscribed .name{
  padding-left: 10px;
}

.friends-right-bar .friends-bar-header{
  height: 42px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  padding-left: 18px;
  line-height: 36px;
}

.friends-right-bar .friends-list{
  float: left;
  width: 100%;
}

.friends-right-bar{
  position: fixed;
  width: 310px;
  float: right;
  background: #FFFFFF;
  margin-left: 59%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.20);
  border-radius: 2px;
}

.friends-list .friend-item .friend-name{
  display: inline-block;
  margin-top: 13px;
  font-size: 14px;
  margin-left: 10px;
}

.friends-list .friend-item .friend-avatar img{
  float: left;
  border-radius: 99px;
  height: 44px;
  width: 44px;
  margin-top: 3px;
  margin-left: 15px;
}

.friends-list .friend-item:hover{
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}
.friends-list .friend-item:active, .friends-list .friend-item.active{
  background: #6B88C7;
  color: #fff;
}
.friends-list .friend-item{
  height: 50px;
  background: #fff;
  width: 100%;
}

.label-blue{
  background-color: #FF5F9E;
}

.subscribed-img-wrapper{
  width: 56px;
  height: 56px;
  border: 1px solid #CCC;
  float: left;
  border-radius: 999px;
  margin-left: 44px;
  padding-top: 13px;
  padding-left: 14px;
}

.friends-main-content .btn{
  margin-top: 50px;
}

.top-links{
  height: 50px;
  padding-top: 18px;
}

.one-friend-profile{
  width: 500px;
}

.one-friend-main-content{
  width: 500px;
}

.friend-page-info-header{
  height: 136px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
}

.back-to-friends-list{
  float: left;
  color: #5379B8;
  cursor: pointer;
}

.back-to-friends-list .icon-arrow-left{
  font-size: 12px;
}

.user-profile-name{
  float: right;
  color: #6B88C7;
  padding-right: 18px;
}

.friend-page-info-header > .top-part{
  height: 90px;
  background-color: #6B88C7;
  color: #fff;
  padding-top: 15px;
  padding-left: 14px;
}

.friend-page-info-header .user-avatar{
  width: 60px;
  border: 2px solid #FFFFFF;
  border-radius: 999px;
}

.friend-user-name{
  line-height: 22px;
  font-size: 20px;
}

.friend-user-link{
  line-height: 13px;
  font-size: 13px;
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.8);
}

.user-name-wrapper{
  margin-left: 72px;
  padding-top: 10px;
}

.friend-user-link .icon-arrow-right{
  font-size: 10px;
}

.user-btn:hover{
  color: #F82969;
}

.user-btn.active{
  background: rgba(0,0,0,0.05);
  box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.16);
  border-bottom: 5px solid #FF5F9E;
  border-radius: 2px;
  color: #F82969;
}

.user-btn{
  width: 250px;
  height: 100%;
  padding-top: 10px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.user-btns-wrapper{
  height: 46px;
  padding: 0;
  display: inline-block;
  text-align: center;
  background: #fff;
}

.friend-subscription-name{
  padding-top: 16px;
  padding-left: 65px;
}

.friend-subscription-block:hover{
  background-color: rgba(0,0,0,0.1);
  color: #6B88C7;
  cursor: pointer;
}
.friend-subscription-block{
  height: 58px;
  background: #ffffff;
  padding-left: 15px;
  display: none;
}

.friend-organization-logo{
  margin-top: 5px;
  height: 48px;
}