* {
	outline: 0;
	margin: 0;
	padding: 0;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: "Roboto", sans-serif;
}


.fa_icon:before {
	display: inline;
	font: normal normal normal 1em/1 FontAwesome;
	font-size: 1rem;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

/*Forms*/

.form {margin: 0 auto}

.form_unit {
	margin-bottom: .875rem;
	font-size: 1rem;
}

.form_unit > .form_unit {margin-bottom: 0}
.form_unit > .form_unit + .form_unit {margin-top: .5rem}

.form_label {
	display: block;
	margin: 0;
	font-size: .9rem;
	font-weight: normal;
}

.form_prompt {
	font-size: .9rem;
	text-align: right;
	margin: 0;
}

.form_input,
.form_select,
.form_textarea {
	display: block;
	width: 100%;
	padding: 0 .5rem;
	font-size: .9rem;
	color: #656565;
	border: 1px solid #d8d8d8;
	border-top: 1px solid #aaa;
	border-radius: 3px;
	background-color: #fafafa;
	box-shadow: inset 0 1px 3px #e6e6e6;
}

:not(.-disabled) .form_input:not(:disabled):not(-disabled):focus,
:not(.-disabled) .form_textarea:not(:disabled):not(-disabled):focus {
	border: 1px solid #4a90e2;
	background-color: #fff;
	box-shadow: 0 0 3px #a4c7f0, inset 0 1px 3px #a4c7f0;
}

.form_input:disabled,
.form_textarea:disabled {opacity: .5}

.form_input,
.form_select {height: 2rem}

.form_textarea {
	min-height: 50px;
	padding: .25rem .5rem;
	resize: none;
}
.form_textarea:focus,
.form_textarea:valid {min-height: 80px}

.form_select {
	-moz-appearance: none;
	background: #fff;
	border: 1px solid #e3e3e3;
	box-shadow: 0 1px 2px #d9d9d9;
}

/* Form Select2 */

.form_select2 {
	display: block;
	width: 100%;
	border-radius: 3px;
	font-size: .9rem;
}
.form_select2 > .select2-choice {
	height: 2rem;
	background: #fff;
	border: 1px solid #e3e3e3;
	border-radius: 3px;
	box-shadow: 0 1px 2px #d9d9d9;
}
.form_select2.select2-dropdown-open > .select2-choice {border-radius: 3px 3px 0 0}

.form_select2.select2-container.select2-container-disabled > .select2-choice {
	border-color: #ddd;
	background-color: inherit;
	opacity: .5;
}
.form_select2.select2-container.select2-container-disabled > .select2-choice > .select2-arrow {background-color: inherit}



.form_select2_drop.select2-drop-active {
	border-top: 1px solid;
	border-color: #e3e3e3;
	box-shadow: 0 1px 2px #d9d9d9;
}

.form_select2_drop > .select2-results {
	margin: 5px 0;
	padding: 0;
}

.form_select2_drop > .select2-results .select2-highlighted {
	color: inherit;
	background-color: #dadada;
}

/* /Form Select2 */
/* Form Radio & Checkbox */

.form_unit > input[type="radio"],
.form_unit > input[type="checkbox"] {display: none}

.form_radio + .form_label,
.form_checkbox + .form_label {
	display: block;
	font-size: 0;
	white-space: nowrap;
	cursor: pointer;
}

.form_radio + .form_label > span,
.form_checkbox + .form_label > span {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 20px - 10px);
	margin-left: 10px;
	font-size: .9rem;
	line-height: 1;
	text-align: left;
	white-space: normal;
}

.form_radio + .form_label:before,
.form_checkbox + .form_label:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	border: 1px solid #aaa;
	border-radius: 3px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form_radio + .form_label:before {border-radius: 1rem}

.form_checkbox + .form_label:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 13px;
	height: 6px;
	margin: auto 2px;
	border-left: 2px solid transparent;
	border-bottom: 2px solid transparent;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	transform-origin: top center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form_radio + .form_label:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: auto 5px;
	background-color: transparent;
}

.form_radio + .form_label:hover:before,
.form_radio:checked + .form_label:before,
.form_checkbox + .form_label:hover:before {border: 2px solid}

.form_unit > .form_checkbox:checked + .form_label:before {border: 0}

.form_unit > .form_radio:checked + .form_label:after,
.form_unit > .form_checkbox:checked + .form_label:after {border-color: #fff}


.form_unit > .form_radio:checked + .form_label:after,
.form_unit > .form_checkbox:checked + .form_label:before {background-color: #ff5f9e}
.form_unit > .form_radio + .form_label:hover:before,
.form_unit > .form_radio:checked + .form_label:before,
.form_unit > .form_checkbox + .form_label:hover:before {border-color: #ff5f9e}

/* /Form Radio & Checkbox */
/* Form -inline */

.form_unit.-inline {font-size: 0}

.-inline > .form_label,
.-inline > .form_unit,
.-inline > .form_group,
.-inline > .form_input,
.-inline > .form_select,
.-inline > .form_textarea {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0;
}

.-inline > .form_label {
	width: 150px;
	margin-right: .5rem;
	line-height: 2rem;
	text-align: right;
}

.-inline > .form_unit,
.-inline > .form_group,
.-inline > .form_input,
.-inline > .form_select,
.-inline > .form_textarea {
	width: -webkit-calc(100% - 150px - .5rem);
	width: calc(100% - 150px - .5rem);
}

/* /Form -inline */
/* Form -status */

.form_unit.-status_error {color: #f00}
.form_unit.-status_error > .form_input:-moz-placeholder,
.form_unit.-status_error > .form_textarea:-moz-placeholder {color: hsla(0,100%,50%,.65)}
.form_unit.-status_error > .form_input::-webkit-input-placeholder,
.form_unit.-status_error > .form_textarea::-webkit-input-placeholder {color: hsla(0,100%,50%,.65)}

.form_unit.-status_error > .form_input,
.form_unit.-status_error > .form_select,
.form_unit.-status_error > .form_textarea  {
	border: 1px solid #ff8080;
	box-shadow: 0 0 3px #f98e9c;
}

/* /Form -status */
/* /Form group */

.form_group {
	margin-bottom: .875rem;
	font-size: 0;
}
.form_group > .form_unit {
	display: inline-block;
	vertical-align: top;
	margin-bottom: 0;
}

.form_group.-parts_e_2 > .form_unit,
.form_group.-parts_e_e > .form_unit {width: 49.5%}

.form_group.-parts_1_2 > .form_unit:nth-child(2n+1),
.form_group.-parts_2_1 > .form_unit:nth-child(2n+2) {width: 32.6666667%}
.form_group.-parts_1_2 > .form_unit:nth-child(2n+2),
.form_group.-parts_2_1 > .form_unit:nth-child(2n+1) {width: 66.3333333%}
.form_group.-parts_1_3 > .form_unit:nth-child(2n+1),
.form_group.-parts_3_1 > .form_unit:nth-child(2n+2) {width: 24.25%}
.form_group.-parts_1_3 > .form_unit:nth-child(2n+2),
.form_group.-parts_3_1 > .form_unit:nth-child(2n+1) {width: 74.75%}
.form_group.-parts_2_3 > .form_unit:nth-child(2n+1),
.form_group.-parts_3_2 > .form_unit:nth-child(2n+2) {width: 39.4%}
.form_group.-parts_2_3 > .form_unit:nth-child(2n+2),
.form_group.-parts_3_2 > .form_unit:nth-child(2n+1) {width: 59.6%}


.form_group.-parts_e_2 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_e_e > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_1_2 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_2_1 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_1_3 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_3_1 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_2_3 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_3_2 > .form_unit:not(:nth-child(2n+1)) {margin-left: 1%}

.form_group.-parts_e_2 > .form_unit:nth-child(n+3),
.form_group.-parts_e_e > .form_unit:nth-child(n+3),
.form_group.-parts_1_2 > .form_unit:nth-child(n+3),
.form_group.-parts_2_1 > .form_unit:nth-child(n+3),
.form_group.-parts_1_3 > .form_unit:nth-child(n+3),
.form_group.-parts_3_1 > .form_unit:nth-child(n+3),
.form_group.-parts_2_3 > .form_unit:nth-child(n+3),
.form_group.-parts_3_2 > .form_unit:nth-child(n+3) {margin-top: .875rem}



.form_group.-parts_e_3   > .form_unit,
.form_group.-parts_e_e_e > .form_unit {width: 32.6666667%}

.form_group.-parts_1_1_2 > .form_unit:nth-child(3n+3),
.form_group.-parts_1_2_1 > .form_unit:nth-child(3n+2),
.form_group.-parts_2_1_1 > .form_unit:nth-child(3n+1) {width: 49.5%}
.form_group.-parts_1_1_2 > .form_unit:not(:nth-child(3n+3)),
.form_group.-parts_1_2_1 > .form_unit:not(:nth-child(3n+2)),
.form_group.-parts_2_1_1 > .form_unit:not(:nth-child(3n+1)) {width: 24.25%}

.form_group.-parts_1_2_2 > .form_unit:nth-child(3n+1),
.form_group.-parts_2_1_2 > .form_unit:nth-child(3n+2),
.form_group.-parts_2_2_1 > .form_unit:nth-child(3n+3) {width: 19.2%}
.form_group.-parts_1_2_2 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_2_1_2 > .form_unit:not(:nth-child(3n+2)),
.form_group.-parts_2_2_1 > .form_unit:not(:nth-child(3n+3)) {width: 39.4%}

.form_group.-parts_1_1_3 > .form_unit:nth-child(3n+3),
.form_group.-parts_1_3_1 > .form_unit:nth-child(3n+2),
.form_group.-parts_3_1_1 > .form_unit:nth-child(3n+1) {width: 59.6%}
.form_group.-parts_1_1_3 > .form_unit:not(:nth-child(3n+3)),
.form_group.-parts_1_3_1 > .form_unit:not(:nth-child(3n+2)),
.form_group.-parts_3_1_1 > .form_unit:not(:nth-child(3n+1)) {width: 19.2%}


.form_group.-parts_e_3   > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_e_e_e > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_1_1_2 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_1_2_1 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_2_1_1 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_1_2_2 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_2_1_2 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_2_2_1 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_1_1_3 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_1_3_1 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_3_1_1 > .form_unit:not(:nth-child(3n+1)) {margin-left: 1%}

.form_group.-parts_e_3   > .form_unit:nth-child(n+4),
.form_group.-parts_e_e_e > .form_unit:nth-child(n+4),
.form_group.-parts_1_1_2 > .form_unit:nth-child(n+4),
.form_group.-parts_1_2_1 > .form_unit:nth-child(n+4),
.form_group.-parts_2_1_1 > .form_unit:nth-child(n+4),
.form_group.-parts_1_2_2 > .form_unit:nth-child(n+4),
.form_group.-parts_2_1_2 > .form_unit:nth-child(n+4),
.form_group.-parts_2_2_1 > .form_unit:nth-child(n+4),
.form_group.-parts_1_1_3 > .form_unit:nth-child(n+4),
.form_group.-parts_1_3_1 > .form_unit:nth-child(n+4),
.form_group.-parts_3_1_1 > .form_unit:nth-child(n+4) {margin-top: .875rem}



.form_group.-parts_e_4     > .form_unit,
.form_group.-parts_e_e_e_e > .form_unit {width: 24.25%}

.form_group.-parts_1_1_1_2 > .form_unit:nth-child(4n+4),
.form_group.-parts_1_1_2_1 > .form_unit:nth-child(4n+3),
.form_group.-parts_1_2_1_1 > .form_unit:nth-child(4n+2),
.form_group.-parts_2_1_1_1 > .form_unit:nth-child(4n+1) {width: 39.4%}
.form_group.-parts_1_1_1_2 > .form_unit:not(:nth-child(4n+4)),
.form_group.-parts_1_1_2_1 > .form_unit:not(:nth-child(4n+3)),
.form_group.-parts_1_2_1_1 > .form_unit:not(:nth-child(4n+2)),
.form_group.-parts_2_1_1_1 > .form_unit:not(:nth-child(4n+1)) {width: 19.2%}


.form_group.-parts_e_4     > .form_unit:not(:nth-child(4n+1)),
.form_group.-parts_e_e_e_e > .form_unit:not(:nth-child(4n+1)),
.form_group.-parts_1_1_1_2 > .form_unit:not(:nth-child(4n+1)),
.form_group.-parts_1_1_2_1 > .form_unit:not(:nth-child(4n+1)),
.form_group.-parts_1_2_1_1 > .form_unit:not(:nth-child(4n+1)),
.form_group.-parts_2_1_1_1 > .form_unit:not(:nth-child(4n+1)) {margin-left: 1%}

.form_group.-parts_e_4     > .form_unit:nth-child(n+5),
.form_group.-parts_e_e_e_e > .form_unit:nth-child(n+5),
.form_group.-parts_1_1_1_2 > .form_unit:nth-child(n+5),
.form_group.-parts_1_1_2_1 > .form_unit:nth-child(n+5),
.form_group.-parts_1_2_1_1 > .form_unit:nth-child(n+5),
.form_group.-parts_2_1_1_1 > .form_unit:nth-child(n+5) {margin-top: .875rem}



.form_group.-parts_e_5       > .form_unit,
.form_group.-parts_e_e_e_e_e > .form_unit {width: 19.2%}


.form_group.-parts_e_5       > .form_unit:not(:nth-child(5n+1)),
.form_group.-parts_e_e_e_e_e > .form_unit:not(:nth-child(5n+1)) {margin-left: 1%}

.form_group.-parts_e_5       > .form_unit:nth-child(n+6),
.form_group.-parts_e_e_e_e_e > .form_unit:nth-child(n+6) {margin-top: .875rem}

/* /Form group */


.form_unit.status_error > .form_label,
.form_unit.status_error > .form_checkbox {color: #e3000f}
.form_unit.status_error > .form_input,
.form_unit.status_error > .form_textarea {border-bottom: 2px solid #e3000f}

.form_unit.-labeled {font-size: 0}
.form_unit.-labeled > .form_label,
.form_unit.-labeled > .form_input {
	display: inline-block;
	vertical-align: top;
}

.form_unit.-labeled > .form_label {
	height: 2rem;
	width: 2rem;
	font-size: 1.2rem;
	line-height: 2rem;
	color: #8f8f8f;
	text-align: center;
	border: 1px solid #aaa;
	background-color: #e1e1e1;
}

.form_unit.-labeled > .form_input {
	width: -webkit-calc(100% - 2rem);
	width: calc(100% - 2rem);
}

.form_unit.-labeled > .form_label + .form_input,
.form_unit.-labeled > .form_input + .form_label {
	margin-left: 0;
	border-left: 0;
}

.-disabled .form_input,
.-disabled .form_textarea,
.-disabled .form_select,
.-disabled .form_radio,
.-disabled .form_checkbox {background-color: #ccc;}

/*/Forms*/
/*Button*/

.button {
	display: inline-block;
	vertical-align: bottom;
	height: 2rem;
	min-width: 2rem;
	font-family: inherit;
	font-size: .9rem;
	font-weight: lighter;
	color: #fff;
	border: 0;
	border-radius: 3px;
	background-color: #ff5f9e;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}
.button:not(:empty) {padding: 0 12px}
.button:not(:disabled):hover {box-shadow: 0 1px 6px #b3b3b3}

.button:disabled,
.button.-disabled {
	cursor: default;
	background-color: #ccc;
}

a.button {line-height: 2rem}
a.button:hover {text-decoration: none}

.button.-fill {width: 100%}

.button.-color-default {
	background-color: #ff5f9e;
}
.button.white {
	color: inherit;
	background-color: transparent;
}
/*
.button:not(:empty):before {vertical-align: middle}*/

.button.red {background-color: hsl(0, 90%, 60%)}
.button.orange {background-color: hsl(28, 82%, 50%)}
.button.green {background-color: hsl(145, 93%, 29%)}
.button.blue {background-color: hsl(200, 82%, 50%)}


.ripple {
	display: block;
	position: absolute;
	background: hsla(0,0%,100%,.7);
	border-radius: 100%;
	transform: scale(0);
}
.ripple.animate {animation: ripple 0.65s linear;}
@keyframes ripple {
	100% {opacity: 0; transform: scale(2.5);}
}


/*/Button*/
/*Unite*/

.-unite {
	font-size: 0;
}

.-unite > * {
	display: inline-block;
	vertical-align: top;
	margin-left: 0;
	margin-right: 0;
}

.-unite > *:not(:last-child) {border-right: 0}
.-unite > *:not(:first-child):not(:last-child) {border-radius: 0}
.-unite > :first-child {border-radius: 3px 0 0 3px}
.-unite > :last-child {border-radius: 0 3px 3px 0}

.-unite > .button {padding: 0}


.-unite.-parts_e_e > * {width: 50%}

.-unite.-parts_e_1 > *:nth-child(1),
.-unite.-parts_1_e > *:nth-child(2) {width: -webkit-calc(100% - 2rem);width: calc(100% - 2rem);}
.-unite.-parts_1_e > *:nth-child(1),
.-unite.-parts_e_1 > *:nth-child(2) {width: 2rem}

.-unite.-parts_e_2 > *:nth-child(1),
.-unite.-parts_2_e > *:nth-child(2) {width: -webkit-calc(100% - 4rem);width: calc(100% - 4rem);}
.-unite.-parts_2_e > *:nth-child(1),
.-unite.-parts_e_2 > *:nth-child(2) {width: 4rem}

.-unite.-parts_e_3 > *:nth-child(1),
.-unite.-parts_3_e > *:nth-child(2) {width: -webkit-calc(100% - 6rem);width: calc(100% - 6rem);}
.-unite.-parts_3_e > *:nth-child(1),
.-unite.-parts_e_3 > *:nth-child(2) {width: 6rem}

.-unite.-parts_e_4 > *:nth-child(1),
.-unite.-parts_4_e > *:nth-child(2) {width: -webkit-calc(100% - 8rem);width: calc(100% - 8rem);}
.-unite.-parts_4_e > *:nth-child(1),
.-unite.-parts_e_4 > *:nth-child(2) {width: 8rem}



.-unite.-parts_e_e_e > * {width: 33.333333333%}

.-unite.-parts_e_e_1 > *:not(:nth-child(3)),
.-unite.-parts_e_1_e > *:not(:nth-child(2)),
.-unite.-parts_1_e_e > *:not(:nth-child(1)) {width: -webkit-calc((100% - 2rem) / 2);width: calc((100% - 2rem) / 2);}

.-unite.-parts_e_e_1 > *:nth-child(3),
.-unite.-parts_e_1_e > *:nth-child(2),
.-unite.-parts_1_e_e > *:nth-child(1) {width: 2rem}

.-unite.-parts_e_e_2 > *:not(:nth-child(3)),
.-unite.-parts_e_2_e > *:not(:nth-child(2)),
.-unite.-parts_2_e_e > *:not(:nth-child(1)) {width: -webkit-calc((100% - 4rem) / 2);width: calc((100% - 4rem) / 2);}

.-unite.-parts_e_e_2 > *:nth-child(3),
.-unite.-parts_e_2_e > *:nth-child(2),
.-unite.-parts_2_e_e > *:nth-child(1) {width: 4rem}

.-unite.-parts_e_e_3 > *:not(:nth-child(3)),
.-unite.-parts_e_3_e > *:not(:nth-child(2)),
.-unite.-parts_3_e_e > *:not(:nth-child(1)) {width: -webkit-calc((100% - 6rem) / 2);width: calc((100% - 6rem) / 2);}

.-unite.-parts_e_e_3 > *:nth-child(3),
.-unite.-parts_e_3_e > *:nth-child(2),
.-unite.-parts_3_e_e > *:nth-child(1) {width: 6rem}

.-unite.-parts_e_e_4 > *:not(:nth-child(3)),
.-unite.-parts_e_4_e > *:not(:nth-child(2)),
.-unite.-parts_4_e_e > *:not(:nth-child(1)) {width: -webkit-calc((100% - 8rem) / 2);width: calc((100% - 8rem) / 2);}

.-unite.-parts_e_e_4 > *:nth-child(3),
.-unite.-parts_e_4_e > *:nth-child(2),
.-unite.-parts_4_e_e > *:nth-child(1) {width: 8rem}


.-unite.-parts_e_1_1 > *:nth-child(1),
.-unite.-parts_1_e_1 > *:nth-child(2),
.-unite.-parts_1_1_e > *:nth-child(3) {width: -webkit-calc(100% - 4rem);width: calc(100% - 4rem);}

.-unite.-parts_e_1_1 > *:not(:nth-child(1)),
.-unite.-parts_1_e_1 > *:not(:nth-child(2)),
.-unite.-parts_1_1_e > *:not(:nth-child(3)) {width: 2rem}

.-unite.-parts_e_2_2 > *:nth-child(1),
.-unite.-parts_2_e_2 > *:nth-child(2),
.-unite.-parts_2_2_e > *:nth-child(3) {width: -webkit-calc(100% - 8rem);width: calc(100% - 8rem);}

.-unite.-parts_e_2_2 > *:not(:nth-child(1)),
.-unite.-parts_2_e_2 > *:not(:nth-child(2)),
.-unite.-parts_2_2_e > *:not(:nth-child(3)) {width: 4rem}


.-unite.-parts_e_1_2 > *:nth-child(1),
.-unite.-parts_e_2_1 > *:nth-child(1),
.-unite.-parts_1_e_2 > *:nth-child(2),
.-unite.-parts_2_e_1 > *:nth-child(2),
.-unite.-parts_1_2_e > *:nth-child(3),
.-unite.-parts_2_1_e > *:nth-child(3) {width: -webkit-calc(100% - 6rem);width: calc(100% - 6rem);}

.-unite.-parts_e_1_2 > *:nth-child(2),
.-unite.-parts_e_2_1 > *:nth-child(3),
.-unite.-parts_1_e_2 > *:nth-child(1),
.-unite.-parts_2_e_1 > *:nth-child(3),
.-unite.-parts_1_2_e > *:nth-child(1),
.-unite.-parts_2_1_e > *:nth-child(2) {width: 2rem}

.-unite.-parts_e_1_2 > *:nth-child(3),
.-unite.-parts_e_2_1 > *:nth-child(2),
.-unite.-parts_1_e_2 > *:nth-child(3),
.-unite.-parts_2_e_1 > *:nth-child(1),
.-unite.-parts_1_2_e > *:nth-child(2),
.-unite.-parts_2_1_e > *:nth-child(1) {width: 4rem}


.-unite.-parts_e_1_3 > *:nth-child(1),
.-unite.-parts_e_3_1 > *:nth-child(1),
.-unite.-parts_1_e_3 > *:nth-child(2),
.-unite.-parts_3_e_1 > *:nth-child(2),
.-unite.-parts_1_3_e > *:nth-child(3),
.-unite.-parts_3_1_e > *:nth-child(3) {width: -webkit-calc(100% - 8rem);width: calc(100% - 8rem);}

.-unite.-parts_e_1_3 > *:nth-child(2),
.-unite.-parts_e_3_1 > *:nth-child(3),
.-unite.-parts_1_e_3 > *:nth-child(1),
.-unite.-parts_3_e_1 > *:nth-child(3),
.-unite.-parts_1_3_e > *:nth-child(1),
.-unite.-parts_3_1_e > *:nth-child(2) {width: 2rem}

.-unite.-parts_e_1_3 > *:nth-child(3),
.-unite.-parts_e_3_1 > *:nth-child(2),
.-unite.-parts_1_e_3 > *:nth-child(3),
.-unite.-parts_3_e_1 > *:nth-child(1),
.-unite.-parts_1_3_e > *:nth-child(2),
.-unite.-parts_3_1_e > *:nth-child(1) {width: 6rem}




	/*/Unite*/
/* Page */

.page_viewport {
	margin: 70px 30px;
}

.page_wrapper {
	margin: 0 auto;
}

.page {
	width: 700px;
	padding: 15px 30px;
	background-color: #fff;
	box-shadow: 0 2px 6px hsla(0,0%,0%,.28);
}


@media (min-width: 768px) and (max-width: 992px) {
	.page_wrapper {
		width: 500px;
	}
}
@media (min-width: 993px) and (max-width: 1200px) {
	.page_wrapper {
		width: 700px;
	}
}
@media (min-width: 1201px) and (max-width: 1600px) {
	.page_wrapper {
		width: 900px;
	}
}
@media (min-width: 1601px) {
	.page_wrapper {
		width: 1200px;
	}
}


/* /Page */
