.orgstat_events_page {
	margin-top: 18px;
}

.orgstat_events_page_header {
	border-bottom: 1px solid rgba(62, 77, 101, 0.1);
}

.orgstat_events_title {
	margin: 36px 18px 18px;
	font-size: 1.5em;
	font-weight: 500;
	color: rgba(62, 77, 102, 0.8);
}

.orgstat_events_table td {font-weight: 500}

.orgstat_events_no_events_wrapper {
	padding: 18px;
}