<script type="javascript/template" id="tmpl-edit-event-page">

	<div class="edit_event_overlay Tabs EditEventPageTabs" data-tabs_id="edit_event_pages" data-focus_on_change="true">
		<div class="edit_event_page_wrapper">
			<div class="material -level_2_material">
				<form id="edit_event_form" class="EditEventForm">
					<input id="edit_event_event_id" type="hidden" name="event_id" value="{id}">

					<div class="edit_event_page_tab_bodies tab_bodies_wrap TabsBodyWrapper" data-tabs_id="edit_event_pages">


						<div class="tab_body TabsBody -active">
							<div class="EditEventOrganizations {organizations_wrapper_classes}">
								<h2><label for="edit_event_organization">Организация <span class="required_star">*</span></label></h2>
								<div class="form_unit">
									<select id="edit_event_organization" name="organization_id" class="EditEventOrganizationsSelect">{organization_options}</select>
								</div>
							</div>

							<p class="form_text AvailableEventPublicationsWrapper -hidden">
								<span>Осталось событий: <span class="AvailableEventPublications"></span></span><br>
								<span>Перейти на <a href="/admin/organization/1/settings#change_tariff" class="link -color_accent Link BuySubscriptionLink">полный тариф</a></span>
							</p>

							<fieldset class="FormOverallFields">
								<wbr>
								<h2><label for="edit_event_title">Название <span class="required_star">*</span></label></h2>
								<div class="form_unit">
									<input id="edit_event_title" class="form_input LimitSize OnChangeCrossPost" type="text" name="title" value="{title}" autocomplete="off" placeholder="Название мероприятия" data-maxlength="150" required>
								</div>

								<h2><label for="edit_event_description">Описание <span class="required_star">*</span></label></h2>
								<div class="form_unit">
									<textarea id="edit_event_description" class="form_textarea LimitSize OnChangeCrossPost" data-maxlength="1000" name="description" placeholder="Не более 1000 символов" required>{description}</textarea>
								</div>

								<!--Date Picker-->
								<div class="EditEventDatePickerCollapsing Collapsing" data-collapsing_id="event_edit_date_picker">
									<h2>Дата и время <span class="required_star">*</span></h2>
									<div class="event_datepicker">
										<div class="EventDatesCalendar event_datepicker_calendar"></div>
										<div class="event_datepicker_form">
											<p>Выбраны даты:</p>
											<div class="selected_days EventSelectedDaysText"><p>Даты не выбраны</p></div>
											<fieldset class="Switching MainTime" data-switch_id="different_time">
												<div class="form_group">
													{start_time}
													{end_time}
												</div>
											</fieldset>
											<div class="form_unit">
												<input id="edit_event_different_time" class="form_checkbox CollapsingTrigger Switch" type="checkbox" name="different_time" tabindex="-1" data-collapsing_id="event_edit_date_picker" data-switch_id="different_time">
												<label class="form_label" for="edit_event_different_time"><span>Разное время</span></label>
											</div>
										</div>
									</div>

									<!--Dates Table-->
									<fieldset id="edit_event_selected_days_wrapper" class="collapsing_wrapper -inset -full_page_width Switching CollapsingWrapper" data-switch_id="different_time" data-collapsing_id="event_edit_date_picker" disabled>
										<div class="collapsing_content CollapsingContent">
											<table class="event_selected_days_table">
												<colgroup>
													<col width="0%">
													<col width="7%">
													<col width="21%">
													<col width="10%">
													<col width="31%">
													<col width="31%">
												</colgroup>
												<thead>
													<tr>
														<th></th>
														<th data-sort-method="none"></th>
														<th data-sort-method="none">День</th>
														<th data-sort-method="none"></th>
														<th data-sort-method="none">Время начала</th>
														<th data-sort-method="none">Время конца</th>
													</tr>
												</thead>
												<tbody class="SelectedDaysRows">
												</tbody>
											</table>
											<div>
												<input id="new_date" type="hidden">
												<button class="button form_datepicker -color_default event_selected_days_add_date AddDayToTable DatePicker RippleEffect" type="button" data-min_date="{current_date}" tabindex="-1">
													<span>Добавить день</span>
												</button>
											</div>
										</div>
									</fieldset>
								</div>

								<h2><label for="edit_event_placepicker">Место проведения <span class="required_star">*</span></label></h2>
								<div class="form_group -parts_3_1">
									<div class="form_unit">
										<input id="edit_event_placepicker" class="form_input Placepicker OnChangeCrossPost" name="location" value="{location}" required>
									</div>
									<div class="form_unit">
										<button class="button -color_primary -size_wide RippleEffect EditEventDefaultAddress" type="button" tabindex="-1">По умолчанию</button>
									</div>
								</div>
								<div class="form_group -align_center">
									<div class="form_unit">
										<input id="edit_event_is_online" class="form_checkbox EditEventIsOnline" type="checkbox" name="is_online">
										<label class="form_label" for="edit_event_is_online"><span>Online - событие</span></label>
									</div>
								</div>

								<h2>Цена <span class="required_star">*</span></h2>
								<div class="form_group -parts_1_3">
									<div class="form_unit -inline">
										<label class="form_label" for="edit_event_free"><span>Бесплатно</span></label>
										<div class="form_unit">
											<input id="edit_event_free" class="form_checkbox Switch IsFreeSwitch OnChangeCrossPost" type="checkbox" checked name="is_free" data-switch_id="is_free">
											<label class="form_label" for="edit_event_free"></label>
										</div>
									</div>
									<fieldset class="form_unit Switching" data-switch_id="is_free" disabled>
										{min_price_input}
									</fieldset>
								</div>

								<h2><label for="event_tags">Теги <span class="required_star">*</span></label></h2>
								<div class="form_unit">
									<input id="event_tags" class="form_input EventTags" type="text" name="tags" autocomplete="off">
								</div>

								<h2><label for="edit_event_url">Ссылка на страницу мероприятия</label></h2>
								<div class="form_unit">
									<input id="edit_event_url" class="form_input OnChangeCrossPost" type="text" name="detail_info_url" value="{detail_info_url}" autocomplete="off" placeholder="Ссылка">
								</div>

								<h2>Обложка события <span class="required_star">*</span></h2>
								<div class="form_group -parts_e_2  ImgLoadWrap" data-aspect_ratio="16/9">
									<div class="form_unit -centering">
										<div class="wrapper">
											<h4 class="form_label">Выберите способ загрузки:</h4>
											<div class="Tabs">
												<header class="tabs_header HeaderTabs -color_accent">
													<span class="tab Tab -active">По ссылке</span>
													<span class="tab Tab">С компьютера</span>
												</header>
												<div class="tab_bodies_wrap TabsBodyWrapper">
													<div class="tab_body TabsBody -active">
														<div class="form_unit">
															<input id="edit_event_load_by_url_hor" class="form_input LoadByURLAddress" type="text" autocomplete="off" placeholder="Ссылка на изображение">
														</div>
														<div class="form_unit">
															<button class="button -color_accent RippleEffect LoadByURLButton" type="button" tabindex="-1">
																<span class="Text">Загрузить</span>
															</button>
														</div>
													</div>
													<div class="tab_body TabsBody">
														<div class="form_unit">
															<button class="button -color_accent RippleEffect FileLoadButton" type="button" tabindex="-1">
																<input class="LoadImg -hidden" type="file" accept="image/*">
																<span class="Text">Выбрать</span>
															</button>
														</div>
													</div>
												</div>
											</div>
											<div class="form_unit">
												<button class="button -color_marginal_accent RippleEffect CropperButton -hidden" type="button" tabindex="-1">
													<span class="Text">Кадрировать</span>
												</button>
											</div>
										</div>
									</div>
									<div class="form_unit">
										<div class="img_holder EventEditHorizontalImageHolder">
											<img class="edit_event_img_preview_hor ImgPreview" src="{image_horizontal_url}">
											<img class="edit_event_img_preview_mask" src="/app/img/edit_event/edit_event_img_placeholder_hor.png" height="574">
											<input id="edit_event_image_horizontal_source" class="ImgSrc HorizontalImageSource" type="hidden" name="image_horizontal" value="{image_horizontal_base64}">
											<input id="edit_event_image_horizontal_filename" class="FileName" type="hidden" name="filename_horizontal" value="{image_horizontal_filename}">
										</div>
									</div>
								</div>
							</fieldset>
						</div>


						<div class="tab_body TabsBody">
							<fieldset class="FormOverallFields">

								<h2>Настройка регистрации на событие</h2>
								<p class="form_text">Если на ваше событие требуется регистрация, вы можете настроить её параметры здесь. Вы можете задать крайний срок регистрации, максимальное количество мест, </p>

								<div class="form_unit form_accent_block">
									<input id="edit_event_registration_required" class="form_checkbox Switch OnChangeCrossPost" type="checkbox" name="registration_required" data-switch_id="registration">
									<label class="form_label" for="edit_event_registration_required"><span>Обязательная регистрация на событие</span></label>
								</div>

								<fieldset class="Switching" data-switch_id="registration" disabled>

									<p class="form_text">Форма регистрации может храниться как в Evendate, так и на внешнем сайте</p>

									<div class="form_unit">
										<input id="edit_event_registration_side" class="form_checkbox" type="checkbox">
										<label class="form_label" for="edit_event_registration_side"><span>Регистрация на внешнем сайте</span></label>
									</div>

									<div class="form_unit">
										<input id="edit_event_registration_locally" class="form_checkbox Switch" name="registration_locally" type="checkbox" data-switch_id="registration_locally">
										<label class="form_label" for="edit_event_registration_locally"><span>Регистрация через Evendate</span></label>
									</div>

									<h3>Ограничение регистраций</h3>

									<div class="form_unit form_accent_block">
										<input id="edit_event_registration_limit_by_date" class="form_checkbox Switch" type="checkbox" name="registration_limit_by_date" data-switch_id="registration_limit_by_date">
										<label class="form_label" for="edit_event_registration_limit_by_date"><span>По крайней дате регистрации</span></label>
									</div>

									<fieldset class="Switching" data-switch_id="registration_limit_by_date" disabled>
										<div class="form_group">
											{registration_till_date_select}
											{registration_till_time_input}
										</div>
									</fieldset>



									<div class="form_unit form_accent_block">
										<input id="edit_event_registration_limit_by_quantity" class="form_checkbox Switch" type="checkbox" name="registration_limit_by_quantity" data-switch_id="registration_limit_by_quantity">
										<label class="form_label" for="edit_event_registration_limit_by_quantity"><span>По максимальному количеству регистраций</span></label>
									</div>

									<fieldset class="Switching" data-switch_id="registration_limit_by_quantity" disabled>
										{registration_limit_count_input}
									</fieldset>

									<fieldset class="Switching" data-switch_id="registration_locally" disabled>
										<wbr>

										<h3 id="edit_event_registration_fields">Анкета регистрации</h3>

										<div class="RegistrationFields">
											{registration_predefined_fields}
											{registration_custom_fields}
										</div>

										<button class="button -color_neutral -size_low -rounded fa_icon fa-plus-circle AddRegistrationCustomField RippleEffect" type="button"><span class="Text">Добавить поле</span></button>

										<div class="-align_center">
											<button class="button -color_neutral_accent RippleEffect RegistrationPreview" type="button"><span class="Text">Предпросмотр</span></button>
										</div>

										<h3>Подтверждение анкеты</h3>
										<p class="form_text">Подписчик будет зарегистрирован только после подтверждения заявки модератором или администратором</p>
										<div class="form_unit">
											<input id="edit_event_registration_approvement_required" class="form_checkbox" type="checkbox" name="registration_approvement_required">
											<label class="form_label" for="edit_event_registration_approvement_required"><span>Подтверждать анкету вручную</span></label>
										</div>

									</fieldset>

								</fieldset>

							</fieldset>
						</div>


						<div class="tab_body TabsBody">
							<fieldset>
								<h2>Продажа билетов</h2>
								<p class="form_text">Настройте продажу билетов на ваше событие через Evendate</p>
								<table class="event_edit_ticket_types_table table -simple_table -full_page_width TicketTypes Collapsing">
									<thead>
										<tr>
											<th width="55%" align="left">Название</th>
											<th width="10%" align="left">Количество</th>
											<th width="35%" align="left">Цена, ₽</th>
										</tr>
									</thead>
									{ticket_types}
								</table>
								<div class="form_unit -align_center">{add_ticket_type_button}</div>
								{booking_time_input}
							</fieldset>
						</div>


						<div class="tab_body TabsBody">

							<fieldset class="FormOverallFields">

								<h2>Публикация</h2>

								<div class="form_unit form_accent_block">
									<input id="edit_event_delayed_publication" class="form_checkbox Switch DelayedPublicationSwitch" type="checkbox" name="delayed_publication" data-switch_id="delayed_publication">
									<label class="form_label" for="edit_event_delayed_publication"><span>Отложенная публикация</span></label>
								</div>

								<fieldset class="Switching" data-switch_id="delayed_publication" disabled>
									<div class="form_group">
										{public_at_date_select}
										{public_at_time_input}
									</div>
								</fieldset>


								<div class="form_group -parts_e_2 -valign_baseline">
									<div class="form_unit form_accent_block AdditionalNotificationSwitchParent -status_disabled">
										<input id="edit_event_additional_notification" class="form_checkbox Switch AdditionalNotificationSwitch" type="checkbox" name="additional_notification" data-switch_id="additional_notification" disabled>
										<label class="form_label" for="edit_event_additional_notification"><span>Дополнительное уведомление</span></label>
									</div>

									<small class="form_unit -align_right">
										<a id="edit_event_buy_subscription" href="/admin/organization/{organization_id}/settings#change_tariff" class="action -color_accent Link BuySubscriptionLink">доступно с подпиской</a>
									</small>
								</div>

								<fieldset class="Switching" data-switch_id="additional_notification" disabled>
									<p class="form_text">Отправьте повторное уведомление подписчикам. После публикации события дату и время отправки можно редактировать, а так же вы можете отправить уведомление индивидуальному подписчику.</p>

									<div class="form_group">
										{additional_notification_date_select}
										{additional_notification_time_input}
									</div>
								</fieldset>



								<fieldset class="Collapsing VkPostFieldset">
									<div class="form_unit form_accent_block">
										<input id="edit_event_to_public_vk" class="form_checkbox CollapsingTrigger VkPostTrigger Switch" type="checkbox" name="vk_post" tabindex="-1" data-collapsing_id="public_vk" data-switch_id="public_vk">
										<label class="form_label" for="edit_event_to_public_vk"><span>Опубликовать Вконтакте</span></label>
									</div>

									<fieldset id="edit_event_vk_publication" class="collapsing_wrapper -inset -full_page_width Switching CollapsingWrapper" data-collapsing_id="public_vk" data-switch_id="public_vk" disabled>
										<div class="collapsing_content CollapsingContent">

											<div class="EditEventVkGroup">
												<wbr>
												<h4 class="form_text"><label for="edit_event_vk_groups">Сообщество</label></h4>
												<div class="form_unit">
													<select id="edit_event_vk_groups" class="form_select2 ToSelect2 VkGroupsSelect" name="vk_guid"></select>
												</div>
											</div>

											<h4 class="form_text"><label for="edit_event_description">Описание</label></h4>
											<div class="form_unit">
												<textarea id="edit_event_vk_post" class="form_textarea VKPostText" name="vk_description" placeholder="" readonly style="height: 10em"></textarea>
											</div>

											<h4 class="form_text"><label for="edit_event_description">Обложка</label></h4>
											<div class="form_unit">
												<div class="edit_event_vk_img EditEventVKImageHolder">
													<input id="edit_event_vk_image_src" class="ImgSrc" type="hidden" name="vk_image" value="{vk_image_base64}">
													<input id="edit_event_vk_image_filename" class="FileName" type="hidden" name="vk_filename" value="{vk_image_filename}">
													<div class="edit_event_vk_img_preview">
														<img class="ImgPreview" src="{vk_image_url}">
														<div class="edit_event_vk_img_preview_dash_border"></div>
													</div>
												</div>
											</div>

										</div>
									</fieldset>
								</fieldset>
								{vk_post_link}

							</fieldset>



						</div>


					</div>
				</form>
			</div>
			<div class="edit_event_buttons -align_right EditEventBottomButtons">
				<button id="edit_event_submit" class="button RippleEffect -color_accent -hidden EditEventSubmitButton FormOverallFields" type="button"><span class="Text">{button_text}</span></button>
				<button id="edit_event_next_page" class="button RippleEffect -color_accent EditEventNextPageButton" type="button">
					<span class="Text"><span>Далее</span><span class="fa fa-angle-right"></span></span>
				</button>
				<button id="edit_event_prev_page" class="button RippleEffect -color_neutral -hidden EditEventPrevPageButton" type="button">
					<span class="Text"><span class="fa fa-angle-left"></span><span>Назад</span></span>
				</button>
			</div>
		</div>

		<div class="event_edit_navigation">
			<div class="event_edit_navigation_material material -level_2_material HeaderTabs" data-tabs_id="edit_event_pages">
				<div class="event_edit_navigation_item Tab"><span>1. Описание</span></div>
				<div class="event_edit_navigation_item Tab"><span>2. Регистрация на событие</span></div>
				<div class="event_edit_navigation_item Tab"><span>3. Продажа билетов</span></div>
				<div class="event_edit_navigation_item Tab"><span>4. Публикация</span></div>
			</div><!--
			<button class="button -color_bubblegum -size_wide RippleEffect">Отменить событие</button>-->
		</div>

	</div>

</script>

<script type="javascript/template" id="tmpl-selected-table-day">
	<tr class="TableDay_{date}" data-date="{date}">
		<td>{datetime}</td>
		<td><button class="remove_date RemoveRow" type="button" tabindex="-1">&times;</button></td>
		<td>
			<div class="form_unit">
				<input class="form_input form_datepicker DatePicker" name="event_date" value="{formatted_date}" data-selected_day="{date}" data-min_date="{today}">
			</div>
		</td>
		<td></td>
		<td align="center">{start_time}</td>
		<td align="center">{end_time}</td>
	</tr>
</script>

<script type="javascript/template" id="tmpl-edit-event-registration-predefined-field">
	<div class="form_fieldset -color_marginal Draggable">
		<div class="edit_event_registration_field_draggable DragHandle">
			<span class="fa_icon fa-reorder"></span>
		</div>
		<div class="form_unit form_accent_block">
			<input id="edit_event_registration_{type}_field_enable" class="form_checkbox Switch PredefinedFieldSwitch" type="checkbox" name="registration_fields" value="{id}" data-switch_id="registration_{type}_field">
			<label class="form_label" for="edit_event_registration_{type}_field_enable"><span>{name}</span></label>
		</div>
		<input id="edit_event_registration_{type}_field_uuid" type="hidden" name="registration_{id}_field_uuid" value="{uuid}">
		<p>{description}</p>
		<fieldset class="Switching" data-switch_id="registration_{type}_field" disabled>
			<input class="RegistrationFieldOrderNumber" type="hidden" name="registration_{id}_field_order_number" value="{order_number}">
			<input type="hidden" name="registration_{id}_field_type" value="{type}">
			<div class="form_unit">
				<input id="edit_event_registration_{type}_field_required" class="form_checkbox" type="checkbox" name="registration_{id}_field_required">
				<label class="form_label" for="edit_event_registration_{type}_field_required"><span>Обязательное поле</span></label>
			</div>
		</fieldset>
	</div>
</script>

<script type="javascript/template" id="tmpl-edit-event-registration-custom-field">
	<div class="edit_event_registration_custom_field form_fieldset -color_marginal RegistrationCustomField Draggable">
		<div class="edit_event_registration_field_draggable DragHandle">
			<span class="fa_icon fa-reorder"></span>
		</div>
		<p class="form_text">В этом поле вы можете запросить у пользователей любые данные или задать вопрос.</p>
		<input id="edit_event_registration_{id}_custom_field_enable" class="RegistrationFieldId" type="hidden" name="registration_fields" value="{id}">
		<input id="edit_event_registration_{id}_custom_field_uuid" class="RegistrationCustomFieldUUID" type="hidden" name="registration_{id}_field_uuid" value="{uuid}">
		<input id="edit_event_registration_{id}_custom_field_order_number" class="RegistrationFieldOrderNumber" type="hidden" name="registration_{id}_field_order_number" value="{order_number}">
		<button class="edit_event_registration_custom_field_remove_button RemoveRegistrationCustomField" type="button">&times;</button>

		<div class="form_unit">
			<label class="form_label" for="edit_event_registration_{id}_custom_field_label">Наименование поля</label>
			<input id="edit_event_registration_{id}_custom_field_label" class="form_input RegistrationCustomFieldLabel" type="text" name="registration_{id}_field_label" value="{label}" autocomplete="off" required>
		</div>

		<div class="form_unit">
			<label class="form_label" for="edit_event_registration_{id}_field_type">Тип поля</label>
			<select id="edit_event_registration_{id}_field_type" class="form_select2 RegistrationCustomFieldType" name="registration_{id}_field_type" required>
				<option value="additional_text">Текст</option>
				<option value="extended_custom">Расширенный текст</option>
				<option value="select_multi">Несколько вариантов</option>
				<option value="select">Один вариант</option>
			</select>
		</div>

		<div class="edit_event_registration_custom_field_values RegistrationCustomFieldValues">{registration_custom_field_values}</div>

		<div class="form_unit">
			<input id="edit_event_registration_{id}_custom_field_required" class="form_checkbox" type="checkbox" name="registration_{id}_field_required">
			<label class="form_label" for="edit_event_registration_{id}_custom_field_required"><span>Обязательное поле</span></label>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-edit-event-registration-custom-field-values">
	<div class="RegistrationCustomFieldValuesItem" data-last_value_id="{last_value_id}">
		<h6>Варианты ответа</h6>
		<div class="edit_event_registration_custom_field_values_wrapper RegistrationCustomFieldValuesWrapper">
			{values}
		</div>
		<button class="button -color_franklin_alt fa_icon fa-plus-square-o AddValue" type="button">Добавить вариант</button>
	</div>
</script>

<script type="javascript/template" id="tmpl-edit-event-registration-custom-field-value">
	<div class="edit_event_registration_custom_field_value RegistrationFieldValue">
		<input type="hidden" name="registration_{id}_field_{value_id}_value_uuid" value="{value_uuid}">
		<input type="hidden" name="registration_{id}_field_values" value="{value_id}">
		{checkbox_radio}
		{input}
		<button class="edit_event_registration_custom_field_value_remove_button RemoveValue" type="button">&times;</button>
	</div>
</script>

<script type="javascript/template" id="tmpl-edit-event-tickets-row">
	<tr>
		<td>{name_input}</td>
		<td>{amount_input}</td>
		<td>
			<input class="TicketTypeId" type="hidden" name="ticket_types" value="{row_num}">
			<input class="TicketType{row_num}UUID" type="hidden" name="ticket_type_{row_num}_uuid" value="{uuid}">
			<input type="hidden" name="ticket_type_{row_num}_comment" value="{comment}">
			<input class="TicketTypeCode" type="hidden" name="ticket_type_{row_num}_type_code" value="{type_code}">
			<div class="edit_event_ticket_type_last_column form_group">
				{price_input}
				<button class="event_edit_ticket_type_expand_button action -color_marginal fa_icon fa-sliders TicketTypeExpandButton" type="button"></button>
				<button class="event_edit_ticket_type_delete_button action -color_marginal TicketTypeDeleteButton" type="button">&times;</button>
			</div>
		</td>
	</tr>
	<tr class="ExpandRow">
		<td class="-no_padding" colspan="3">
			<div class="collapsing_wrapper -inset CollapsingWrapper">
				<div class="collapsing_content CollapsingContent">
					<div class="edit_event_ticket_type_expanded">
						<h3>Дополнительные настройки</h3>
						<h4>Начало продажи билета</h4>
						<p class="form_text">Момент времени, после которого начнутся продажи билетов этого типа</p>
						<div class="form_fieldset">
							<div class="form_group -align_left">
								{tickets_sell_start_date_checkbox}
								<fieldset class="form_unit Switching" data-switch_id="ticket_type_{row_num}_start_by_date" disabled>
									{tickets_sell_start_date_select}
								</fieldset>
							</div>
							<fieldset class="form_group -align_left TicketTypeSellAfterFieldset" disabled>
								{tickets_sell_start_after_checkbox}
								<fieldset class="form_unit Switching" data-switch_id="ticket_type_{row_num}_start_after" disabled>
									{tickets_sell_start_after_select}
								</fieldset>
							</fieldset>
						</div>

						<h4>Конец продажи билета</h4>
						<p class="form_text">Момент времени, до которого можно купить билеты этого типа</p>
						<div class="form_fieldset form_group -align_left">
							{tickets_sell_end_date_select}
						</div>

						<fieldset title="Эта функция доступна только с полным тарифом" disabled>
							{promo_enable_checkbox}
							<fieldset class="Switching" data-switch_id="ticket_type_{row_num}_promo" disabled>
								<p class="form_text">При вводе этого слова подписчики получат скидку на стоимость билета этого типа</p>
								<div class="form_group -align_left">
									{promo_input}
									{promo_effort_input}
									<div class="form_unit -inline">
										<label class="form_label">%</label>
									</div>
								</div>
							</fieldset>
						</fieldset>

						<h4>Количество билетов за заказ</h4>
						<p class="form_text">Задайте минимальное и максимальное число билетов этого типа в «одни руки»</p>
						<div class="form_fieldset form_group">
							{tickets_by_order_min_amount_input}
							{tickets_by_order_max_amount_input}
						</div>

						<p class="form_text">Некоторые функции доступны только с <a href="/admin/organization/1/settings#change_tariff" class="link -color_accent Link BuySubscriptionLink">полным тарифом</a></p>

						<footer class="edit_event_ticket_type_expanded_footer -align_center">
							{close_expanded_button}
						</footer>
					</div>
				</div>
			</div>
		</td>
	</tr>
</script>

<script type="javascript/template" id="tmpl-edit-event-tickets-row-empty">
	<tr class="EmptyRow">
		<td colspan="3" align="center"><p class="form_text">Вы не добавили ни одного билета</p></td>
	</tr>
</script>