<script type="javascript/template" id="tmpl-event-page">
	<div class="event_page EventPage">
		<div class="event_main_content material">
			<header class="event_header">
				<div class="event_image img_holder">
					<img class="CallModal" data-modal_type="media" src="{image_horizontal_url}?width={cover_width}" width="{cover_width}">
				</div>
			</header>
			<div class="event_content">
				<h3 class="event_title" title="{title}">{title}</h3>
				<div class="event_description">{description}</div>
				{map}
			</div>
		</div>
		<div class="event_additional_content">
			{event_functions}
			<div class="event_additional_field">
				<h6 class="event_additional_field_label">Организатор</h6>
				<div class="form_unit">{organization_avatar_block}</div>
				{org_contact_link}
			</div>
			<div class="event_additional_field">
				<div class="form_unit">
					{event_action}
				</div>
				{event_additional_info}
			</div>
			<div class="event_additional_field">
				<div class="event_calendar EventCalendar"></div>
			</div>
			<div class="event_additional_field AddAvatarWrapper">
				<h6 class="event_additional_field_label">Добавили в избранное</h6>
				<div class="form_unit AvatarsCollectionWrapper">
					{avatars_collection}
				</div><!--
				<span class="event_favored_additional_text FavoredAdditionalText">{favored_additional_text}</span>-->
				{action_button}
			</div>
			{event_additional_fields}
		</div>
		{overlay_cap}
	</div>
</script>

<script type="javascript/template" id="tmpl-event-functions">
	<div class="event_additional_field">
		<h6 class="event_additional_field_label">Действия</h6>
		{functions}

		<div class="dropdown_box DropdownBox" data-dropdown_id="cancel_event">
			<div class="dropdown_box_wrapper">
				<p>Вы уверены, что хотите отменить событие?</p>
			</div>
			<footer class="dropdown_box_footer">
				<span class="action -color_neutral CloseDropdown">Отмена</span>
				<span class="action -color_error CloseDropdown CancelEvent">Да</span>
			</footer>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-event-map">
	<hr>
	<p class="small_title -text_color_default -transform_uppercase">Место проведения</p>
	<div class="event_map CallModal EventMap" data-modal_type="map" data-modal_map_location="{location_sanitized}">
		<img src="https://maps.googleapis.com/maps/api/staticmap?markers={location_sanitized}&zoom=15&size=640x640&scale=2&format=png&maptype=roadmap&key=AIzaSyCKu_xeHhtme8b1awA_rHjpfV3wVg1fZDg">
	</div>
	<p class="-font_weight_bolder">{location}</p>
</script>

<script type="javascript/template" id="tmpl-event-additional-info">
	<p class="event_additional_info {classes}">{text}</p>
</script>

<script type="javascript/template" id="tmpl-event-date-time">
	<div class="event_additional_field">
		<div class="event_additional_field_split">
			<div class="event_additional_field"><h6 class="event_additional_field_label">Дата</h6></div>
			<div class="event_additional_field"><h6 class="event_additional_field_label">Время</h6></div>
		</div>
		{date_times}
	</div>
</script>

<script type="javascript/template" id="tmpl-event-date-time-row">
	<div class="event_additional_field_split">
		<div class="event_additional_field"><span>{date}</span></div>
		<div class="event_additional_field"><span>{time}</span></div>
	</div>
</script>

<script type="javascript/template" id="tmpl-event-additional-field">
	<div class="event_additional_field">
		<h6 class="event_additional_field_label">{key}</h6>
		<p>{value}</p>
	</div>
</script>

<script type="javascript/template" id="tmpl-event-detail-link">
	<div class="event_additional_field">
		<h6 class="event_additional_field_label">Страница события</h6>
		<a class="external_link ExternalLink" href="{detail_info_url}" target="_blank">{detail_info_url}</a>
	</div>
</script>

<script type="javascript/template" id="tmpl-event-vulcan">
	<div class="event_vulcan">
		<header class="event_vulcan_header">Похожие мероприятия</header>
		{event_cards}
	</div>
</script>