<script type="javascript/template" id="tmpl-event-page">
	<div class="event_page EventPage">
		<div class="event_main_content material">
			<header class="event_header">
				<div class="event_image img_holder">
					<img class="CallModal" data-modal_type="media" src="{image_horizontal_url}?width={cover_width}" width="{cover_width}">
				</div>
			</header>
			<div class="event_content">
				<h3 class="event_title" title="{title}">{title}</h3>
				<div class="event_description">{description}</div>
			</div>
		</div>
		<div class="event_additional_content">
			{event_functions}
			<div class="event_additional_field">
				<h6 class="event_additional_field_label">Организатор</h6>
				{organization_avatar_block}
			</div>
			<div class="event_additional_field">
				{event_additional_info}
				<div class="form_unit">
					{event_action}
				</div>
				<div class="form_unit">
					{event_notifications_button}
				</div>
			</div>
			<div class="event_additional_field AddAvatarWrapper">
				{action_button}
				{avatars_collection}
			</div>
			<div class="event_additional_field">
				<div class="event_calendar EventCalendar"></div>
			</div>
			{event_additional_fields}
		</div>
		{overlay_cap}
	</div>
</script>

<script type="javascript/template" id="tmpl-event-functions">
	<div class="event_additional_field">
		<h6 class="event_additional_field_label">Действия</h6>
		{functions}

		<div class="dropdown_box DropdownBox" data-dropdown_id="cancel_event">
			<div class="dropdown_box_wrapper">
				<p>Вы уверены, что хотите отменить событие?</p>
			</div>
			<footer class="dropdown_box_footer">
				<span class="action -color_neutral CloseDropdown">Отмена</span>
				<span class="action -color_error CloseDropdown CancelEvent">Да</span>
			</footer>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-event-map">
	<div class="event_map CallModal EventMap" data-modal_type="map" style="background-image: url('https://maps.googleapis.com/maps/api/staticmap?markers={location_sanitized}&zoom=15&size=640x640&scale=2&format=png&maptype=roadmap&key=AIzaSyCKu_xeHhtme8b1awA_rHjpfV3wVg1fZDg')" data-modal_map_location="{location_sanitized}"></div>
	<p class="-font_weight_bolder">{location}</p>
</script>

<script type="javascript/template" id="tmpl-event-additional-info">
	<p class="event_additional_info {classes}">{text}</p>
</script>

<script type="javascript/template" id="tmpl-event-date-time">
	<div class="event_additional_field Collapsing" data-collapsing_id="event_dates" data-default-height="80">
		<div class="collapsing_wrapper CollapsingWrapper -fading" data-collapsing_id="event_dates">
			<div class="collapsing_content CollapsingContent">
				<div class="event_additional_field_split">
					<div class="event_additional_field"><h6 class="event_additional_field_label">Дата</h6></div>
					<div class="event_additional_field"><h6 class="event_additional_field_label">Время</h6></div>
				</div>
				{date_times}
			</div>
		</div>
		<button class="collapsing_button CollapsingTrigger fa_icon fa-chevron-down -empty" data-collapsing_id="event_dates" data-collapsing_trigger="click"></button>
	</div>
</script>

<script type="javascript/template" id="tmpl-event-date-time-row">
	<div class="event_additional_field_split">
		<div class="event_additional_field"><span>{date}</span></div>
		<div class="event_additional_field"><span>{time}</span></div>
	</div>
</script>

<script type="javascript/template" id="tmpl-event-additional-field">
	<div class="event_additional_field">
		<h6 class="event_additional_field_label">{key}</h6>
		<p>{value}</p>
	</div>
</script>

<script type="javascript/template" id="tmpl-event-detail-link">
	<div class="event_additional_field">
		<h6 class="event_additional_field_label">Подробнее</h6>
		<a class="external_link ExternalLink" href="{detail_info_url}" target="_blank">{detail_info_url}</a>
	</div>
</script>

<script type="javascript/template" id="tmpl-event-vulcan">
	<div class="event_vulcan">
		<header class="event_vulcan_header">Похожие мероприятия</header>
		{event_cards}
	</div>
</script>

<script type="javascript/template" id="tmpl-dropdown-event-edit-notifications">
	<div class="dropdown_box DropdownBox">
		<header class="dropdown_header">Настройка напоминания</header>
		<form class="dropdown_box_wrapper">
			{notifications}
		</form>
	</div>
</script>