<script type="javascript/template" id="tmpl-organization-feedback-page">
	<div class="feedback_page material">
		<div class="FeedbackFormWrapper -align_center">
			{header}
			{sub_header}
			<form class="FeedbackForm -align_left">
				{name_field}
				<div class="form_group -parts_e_e">
					{email_field}
					{phone_field}
				</div>
				{additional_fields}
				{message_field}
				<div class="form_unit -align_center">
					{submit_button}
				</div>
			</form>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-organization-feedback-header">
	<h3>{header}</h3>
</script>

<script type="javascript/template" id="tmpl-organization-feedback-sub-header">
	<p>{sub_header}</p>
</script>