<script type="javascript/template" id="tmpl-onboarding-main">
	<div class="page page_onboarding">

		<div>
			<div class="text_onboarding_container"><span class="header_text_onboarding">Вам понравится</span></div>
			<div class="text_onboarding_container"><span class="text_onboarding">Мы подобрали места, которые подходят Вам</span></div>
			<div class="line_onboarding"></div>
		</div>
		<div class="recommendation_scroll scrollbar-outer RecommendationsScrollbar RecommendationsWrapper">
			{recommendation_items}
		</div>

		<div class="bot_part_onboarding_page">
			<a href="/organizations" class="button -color_muted RippleEffect link Link SkipOnboarding"><span>Пропустить</span></a>
			<a href="/feed" class="button -color_neutral_accent RippleEffect link Link"><span>Далее</span></a>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-onboarding-recommendation">
	<div class="recommendations_item_onboarding_inside OnboardingOrgItem" data-organization_id="{id}">
		<div class="img_container_recommendation_onboarding">
			<img src="{img_small_url}" class="img_recommendation_onboarding"></div>
		<div class="text_container_recommendation_onboarding"><span>{short_name}</span></div>
		<div class="check_box_img_container_onboarding">
			<button class="check_box_img_onboarding" type="button"><i class="fa fa-plus plus_onboarding" aria-hidden="true"></i></button>
		</div>
	</div>
</script>