<script type="javascript/template" id="tmpl-order-page">
	<div class="order_page material OrderPage">
		<fieldset class="OrderFormWrapper">
			<form class="order_form OrderForm" action="/api/v1/events/{event_id}/orders" method="post" target="_blank">
				{tickets_selling}
				{registration}
				<input class="OrderFormPayload" type="hidden" name="post_data">
				<fieldset class="order_page_footer OrderFormFooter -align_center">
					<div class="form_unit">
						<input id="order_agreement" class="form_checkbox Switch" type="checkbox" data-switch_id="order_agreement" required>
						<label class="form_label" for="order_agreement">
							<span>Я согласен c условиями Пользовательского соглашения и Договором оказания услуг по организации мероприятия</span>
						</label>
					</div>
					<fieldset class="order_page_buttons Switching" data-switch_id="order_agreement" disabled>
						<div class="form_unit MainActionButtonWrapper">
							{main_action_button}
						</div>
						<div class="order_page_pay_buttons PayButtons -hidden">
							<p><span class="-text_color_primary_50">или</span></p>
							<div class="form_unit">
								{legal_entity_payment_button}
							</div>
							<div class="form_unit">
								{bitcoin_payment_button}
							</div>
							<div class="form_unit">
								{legal_entity_payment_help}
							</div>
						</div>
					</fieldset>
				</fieldset>
				{overlay_cap}
			</form>
		</fieldset>
		<footer class="-align_center">
			<h4>Связь с техподдержкой:</h4>
			<p><small><span>Email: </span><a href="mailto:support@evendate.io">support@evendate.io</a></small></p>
		</footer>
	</div>
</script>

<script type="javascript/template" id="tmpl-order-tickets-selling">
	<fieldset class="order_ticket_types OrderFields">
		<h3 class="order_page_subtitle">Выберите билеты</h3>
		{ticket_types}
	</fieldset>
	<footer class="order_ticket_types_footer">
		<p class="-text_size_big">
			<b class="-text_color_primary_80">Общая стоимость: </b>
			<b class="-text_color_dark_primary"><span class="TicketsOverallSum">{overall_price}</span> ₽</b>
		</p>
		<div class="form_group -align_right -parts_2_1 PromocodeWrapper">
			<div class="form_unit -unite -parts_e_3">
				<input class="form_input PromocodeInput" placeholder="Промокод" name="promocode">
				<button class="button -color_accent ActivatePromocode RippleEffect" type="button">Применить</button>
			</div>
		</div>
	</footer>
</script>

<script type="javascript/template" id="tmpl-order-tickets-selling-promocode">
	<b>Скидка с промокода: {effort}</b>
	<p class="-text_size_big">
		<b class="-text_color_primary_80">Итоговая стоимость: </b>
		<b class="-text_color_dark_primary"><span class="TicketsTotalSum">{total_sum}</span> ₽</b>
	</p>
</script>

<script type="javascript/template" id="tmpl-order-ticket-type">
	<fieldset class="order_ticket_type TicketType" data-ticket_type_uuid="{ticket_type_uuid}">
		<header class="order_ticket_type_header">
			<span class="order_ticket_type_title">{name}</span>
			{quantity_input}
		</header>
		<div class="order_ticket_type_description">{description}</div>
		<footer class="order_ticket_type_footer">
			<span class="order_ticket_type_price">{type_price} ₽</span>
			<span class="order_ticket_type_sum TicketTypeSum -text_color_dark_primary -hidden"><span class="TicketTypeSumText">{sum_price}</span> ₽</span>
		</footer>
	</fieldset>
	<hr class="order_ticket_type_divider">
</script>

<script type="javascript/template" id="tmpl-order-registration">
	<fieldset class="order_registration_fields RegistrationFields">
		{registration_fields}
	</fieldset>
</script>

<script type="javascript/template" id="tmpl-order-overlay-cap-content">
	<p>{message}</p>
	<div class="form_unit">{return_button}</div>
	<div class="form_unit">{tickets_button}</div>
</script>