<script type="javascript/template" id="tmpl-order-page">
	<div class="order_page OrderPage">
		<fieldset class="OrderFormWrapper">
			<form class="order_form OrderForm">
				{tickets_selling}
				{registration}
				<footer class="order_page_footer -align_center">
					<div class="form_unit">
						<input id="order_agreement" class="form_checkbox Switch" type="checkbox" data-switch_id="order_agreement" required>
						<label class="form_label" for="order_agreement">
							<span>Я согласен c условиями Пользовательского соглашения и Договором оказания услуг по организации мероприятия</span>
						</label>
					</div>
					<fieldset class="Switching" data-switch_id="order_agreement" disabled>
						{main_action_button}
					</fieldset>
					<small class="form_helptext">Для оплаты заказов используется система Яндекс.Деньги</small>
				</footer>
				{overlay_cap}
			</form>
		</fieldset>
	</div>
</script>

<script type="javascript/template" id="tmpl-order-tickets-selling">
	<fieldset class="order_ticket_types OrderFields">
		<h4>Выберите билеты</h4>
		{ticket_types}
		<footer class="order_ticket_types_footer material">
			<span class="-text_color_primary_80">Общая стоимость: </span>
			<span class="-text_color_dark_primary"><span class="TicketsOverallSum">{overall_price}</span> ₽</span>
		</footer>
	</fieldset>
</script>

<script type="javascript/template" id="tmpl-order-ticket-type">
	<fieldset class="order_ticket_type material TicketType" data-ticket_type_uuid="{ticket_type_uuid}">
		<header class="order_ticket_type_header">
			<span class="order_ticket_type_title">{name}</span>
			{quantity_input}
		</header>
		<div class="order_ticket_type_description">{description}</div>
		<footer class="order_ticket_type_footer">
			<span class="order_ticket_type_price">{type_price} ₽</span>
			<span class="order_ticket_type_sum TicketTypeSum -text_color_dark_primary -hidden"><span class="TicketTypeSumText">{sum_price}</span> ₽</span>
		</footer>
	</fieldset>
</script>

<script type="javascript/template" id="tmpl-order-registration">
	<fieldset class="order_registration_fields material RegistrationFields">
		{registration_fields}
	</fieldset>
</script>

<script type="javascript/template" id="tmpl-order-overlay-cap-content">
	<p>{message}</p>
	<div class="form_unit">{return_button}</div>
	<div class="form_unit">{tickets_button}</div>
</script>