<script type="javascript/template" id="tmpl-search-wrapper">
	<div class="search_wrapper">
		<div class="search_organizations {no_organizations}">
			<div class="search_organizations_wrapper SearchOrganizationsScrollbar scrollbar-outer">
				<div class="search_organizations_content">{organizations}</div>
			</div>
		</div>
		<div class="feed_event_cards_wrapper search_events SearchEvents">{events}</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-search-no-events">
	<div class="no_events">
		По запросу не найдено событий.
	</div>
</script>