<script type="javascript/template" id="tmpl-user-page">
	<div class="user_page_wrapper {wrapper_classes}">
		<div class="page user_page_sidebar">
			<header class="user_page_sidebar_header">
				{tombstone}
				<div class="user_page_social_links">
					{links}
				</div>
				{subscribe_button}
			</header>
			<div class="user_page_sidebar_wrapper">
				<span class="sidebar_section_heading">Подписан на организаторов</span>
				{subscribed_orgs}
				<footer class="user_page_sidebar_footer">
					{show_all_subscribed_orgs_button}
				</footer>
			</div>
			<div class="user_page_sidebar_wrapper {friends_hidden}">
				<span class="sidebar_section_heading">Подписан на пользователей</span>
				{subscribed_users}
				<footer class="user_page_sidebar_footer">
					{show_all_subscribed_users_button}
				</footer>
			</div>
		</div>
		<div class="page user_page_content Tabs">
			<header class="user_page_content_header tabs_header HeaderTabs -color_accent">
				<span class="tab Tab">Активность</span>
				<span class="tab Tab -active">Избранные события</span>
			</header>
			<div class="tab_bodies_wrap TabsBodyWrapper">
				<div class="tab_body TabsBody UserActivities" data-tab_body_type="activity">
					{activity_blocks}
				</div>
				<div class="tab_body TabsBody -active" data-tab_body_type="event">
					{favored_event_blocks}
				</div>
			</div>
		</div>
	</div>
</script>