/*

font-weight: 300            Roboto-Light
font-weight: 400    normal  Roboto-Regular
font-weight: 500            Roboto-Medium
font-weight: 600
font-weight: 700    bold    Roboto-Bold

*/

h1,
h2 {margin: 1.5em 0 .7em}
h3,
h4 {margin: 1.5em 0 .5em}
h5,
h6,
.small_title {margin: 1.5em 0 1em}


h2,
h3 {font-weight: bold}

h4,
h5,
h6,
.small_title {font-weight: 500}

h3,
h4,
h5,
h6 {letter-spacing: 0.2px}

h2 {
	font-size: 1.75rem;
	letter-spacing: 0.3px;
}

h3 {font-size: 1.5rem}
h4 {font-size: 1.125rem}
h5 {font-size: 1.25rem}
h6 {font-size: 1rem}

.small_title {
	color: #9fa7b6;
	color: var(--color_primary_50);
	font-size: .875rem;
}

a {
	color: #337ab7;
	text-decoration: none;
}

hr {
	margin: 1em auto;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #c5c9d1;
	border-color: var(--color_primary_30);
}

p,
.text {
	margin: .875em 0;
	font-size: 0.875rem;
	font-weight: normal;
	line-height: 1.43;
	letter-spacing: 0.1px;
}

small,
.text.-mini {
	font-size: 0.8125rem;
	line-height: normal;
}

p.-text_size_big {font-size: 1.5em}

label {font-weight: inherit}

:first-child {margin-top: initial}

.-uppercase {text-transform: uppercase}


a.-text_color_default,
a.-text_color_neutral,
b.-text_color_default,
b.-text_color_neutral,
p.-text_color_default,
p.-text_color_neutral,
span.-text_color_default,
span.-text_color_neutral,
small.-text_color_default,
small.-text_color_neutral,
label.-text_color_default,
label.-text_color_neutral {color: #fff; color: var(--color_page);}

a.-text_color_dark_primary,
b.-text_color_dark_primary,
p.-text_color_dark_primary,
span.-text_color_dark_primary,
small.-text_color_dark_primary,
label.-text_color_dark_primary {color: #3e4d66; color: var(--color_dark_primary);}

a.-text_color_primary,
b.-text_color_primary,
p.-text_color_primary,
span.-text_color_primary,
small.-text_color_primary,
label.-text_color_primary {color: #3e4d66; color: var(--color_primary);}

a.-text_color_primary_80,
b.-text_color_primary_80,
p.-text_color_primary_80,
span.-text_color_primary_80,
small.-text_color_primary_80,
label.-text_color_primary_80 {color: #657184; color: var(--color_primary_80);}


a.-text_color_marginal,
a.-text_color_primary_50,
b.-text_color_marginal,
b.-text_color_primary_50,
p.-text_color_marginal,
p.-text_color_primary_50,
span.-text_color_marginal,
span.-text_color_primary_50,
small.-text_color_marginal,
small.-text_color_primary_50,
label.-text_color_marginal,
label.-text_color_primary_50 {color: #9fa6b3; color: var(--color_primary_50);}

a.-text_color_primary_30,
b.-text_color_primary_30,
p.-text_color_primary_30,
span.-text_color_primary_30,
small.-text_color_primary_30,
label.-text_color_primary_30 {color: #c5c9d1; color: var(--color_primary_30);}

a.-text_color_bubblegum,
b.-text_color_bubblegum,
p.-text_color_bubblegum,
small.-text_color_bubblegum,
label.-text_color_bubblegum {color: #f82969; color: var(--color_bubblegum);}

a.-text_color_warning,
b.-text_color_warning,
p.-text_color_warning,
span.-text_color_warning,
small.-text_color_warning,
label.-text_color_warning {color: #ff9f00}

a.-text_color_error,
b.-text_color_error,
p.-text_color_error,
span.-text_color_error,
small.-text_color_error,
label.-text_color_error {
	color: var(--color_error);
	color: #fd7b6e;
}

:not(.-state_admin) a.-text_color_accent,
:not(.-state_admin) b.-text_color_accent,
:not(.-state_admin) p.-text_color_accent,
:not(.-state_admin) span.-text_color_accent,
:not(.-state_admin) small.-text_color_accent,
:not(.-state_admin) label.-text_color_accent {color: #f82969; color: var(--color_accent);}

a.-text_color_bubblegum_alt,
b.-text_color_bubblegum_alt,
p.-text_color_bubblegum_alt,
small.-text_color_bubblegum_alt,
label.-text_color_bubblegum_alt {color: #ff5f9e; color: var(--color_bubblegum_alt);}

:not(.-state_admin) a.-text_color_accent_alt,
:not(.-state_admin) b.-text_color_accent_alt,
:not(.-state_admin) p.-text_color_accent_alt,
:not(.-state_admin) span.-text_color_accent_alt,
:not(.-state_admin) small.-text_color_accent_alt,
:not(.-state_admin) label.-text_color_accent_alt {color: #ff5f9e; color: var(--color_accent_alt);}

a.-text_color_franklin,
b.-text_color_franklin,
p.-text_color_franklin,
small.-text_color_franklin,
label.-text_color_franklin {color: #00dc88; color: var(--color_franklin)}

.-state_admin a.-text_color_accent,
.-state_admin b.-text_color_accent,
.-state_admin p.-text_color_accent,
.-state_admin span.-text_color_accent,
.-state_admin small.-text_color_accent,
.-state_admin label.-text_color_accent {color: #00dc88}

a.-text_color_franklin_alt,
b.-text_color_franklin_alt,
p.-text_color_franklin_alt,
small.-text_color_franklin_alt,
label.-text_color_franklin_alt {color: #23d792; color: var(--color_franklin_alt);}

.-state_admin a.-text_color_accent_alt,
.-state_admin b.-text_color_accent_alt,
.-state_admin p.-text_color_accent_alt,
.-state_admin span.-text_color_accent_alt,
.-state_admin small.-text_color_accent_alt,
.-state_admin label.-text_color_accent_alt {color: #23d792}

a.-transform_uppercase,
b.-transform_uppercase,
p.-transform_uppercase,
span.-transform_uppercase,
small.-transform_uppercase,
label.-transform_uppercase {text-transform: uppercase}

a.-font_weight_lighter,
p.-font_weight_lighter,
span.-font_weight_lighter,
small.-font_weight_lighter,
label.-font_weight_lighter,
button.-font_weight_lighter {font-weight: 400}

a.-font_weight_bolder,
p.-font_weight_bolder,
span.-font_weight_bolder,
small.-font_weight_bolder,
label.-font_weight_bolder,
button.-font_weight_bolder {font-weight: 500}

a.-font_weight_bold,
p.-font_weight_bold,
span.-font_weight_bold,
small.-font_weight_bold,
label.-font_weight_bold,
button.-font_weight_bold {font-weight: 600}