.event_admin_requests_page {
	display: flex;
	height: calc(100% - 96px);
	margin: 48px 0;
}

.event_admin_requests_list_wrapper {
	flex: none;
	width: 316px;
}

.event_admin_request_detail {
	width: 100%;
	border-left: 1px solid #e2e4e8;
}

.event_admin_requests_header {
	padding: 10px 18px 0;
}

.event_admin_requests_header_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 36px;
	margin-bottom: 12px;
}

.event_admin_requests_page_title_wrapper {
	max-width: 100%;
	transition: max-width .4s ease
}

.event_admin_requests_page_title {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.event_admin_requests_search_block {
	height: 100%;
	width: 0;
	min-width: 36px;
	transition: width .4s ease;
}

.event_admin_requests_search_bar {
	position: absolute;
	right: 0;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	text-align: right;
}

.event_admin_requests_search_bar_input {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 34px;
	margin: auto;
	padding: 0 54px 0 16px;
	font-size: .8125em;
	background-color: transparent;
	box-shadow: none;
	opacity: 0;
	transition: opacity .4s ease;
}

.event_admin_requests_search_block_button {
	width: 36px;
	height: 100%;
	border: 0;
	color: #c5c9d1;
	color: var(--color_primary_30);
	background-color: transparent;
	transition: color .4s ease;
}

.-open_search_bar .event_admin_requests_page_title_wrapper {max-width: calc(100% - 300px)}
.-open_search_bar .event_admin_requests_search_block {width: 300px}
.-open_search_bar .event_admin_requests_search_bar_input {opacity: 1}

.event_admin_requests_lists {
	height: calc(100% - 126px);
	margin: 0;
	box-shadow: inset 0 5px 8px -5px #e2e4e8, inset 0 -5px 8px -5px #e2e4e8;
}

.event_admin_requests_footer {
	padding: 8px 12px;
}

.event_admin_requests_list_scroll_wrapper,
.event_admin_requests_list_scroll {height: 100%}



.event_admin_no_request_items {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
	text-align: center;
	height: 1em;
	color: var(--color_primary_50);
	color: #c5c9d1;
}

.event_admin_request_item_content {
	display: flex;
}

.event_admin_request_item_aside {
	flex: none;
	margin-right: 12px;
}

.event_admin_request_item_body {width: 100%}

.event_admin_request_item_head {
	display: flex;
	justify-content: space-between;
	font-size: .875em;
}

.event_admin_request_item_head_text {
	font-weight: 500;
	color: #9fa6b3;
	color: var(--color_primary_50);
}

.event_admin_request_item_head_text + .event_admin_request_item_head_text {margin-left: 6px}

.event_admin_request_number {
	color: #657184;
	color: var(--color_primary_80);
}

.event_admin_request_item:hover .event_admin_request_number {
	color: #00dc88;
	color: var(--color_accent);
}

.event_admin_request_item_name {
	font-size: 1.125em;
	margin: 6px 0 12px;
}

.event_admin_request_item_footer {
	text-align: right;
}

.event_admin_request_item_footer > .action {
	margin-left: 18px;
}


.event_admin_request_detail_wrapper {
	width: 420px;
	margin: 22px auto;
}


.event_admin_request_detail_registration_form_title {
	margin: 38px auto;
	color: #9fa7b6;
	color: var(--color_primary_50);
	font-size: .8125em;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}

.event_admin_request_detail_header {display: flex}

.event_admin_request_detail_header_main {
	width: 100%;
}

.event_admin_request_detail_header_side {
	flex: none;
	margin-left: 12px;
}

.event_admin_request_detail_title {margin: 0 0 8px 0}

.event_admin_request_detail_registration_form_fields > .field,
.event_admin_request_detail_registration_form_fields > .fields_wrapper {
	margin: 38px 0 24px;
}

.event_admin_request_detail_subtitle,
.event_admin_request_detail_registration_form_fields .field_value {
	color: #2e3b50;
	color: var(--color_dark_primary);
	font-size: 1.125em;
	font-weight: 500;
}