<!doctype html>
<html lang="en" ng-app="LandingApp">
<head>
  <script src="js/angular.min.js"></script>
  <script src="js/ng-file-upload-shim.min.js"></script>
  <script src="js/ng-file-upload-all.min.js"></script>


  <link rel="stylesheet" href="css/angular-gridster.css"/>
  <!--<script src="bower_components/javascript-detect-element-resize/jquery.resize.js"></script>-->
  <script src="js/angular-gridster.min.js"></script>


  <script src="js/app.js"></script>

  <meta charset="utf-8">

  <!-- TITLE OF SITE -->
  <title>Nemo - Landing Page Template with Builder</title>

  <!-- META DATA -->
  <meta name="description" content="Ultimate all in one landing page template with drag and drop builder"/>
  <meta name="keywords" content="nemo, landing page, responsive, template, builder, drag and drop"/>
  <meta name="author" content="TemplateOcean">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- =========================
  FAV AND TOUCH ICONS
  ============================== -->
  <link rel="icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  <!-- =========================
  STYLESHEETS
  ============================== -->
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/font-awesome.min.css">

  <!-- FOR EXTERNAL PLUGINS -->
  <link rel="stylesheet" href="css/swiper.min.css"> <!-- Screenshot Slider -->
  <link rel="stylesheet" href="css/themes/default/default.css"> <!-- Nivo Lightbox -->
  <link rel="stylesheet" href="css/nivo-lightbox.css"> <!-- Nivo Lightbox Theme -->

  <!-- TYPOGRAPHY -->
  <link rel="stylesheet" id="font-switch" href="css/typography/typography-1.css">

  <!-- MAIN -->
  <link rel="stylesheet" href="css/style.css">

  <!-- TEMPLATE COLORS -->
  <link rel="stylesheet" id="color-switch" href="css/colors/green.css">

  <!-- TEMPLATE COLORS -->
  <link rel="stylesheet" href="css/spectrum.css">

  <!-- RESPONSIVE FIXES -->
  <!-- <link rel="stylesheet" href="css/responsive.css"> -->

  <!-- CSS FOR DEMO - NOT INCLUDED IN MAIN FILES -->
  <link rel="stylesheet" href="demo/demo.css">

  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->

</head>
<body class="body-container" ng-controller="WholeWorldController">
<!-- =========================
     NAVBAR 
============================== -->
<div class="navbar navbar-nemo appear-onscroll navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nemo-navigation"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar icon-bar-top"></span>
        <span class="icon-bar icon-bar-middle"></span>
        <span class="icon-bar icon-bar-bottom"></span>
      </button>

      <!-- YOUR LOGO -->
      <a class="navbar-brand" href="#">
        <img src="images/logo-alt.png" alt="">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="nemo-navigation">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#home">Главное</a></li>
        <li><a href="#speakers">{{data.speakers.title}}</a></li>
        <li><a href="#schedule">{{data.schedule.title}}</a></li>
        <li><a href="#testimonials">{{data.testimonials.title}}</a></li>
        <li><a href="#ticket-booking-1">{{data.tickets.title}}</a></li>
      </ul>
    </div>
  </div>
</div>


<!-- =========================
     EVENT HOME 1
============================== -->
<section class="home event-home-1 polygon-bg cover-bg" id="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1 text-center">
        <div class="logo-home">
          <!-- REPLACE WITH YOUR LOGO -->
          <img src="images/logo-white.png" alt="Your Logo">
        </div>

        <p class="heading-pre-suf text-center text-uppercase" contenteditable="true" ng-model="data.header.title">{{data.header.title}}</p>

        <h1 class="heading-text" contenteditable ng-model="data.header.subtitle">{{data.header.subtitle}}</h1>
        <p class="sub-heading" contenteditable ng-model="data.header.location_addresses">{{data.header.location_addresses}}</p>

        <div class="home-download-btn">

          <a href="" class="btn btn-white btn-lg"><span>Купить билеты</span></a>
          <!--<div class="stores-on text-center">-->
          <!--Hurry up!!! Only <strong>29</strong> left-->
          <!--</div>-->

        </div>
      </div>
    </div>  <!-- /.row -->
  </div>
</section>


<!-- =========================
     SMALL TEXT SECTION 
============================== -->
<div class="small-content-2 white-bg text-center">
  <div class="container">
    <p class="p_lr150 text-big text-dark" contenteditable ng-model="data.main_description">{{data.main_description}}</p>
  </div>
</div>


<!-- =========================
     SPEAKERS 
============================== -->
<section class="speakers speakers-1 secondary-bg" id="speakers">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div class="section-heading text-center">

          <h2 class="heading-text" contenteditable ng-model="data.speakers.title">{{data.speakers.title}}</h2>
          <hr class="lines">
          <p class="sub-heading" contenteditable ng-model="data.speakers.subtitle">{{data.speakers.subtitle}}</p>

        </div> <!-- /.section-heading -->
      </div>
    </div>  <!-- /.row -->

    <div class="row">
      <!-- Nav tabs -->
      <ul class="hero-tabs speakers-nav" gridster="data.speakers.gridOptions">
        <li role="presentation" class="col-md-3 col-sm-6 active" gridster-item="speaker"  ng-repeat="(uuid, speaker) in data.speakers.items">
          <div class="item-remover">
            <span class="fa fa-list drag-icon"></span>
            <span class="fa fa-remove remove-icon" ng-click="speaker.remove();"></span>
          </div>
          <!-- THUMBNAIL -->
          <figure class="speaker-intro secondary-color-bg" data-target="#speaker-{{speaker.uuid}}">
            <div class="img-scale">
              <img
                ngf-select=""
                ngf-drop=""
                ng-model="speaker.image"
                ngf-model-invalid="invalidFiles"
                ngf-model-options="modelOptionsObj"
                ngf-multiple="multiple"
                ngf-pattern="pattern"
                ngf-accept="acceptSelect"
                ng-disabled="disabled"
                ngf-capture="capture"
                ngf-drag-over-class="dragOverClassObj"
                ngf-validate="validateObj"
                ngf-resize="resizeObj"
                ngf-resize-if="resizeIfFn($file, $width, $height)"
                ngf-dimensions="dimensionsFn($file, $width, $height)"
                ngf-duration="durationFn($file, $duration)"
                ngf-keep="keepDistinct ? 'distinct' : keep"
                ngf-fix-orientation="orientation"
                ngf-max-files="maxFiles"
                ngf-ignore-invalid="ignoreInvalid"
                ngf-run-all-validations="runAllValidations"
                ngf-allow-dir="allowDir"
                class="drop-box ng-pristine ng-valid"
                ngf-drop-available="dropAvailable"
                ng-src="{{speaker.image.$ngfBlobUrl ? speaker.image.$ngfBlobUrl : speaker.image}}"
                alt="{{speaker.name}}"
                class="thumb">
            </div>
            <figcaption>
              <div class="icon-collapsed">
                <i class="icon svg-icon-plus"></i>
                <i class="icon svg-icon-minus-06 active"></i>
              </div>
              <h4 class="speaker-name" ng-model="speaker.name" contenteditable>{{speaker.name}}</h4>
              <p class="position text-uppercase" ng-model="speaker.company_name" contenteditable>
                {{speaker.company_name}}</p>
            </figcaption>
          </figure>

          <div class="speakers-bio secondary-color-bg" id="speaker-{{speaker.uuid}}">
            <p class="strong">{{speaker.name}}</p>
            <p ng-model="speaker.description" contenteditable>{{speaker.description}}</p>
          </div>
        </li>
        <!--Add item placeholder-->
        <div ng-click="data.speakers.addItem();" ng-hide="row.items.length > 3" class="text-center add-new-speaker">
          <i class="fa fa-plus add-icon" aria-hidden="true"></i>
          <strong>ДОБАВИТЬ СПИКЕРА</strong>
        </div>
        <!-- /END THUMBNAIL -->
      </ul>
    </div>  <!-- /.row -->
  </div>
</section>


<!-- =========================
     SCHEDULE 
============================== -->
<section class="descriptions schedule white-bg padding-120-75" id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div class="section-heading text-center">

          <h2 class="heading-text" contenteditable ng-model="data.schedule.title">{{data.schedule.title}}</h2>
          <hr class="lines">
          <p class="sub-heading" contenteditable ng-model="data.schedule.subtitle">{{data.schedule.subtitle}}</p>

        </div> <!-- /.section-heading -->
      </div>
    </div>  <!-- /.row -->

    <div class="row">
      <div class="col-md-12">
        <!-- TAB NAVIGATION -->
        <ul class="tab-btn" role="tablist" gridster="data.schedule.gridOptions">
          <li role="presentation" class="schedule-tab-title" gridster-item="day" ng-repeat="(uuid, day) in data.schedule.days track by day.uuid">
            <div class="item-remover">
              <span class="fa fa-list drag-icon"></span>
              <span class="fa fa-remove remove-icon" ng-click="day.remove();"></span>
            </div>
            <a class="days-tab-link" href="#day-{{day.uuid}}"
               aria-controls="day-{{day.uuid}}" role="tab" data-toggle="tab"><span ng-model="day.name" contenteditable>{{day.name}}</span></a>
          </li>
          <li role="presentation"><a href="#" ng-click="data.schedule.addDay($event)">Добавить день</a></li>
        </ul>

        <!-- TAB PANES -->
        <div class="schedule-content tab-content">
          <!-- DAY 1 -->
          <div role="tabpanel" class="tab-pane fade in schedule-tab" id="day-{{day.uuid}}"
               ng-repeat="day in data.schedule.days track by $index">

            <div class="row" ng-repeat="objective in day.items" gridster-item="objective" gridster="data.schedule.itemsGridOptions"> <!-- OBJECTIVE -->
              <div class="item-remover"><span class="fa fa-remove remove-icon" ng-click="objective.remove();"></span></div>
              <div class="col-md-2 col-sm-3 col-md-offset-1 mb30">
                <div class="objective-time">

                  <p ng-model="objective.time" contenteditable>{{objective.time}}</p>

                </div>
              </div>
              <div class="col-md-8 col-sm-9 mb50">
                <div class="objective secondary-color-bg">
                  <ul class="category">
                    <li>
                      <a href="#" ng-model="objective.text_1" contenteditable>{{objective.text_1}}
                      </a>
                    </li>
                    <li>
                      <a href="#" ng-model="objective.text_2" contenteditable>{{objective.text_2}}
                      </a>
                    </li>
                  </ul>
                  <h3 class="title-text"><a href="" ng-model="objective.title" contenteditable>{{objective.title}}</a>
                  </h3>
                  <p><a href="#" ng-model="objective.description" contenteditable>{{objective.description}}</a></p>
                </div>
              </div>
            </div> <!-- /END OBJECTIVE -->

            <div class="row"> <!-- OBJECTIVE -->
              <div class="col-md-2 col-sm-3 col-md-offset-1 mb30">
                <div class="objective-time">
                </div>
              </div>
              <div class="col-md-8 col-sm-9 mb50 add-new-objective" ng-click="day.addItem();">
                <div class="objective">
                  <i class="fa fa-plus add-icon" aria-hidden="true"></i>
                  <strong style="margin-top: 50px;">ДОБАВИТЬ ПУНКТ</strong>
                </div>
              </div>
            </div> <!-- /END OBJECTIVE -->

          </div> <!-- /END DAY 1 -->
        </div>
      </div>
    </div>  <!-- /.row -->
  </div>
</section>


<!-- =========================
     TESTIMONIALS 
============================== -->
<section class="testimonials testimonials-4 secondary-bg padding-120-75" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div class="section-heading text-center">

          <h2 class="heading-text" contenteditable ng-model="data.testimonials.title">{{data.testimonials.title}}</h2>
          <hr class="lines">
          <p class="sub-heading" contenteditable ng-model="data.testimonials.subtitle">{{data.testimonials.subtitle}}</p>

        </div> <!-- /.section-heading -->
      </div>
    </div>  <!-- /.row -->

    <div class="row">

      <div ng-repeat="item in data.testimonials.items" class="col-md-4 col-sm-8 col-xs-12 col-md-offset-0 col-sm-offset-2"> <!-- TESTIMONIAL ITEM -->
        <div class="testimonial-item secondary-color-bg text-center">

          <img
            ngf-select=""
            ngf-drop=""
            ng-model="item.image"
            ngf-model-invalid="invalidFiles"
            ngf-model-options="modelOptionsObj"
            ngf-multiple="multiple"
            ngf-pattern="pattern"
            ngf-accept="acceptSelect"
            ng-disabled="disabled"
            ngf-capture="capture"
            ngf-drag-over-class="dragOverClassObj"
            ngf-validate="validateObj"
            ngf-resize="resizeObj"
            ngf-resize-if="resizeIfFn($file, $width, $height)"
            ngf-dimensions="dimensionsFn($file, $width, $height)"
            ngf-duration="durationFn($file, $duration)"
            ngf-keep="keepDistinct ? 'distinct' : keep"
            ngf-fix-orientation="orientation"
            ngf-max-files="maxFiles"
            ngf-ignore-invalid="ignoreInvalid"
            ngf-run-all-validations="runAllValidations"
            ngf-allow-dir="allowDir"
            class="drop-box ng-pristine ng-valid thumb"
            ngf-drop-available="dropAvailable"
            ng-src="{{item.image.$ngfBlobUrl ? item.image.$ngfBlobUrl : item.image}}"
            alt="{{item.name}}">
          <blockquote contenteditable ng-model="item.text">{{item.text}}</blockquote>
          <p class="client-name" contenteditable ng-model="item.name">{{item.name}}</p>
          <p class="position" contenteditable ng-model="item.details">{{item.details}}</p>

        </div>
      </div> <!-- /END TESTIMONIAL ITEM -->


      <div class="col-md-4 col-sm-8 col-xs-12 col-md-offset-0 col-sm-offset-2" ng-click="data.testimonials.addItem()"> <!-- TESTIMONIAL ITEM -->
        <div class="testimonial-item secondary-color-bg text-center add-new-testimonial">
          <div class="thumb"></div>
          <i class="fa fa-plus add-icon" aria-hidden="true"></i>
          <strong style="margin-top: 50px;">ДОБАВИТЬ ЭЛЕМЕНТ</strong>
        </div>
      </div> <!-- /END TESTIMONIAL ITEM -->

    </div>  <!-- /.row -->
  </div>
</section>


<!-- =========================
     PHOTO GALLERY 
============================== -->
<section class="recap-gallery dark-image-bg gradient-overlay">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div class="section-heading text-center">

          <h2 class="heading-text" contenteditable ng-model="data.gallery.title">{{data.gallery.title}}</h2>
          <hr class="lines">
          <p class="sub-heading" contenteditable ng-model="data.gallery.subtitle">{{data.gallery.subtitle}}</p>

        </div> <!-- /.section-heading -->
      </div>
    </div>  <!-- /.row -->

    <div class="row">
      <div class="col-md-12">
        <a href="images/gallery/event-1.jpg" class="lightbox" data-lightbox-gallery="recap" title="John Doe on SVG">
          <!-- EVENT RECAP -->
          <figure class="recap-gallery-item">
            <div class="img-scale">
              <img src="images/gallery/event-1.jpg" alt="" class="img-responsive">
            </div>
            <figcaption class="recap-title">
              <h5 class="title-text text-center">John Doe on SVG</h5>
            </figcaption>
          </figure>
        </a> <!-- /END EVENT RECAP -->

      </div>
    </div>  <!-- /.row -->
  </div>
</section>


<!-- =========================
     TICKET BOOKING - 1
============================== -->
<section class="ticket-booking-1 padding-120-125 white-bg" id="ticket-booking-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div class="section-heading text-center">

          <h2 class="heading-text">БИЛЕТЫ</h2>
          <hr class="lines">
          <!--<p class="sub-heading">User story ideate thought leader thought leader physical computing user centered design-->
            <!--viral ship it earned media</p>-->

        </div> <!-- /.section-heading -->
      </div>
    </div>  <!-- /.row -->
  </div>
</section>


<!-- =========================
     SPONSORS  1
============================== -->
<div class="sponsors-1 secondary-bg text-center">
  <div class="container">
    <p class="heading-pre-suf mb50">Our Sponsors</p>
    <ul class="client-logo">
      <li><img src="images/clients/logo-1-dark.png" alt=""></li>
    </ul>

    <a href="" class="btn btn-trans btn-lg" ng-hide="!data.sponsors.become_a_sponsor_enabled">Become a Sponsor</a>

  </div>
</div>


<!-- =========================
     FAQ 
============================== -->
<section class="faqs faqs-2 padding-120-60">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">
        <div class="section-heading text-center">

          <h2 class="heading-text" contenteditable ng-model="data.faq.title">{{data.faq.title}}</h2>
          <hr class="lines">
          <p class="sub-heading" contenteditable ng-model="data.faq.subtitle">{{data.faq.subtitle}}</p>

        </div> <!-- /.section-heading -->
      </div>
    </div>  <!-- /.row -->

    <div class="row faqs-2-items">
      <div class="col-md-6 mb60" ng-repeat="item in data.faq.items track by item.uuid">
        <h5 class="title-text" contenteditable ng-model="item.question">{{item.question}}</h5>
        <p contenteditable ng-model="item.answer">{{item.answer}}</p>
      </div>
      <div class="col-md-6 mb60 add-new-faq-question" ng-click="data.faq.addItem()">
        <h5 class="title-text">
          <i class="fa fa-plus add-icon" aria-hidden="true"></i>
          <strong style="margin-top: 50px;">ДОБАВИТЬ ЭЛЕМЕНТ</strong>
        </h5>
      </div>
    </div>  <!-- /.row -->

  </div>
</section>


<!-- =========================
     OUR LOCATION 
============================== -->
<div class="map-container">
  <div id="mapBig" class="map cover-map"></div>

</div>


<!-- =========================
     SCRIPTS 
============================== -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/nivo-lightbox.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.localScroll.min.js"></script>
<script src="js/jquery.nav.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script src="js/matchMedia.js"></script>
<script src="js/jquery.mixitup.js"></script>
<script src="js/swiper.jquery.min.js"></script>
<script src="js/SVGinject.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.datetimepicker.full.min.js"></script>
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/spectrum.js"></script>
<script src="js/application.js"></script>

<!-- =========================================================
     STYLE SWITCHER | ONLY FOR DEMO NOT INCLUDED IN MAIN FILES
============================================================== -->
<script type="text/javascript" src="demo/demo.js"></script>
<div class="demo-style-switch" id="switch-style">
  <a id="toggle-switcher" class="switch-button" title="Change Styles"><span class="icon svg-adjust-vert"></span></a>
  <div class="switched-options">

    <div class="config-title">
      Цветовая тема :
    </div>
    <ul class="styles">
      <li>
        <div class="green color" id="green">
        </div>
      </li>

      <li>
        <div class="red color" id="red">
        </div>
      </li>

      <li>
        <div class="purple color" id="purple">
        </div>
      </li>

      <li>
        <div class="yellow color" id="yellow">
        </div>
      </li>

      <li>
        <div class="green-2 color" id="green-2">
        </div>
      </li>

      <li>
        <div class="blue color" id="blue">
        </div>
      </li>

      <li>
        <div class="gold color" id="gold">
        </div>
      </li>

      <li>
        <div class="pink color" id="pink">
        </div>
      </li>

      <li>
        <div class="violet color" id="violet">
        </div>
      </li>
    </ul>
    <input type="color" id="html5colorpicker" onchange="setGlobalColor()" value="#ff0000" style="width: 100%;">
  </div>
</div>

</body>
</html>