<script type="javascript/template" id="tmpl-modal-auth-content">
	<p class="auth_modal_heading">{note}</p>
	<div class="auth_modal_buttons_wrapper">
		<button class="auth_modal_button -color_vk AuthButton" data-auth_network="vk">
			<span class="auth_modal_button_icon fa fa-vk"></span>
			<span class="auth_modal_button_main">
				<span class="auth_modal_button_title">Войти через VK</span>
				<span class="auth_modal_button_note">Мы не публикуем записи без вашего разрешения</span>
			</span>
		</button>
		<button class="auth_modal_button -color_facebook AuthButton" data-auth_network="facebook">
			<span class="auth_modal_button_icon fa fa-facebook-official"></span>
			<span class="auth_modal_button_main">
				<span class="auth_modal_button_title">Войти через Facebook</span>
				<span class="auth_modal_button_note">Мы не публикуем записи без вашего разрешения</span>
			</span>
		</button>
		<button class="auth_modal_button -color_google AuthButton" data-auth_network="google">
			<img src="/app/img/google_icon.svg" class="auth_modal_button_icon">
			<span class="auth_modal_button_main">
				<span class="auth_modal_button_title">Войти через Google</span>
				<span class="auth_modal_button_note">Мы не рассылаем спам на вашу электронную почту</span>
			</span>
		</button>
	</div>
	<footer class="auth_modal_bottom -align_center">
		<button class="action -color_neutral -no_uppercase -font_weight_lighter HelpLink" data-article_id="471" type="button">Зачем мы используем вход через соц. сети</button>
	</footer>
</script>