<script type="javascript/template" id="tmpl-dropdown-export-formats">
	<div class="dropdown_box">
		<div class="dropdown_list DropDownList">
			<div class="dropdown_li">
				<a class="dropdown_button -size_wide -color_neutral RippleEffect" href="{xlsx_href}" target="_blank">Excel</a>
			</div>
			<div class="dropdown_li">
				<a class="dropdown_button -size_wide -color_neutral RippleEffect" href="{html_href}" target="_blank">HTML</a>
			</div>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-dropdown-event-edit-notifications">
	<div class="dropdown_box DropdownBox">
		<header class="dropdown_header">Настройка напоминания</header>
		<form class="dropdown_box_wrapper">
			{notifications}
		</form>
	</div>
</script>