:root {
	--color_primary: #3e4d66;
	--color_primary_80: #657184;
	--color_primary_50: #9fa6b3;
	--color_primary_30: #c5c9d1;
	--color_secondary: #5379b8;
	--color_accent: #f82969;
	--color_accent_alt: #ff5f9e;
	--color_franklin: #28be84;
	--color_franklin_alt: #23d792;

	--color_text: #4a4a4a;

	--color_background: #f6f6f6;
	--color_background_lighter: #f9f9fa;
	--color_page: #fff;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

.-centering,
.-h_centering {text-align: center}
.-centering,
.-h_centering > img {margin: 0 auto}

.-centering:before,
.-v_centering:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.-centering > *,
.-v_centering > * {
	display: inline-block !important;
	vertical-align: middle !important;
}

/* Main page */
/* header */
.position_main_part {
	padding: 58px 0 0;
}

.phones_otstup {
	margin: 0 0 20px;
}

.header_evendate {
	background-color: #3e4d66;
	background-color: var(--color_primary);
	box-shadow: 0 1px 14px 0 rgba(0, 0, 0, 0.2);
	position: fixed;
	width: 100%;
	height: 60px;
	z-index: 3;
}

.logo_link {
	position: relative;
	margin-left: 10px;
}

.logo {
	display: inline-block;
	height: 100%;
	width: calc(1/2*(100% - 1008px));
	cursor: pointer;
}

.float_logo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}

.menu_all_item_container {
	display: inline-block;
	vertical-align: top;
	width: 1008px;
}

.menu_item_container {
	display: inline-block;
	vertical-align: top;
	margin: 33px 0 0 0;
}

.menu_item_container_2 {
	margin: 33px 0 7px 0;
}

.menu_item_container+.menu_item_container {
	margin: 33px 0 0 26px;
}

.menu_item_text {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}

.menu_item_text:hover {
	color: #fff;
}

.menu_item_container_active {
	color: #fff;
	cursor: default;
}

.header_menu_line {
	height: 2px;
	background-color: #fff;
	margin: 7px 0 0 0;
}

.header_button_container {
	display: inline-block;
	vertical-align: top;
	float: right;
	margin: 15px 26px 0 0;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.header_button {
	width: 113px;
	height: 32px;
	border: none;
	border-radius: 3px;
	background-color: #f82969;
	cursor: pointer;
}

.header_button_text {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #fff;
}
/* /header */

/* Картинка */
.fon_img_main_page {
	background-size: cover;
	height: 521px;
	background-position-y: center;
	background-position-x: center;
}

/*
.con_mini {
	background-image: url(img/contacts.png);
}

.org_mini {
	background-image: url(img/org_mini.png);
}

.users_mini {
	background-image: url(img/users_mini.png);
}

.fon_img_mane_mini {
	background-image: url(img/main_mini.png);
}
*/

.fon_text_container {
	display: inline-block;
	vertical-align: top;
	padding: 142px 0;
	width: 515px;
	box-sizing: border-box;
}

.fon_text_container_users {
	width: 600px;
	padding: 127px 0 0;
}

.fon_text_top {
	font-family: 'Roboto', sans-serif;
	font-size: 41px;
	color: rgba(255, 255, 255, 1.0);
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.fon_text_bottom_container {
	margin: 28px 0 0 0;
}

.fon_text_bottom {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: lighter;
	color: rgba(255, 255, 255, 1.0);
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

.login_container {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	background: rgba(256, 256, 256, 0.3);
	margin: 170px 0 0 173px;
	width: 320px;
}

.login_container_text {
	padding: 30px 0;
}

.login_text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: rgba(255, 255, 255, 1.0);
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
}

.login_img_container {
	display: inline-block;
	vertical-align: top;
	padding: 0 28px 33px 33px;
}

.img_login {
	width: 45px;
	height: 45px;
	border-radius: 3px;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.login_button {
	width: 193px;
	height: 31px;
	border: none;
	border-radius: 3px;
	background-color: #e0e0e0;
	box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.5);
	cursor: pointer;
	display: none;
}

.login_button_text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 12px;
	color: #4a4a4a;
}
/* /Картинка */

/* Будь в курсе событий! */
.fon_article {
	background-color: #eef3f5;
}

.section_stay_in_touch {
	text-align: center;
	margin: auto;
	padding: 20px 0 2px 0;
	display: none;
}

.section_stay_in_touch_text_top {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 28px;
	color: rgba(74, 74, 74, 1.0);
}

.section_stay_in_touch_text_bottom_container {
	width: 673px;
	margin: auto;
	padding: 13px 0 18px;
}

.section_stay_in_touch_text_bottom {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(74, 74, 74, 1.0);
}

.section_steps {
	border-top: solid 1px #979797;
	border-bottom: solid 1px #979797;
	text-align: center;
}

.step_container {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 2/3*100% - 8px);
	padding: 36px 0;
	height: 245px;
}

.step_container_center {
	border-right: solid 1px #979797;
	border-left: solid 1px #979797;
}

.step_img {
	width: 210px;
	height: 175px;
}

.otstup {
	padding: 15px 0 0;
}

.step_text_container {
	margin: 25px 0 0 0;
}

.step_text {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: rgba(74, 74, 74, 1.0);
}
/* /Будь в курсе событий! */

/* Кто использует evendate? */
.article_content_container {
	width: 1008px;
	margin: auto;
	padding: 61px 0 0 0;
}

.line_blue_and_pink {
	height: 1px;
	background: linear-gradient(to right, #3e4d66, #f82969);
}

.content_text_header_container {
	margin: 25px 0 0 0;
	height: 0.5px;
}

.content_text_header_container_phones {
	width: 380px;
}

.content_text_header {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 28px;
	color: rgba(74, 74, 74, 1.0);
}

.who_use_container {
	display: inline-block;
	vertical-align: top;
	padding: 38px 0 33px 0;
	width: 434px;
}

.who_use_container+.who_use_container {
	margin: 0 0 0 140px;
}

.who_use_text_container {
	margin: 26px 0 0 0;
}

.arrow_img {
	height: 15px;
	width: 13px;
	padding: 0 0 0 10px;
}

.who_use_head_blue {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #3e4d66;
	display: inline-block;
	border-bottom: 1px solid #fff;
}

.who_use_head_pink {
	color: #f82969;
}

.for_users_hover:hover {
	border-bottom: 1px solid #3e4d66;
}

.for_org_hover:hover {
	border-bottom: 1px solid #f82969;
}

.who_use_text {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 18px;
	color: #4a4a4a;
}

.bottom_part_content {
	padding: 35px 0 0 0;
}

.phones_img_container {
	display: inline-block;
	vertical-align: top;
	width: 310px;
}

.phones_img_container_users {
	display: inline-block;
	vertical-align: top;
}

.phone_img_container {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 15px;
}

.phone_users_size {
	height: 345px;
}

.phone_img_container+.phone_img_container {
	padding: 0 0 0 70px;
}

.phones_img_style {
	width: 310px;
	height: 310px;
}

.bottom_content_container {
	display: inline-block;
	vertical-align: top;
	width: 420px;
	padding: 0 0 0 278px;
}

.download_container {
	display: inline-block;
	vertical-align: top;
	margin: 27px 0 0 0;

}

.download_container+.download_container {
	margin: 27px 0 0 92px;
}

.bottom_content_text_container {
	margin: 23px 0 0 0;
}
/* /Кто использует evendate? */

/* Кто мы? */
.bottom_article_and_footer {
	background: linear-gradient(to bottom, #eef3f5, #ffffff);
	position: relative;
	bottom: 5px;
}

.bottom_article_and_footer_size {
	width: 1008px;
	margin: auto;
	text-align: center;
}

.who_us_container {
	padding: 18px 0;
}

.who_us_text {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 20px;
	color: #4a4a4a;
}

.who_us_text_container {
	width: 673px;
	margin: auto;
	padding: 13px 0 10px;
}
/* /Кто мы? */

/* footer */

.footer_text_container {
	display: inline-block;
	vertical-align: top;
	margin: 15px 35px 15px 0;
	cursor: pointer;
}

.footer_text_left {
	float: left;
	display: inline-block;
}

.footer_text_container_sign {
	float: right;
	margin: 15px 0;
	cursor: default;
}

.footer_text {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4f4f4f;
}

.footer_text_active {
	color: #f82969;
	cursor: auto;
}

.footer_text_sign {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4f4f4f;
}

.footer_text:hover {
	color: #f82969;
}

/* /footer */

/* /Main page */

/* Users page */
/* Картинка */
.fon_img_users {
	background-image: url(img/about.jpg);
	background-size: cover;
	height: 521px;
	background-position-x: center;
}

.fon_users_text_container {
	width: 40%;
	padding: 6% 0 6% 11%;
}

.fon_text_users_bottom {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	color: #ffffff;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
}

.button_users {
	display: block;
	padding: 0 0 53px;
}

.button_fon_img_users_container {
	margin: 37px 0 0 0;
}

.button_fon_img_users_container+.button_fon_img_users_container {
	margin: 25px 0 0 0;
}

.button_fon_img_users {
	width: 228px;
	height: 41px;
	border: none;
	border-radius: 3px;
	background-color: #f82969;
	cursor: pointer;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.button_fon_img_users_bot {
	background-color: #e0e0e0;
	display: none;
}

.button_fon_img_users_bot_users {
	background-color: #e0e0e0;
}

.text_button_users_top {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #ffffff;
}

.text_button_users_bottom {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #4a4a4a;
}

/* /Картинка */

/* Серый фон */

.article_fon_users {
	background-color: #eef3f5;
	text-align: center;
}

.fon_users_section {
	width: 1008px;
	margin: auto;
	text-align: initial;
}

.make_your_life_container {
	padding: 23px 20% 0;
}

.user_text_section_container {
	padding: 25px 0 0 0;
}

.user_text_section_header {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 37px;
	color: rgba(74, 74, 74, 1.0);
}

.user_text_section_header_bot {
	font-size: 29px;
}

.steps_user_container {
	padding: 45px 0;
	margin: auto;
	width: 878px;
}

.step_user_container {
	display: inline-block;
	vertical-align: top;
}

.step_user_container_2 {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

.step_user_img {
	width: 253px;
	height: 225px;
}

.user_step_content_container {
	display: inline-block;
	vertical-align: top;
	width: 434px;
	margin: 61px 0 0 180px;
	text-align: center;
}

.user_step_content_container_2 {
	margin: 61px 180px 0 0;
}

.step_user_text_header {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 27px;
	color: rgba(74, 74, 74, 1.0);
}

.step_user_text {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(74, 74, 74, 1.0);
}

.step_user_text_bot_container {
	margin: 31px 0 0 0;
}
/* /Серый фон */

/* footer */
.join_text_container {
	padding: 30px 0;
}

.join_text_container_inside {
	display: inline-block;
	vertical-align: top;
	width: 410px;
	text-align: center;
	padding: 135px 90px 0 0;
}

.phone_img_user_container {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 71px 0;
}

.phone_img_user_container+.phone_img_user_container {
	margin: 0 0 71px 97px;
}

.download_img {
	cursor: pointer;
	width: 130px;
}

/* /footer */

/* /Users page */

/* Organizers */

.fon_img_organizers {
	background: url(img/organizers.jpg) no-repeat;
	background-size: 100%;
}

.fon_users_text_container_org {
	text-align: center;
	margin: auto;
	padding: 103px 0;
	width: 712px;
}

.button_fon_img_users_container_org {
	display: inline-block;
	margin: 35px 70px 0 0;
}

.button_fon_img_users_container_org+.button_fon_img_users_container_org {
	margin: 35px 0 0 0;
}

/* form */
.blank_article_container {
	width: 1008px;
	margin: auto;
}


.join_org_container {
	width: 500px;
	margin: auto;
	text-align: center;
	padding: 61px 0 0 0;
}

.form_container {
	margin: auto;
	text-align: center;
	padding: 48px 60px 86px;
	width: 899px;
}

.field_container {
	background: linear-gradient(to right,  #3e4d66, #f82969);
	border-radius: 3px;
	margin: 20px 0 0;
	padding: 1px;
}


.field_container_question {
	height: 159px;
}


.form_style {
	display: block;
	width: 100%;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #4f4f4f;
	padding: 12px 0 12px 9px;
}

.status-error {
	border: 1px solid #f00;
	margin: 0;
}

.form_style_message {
	height: 100%;
	resize: none;
}

.text_header_form_container {
	margin: 0 0 15px;
}

.button_fon_img_users_container_form {
	margin: 20px calc(100% - 230px) 0 0;
	display: inline-block;
}
/* /form */

/* /Organizers */

/* About Evendate */

.article_fon_about_us {
	background: linear-gradient(to bottom, #eef3f5, #ffffff);
}

.section_about_us_size {
	width: 1008px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.fon_img_about_evendate {
	background: url("img/about.jpg");
	background-size: 100%;
	padding: 438px 0 0;
}

.about_us_menu_item {
	padding: 30px 0 17px;
	margin: auto;
	text-align: center;
}

.about_us_item {
	display: inline-block;
	vertical-align: top;
}

.about_us_item+.about_us_item {
	margin: 0 0 0 200px;
}

.contacts_item {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 385px;
}

.about_us_text_header {
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	font-size: 15px;
	color: #4a4a4a;
	cursor: pointer;
}

.about_us_text_header:hover {
	color: #f82969;
}

.about_us_text_header_active {
	color: #f82969;
	cursor: default;
}

.about_us_content_container {
	padding: 25px 0;
	position: relative;
	width: 3054px;
	top: 0;
	right: 0;
	transition: right .7s ease, height .7s ease;
}

.about_us_content_text_container {
	display: inline-block;
	vertical-align: top;
	width: 47%;
}

.contacts_text_container {
	display: inline-block;
	vertical-align: top;
	width: 540px;
}

.about_us_content_text_container+.about_us_content_text_container {
	margin: 0 0 0 6%;
}

.all_network_container {
	text-align: center;
	padding: 40px 0 0;
}

.network_container {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 25px 0;
	cursor: pointer;
	border-radius: 3px;
	border: solid 1px #979797;
}

.network_container+.network_container {
	margin: 0 0 25px 13%;
}

.network_icon {
	display: inline-block;
	vertical-align: top;
	padding: 10px 5px 10px 10px;
}

.network_icon+.network_icon {
	padding: 10px 25px 10px 10px;
}

.icon {
	font-size: 24px;
}

.network_text {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

.network_text_twitter {
	color: #1dadeb;
}

.network_text_vk {
	color: #4c6c91;
}

.network_text_inst {
	color: #567d9f;
}

.network_img {
	width: 200px;
	height: 46px;
	cursor: pointer;
}

/* о нас (фоточки) */
.photos_container {
	display: flex;
}

.team_text_container {
	margin: 25px 0 42px;
}

.team_all_photo_container {
	text-align: center;
	width: 938px;
	margin: auto;
}

.team_photo_container {
	display: inline-block;
	width: 158px;
	height: 158px;
	margin: 12px 0 0;
	border-radius: 3px;
	position: relative;
	background-position-x: center;
}

.team_photo_container+.team_photo_container {
	margin: 12px 0 0 12px;
}

.team_name_container {
	border-radius: 3px;
	width: 100%;
	position: absolute;
	bottom: 3px;
}

.team_name_fon {
	height: 100%;
	background: linear-gradient(to bottom, transparent 50%, #000000);
	opacity: 0;
	border-radius: 3px;
}

.team_name_fon:hover {
	opacity: 1;
}

.team_first_name_text {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: bolder;
	color: #e2e2e2;
}

.team_name_text {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: lighter;
	color: #e2e2e2;
}


/* /о нас (фоточки) */


/* /About Evendate */

/* Contacts */
.fon_img_contacts {
	background: url("img/support.jpg");
	background-size: 100%;
	padding: 438px 0 0;
}

.contacts_download_container {
	display: inline-block;
	vertical-align: top;
	width: 460px;
	padding: 0 0 0 0;
}

.contacts_download {
	margin: 0 100px 0 130px;
	cursor: pointer;
	border-radius: 3px;
	border: solid 1px #979797;
}

.contacts_download+.contacts_download {
	margin: 41px 100px 0 130px;
}

.contacts_container {
	padding: 43px 0;
	position: relative;
	width: 2036px;
	top: 0;
	right: 0;
	transition: right .7s ease, height .7s ease;
}

.contacts_container_support {
	right: 1008px;
}

.about_us_organizers_slider {
	right: 2016px;
}


/* Слайды */
.wrapper_contacts { /* ЦЕНТР */
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 0 0;
	width: 1008px;
}


.wrapper_contacts_about_us { /* ЦЕНТР */
	display: inline-block;
	vertical-align: top;
	width: 1008px;
}

/* /Слайды */

.support_content_container {
	text-align: center;
}

.form_support {
	width: 899px;
	margin: auto;
}

/* /Contacts */

.position_in_fon {
	width: 1008px;
	margin: auto;
}

#wrapper_about_us_1 {
	height: 265px;
}

#wrapper_about_us_2 {
	height: 835px;
}

#wrapper_about_us_3 {

}

#wrapper_contacts {
	height: 220px;
}

#wrapper_support {
	height: 434px;
}

/* Modal_login */
#modal_form {
}

.modal_form {
	width: 355px;
	height: 276px; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2);
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 45%; /* oтступaем сверху 45%, oстaльные пoдвинет скрипт */
	left: 50%; /* пoлoвинa экрaнa слевa - 150px половина ширины модалки*/
	margin-top: -138px;
	margin-left: -177px;  /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) (ГРЯЗНЫЙ ХАК!)*/
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 5; /* oкнo дoлжнo быть нaибoлее бoльшем слoе (наверное)*/
}
/* Кнoпкa зaкрыть */
#modal_form #modal_close {
}

.modal_close {
	width: 15px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 13px;
	cursor: pointer;
	display: block;
	font-family: 'Roboto', sans-serif;
}
/* /Кнoпкa зaкрыть */
/* Пoдлoжкa */
#overlay {
}


.overlay { /* Подложка */
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color: #fff; /* белая */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.6; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80); /* какой-то фильтр */
	width:100%;
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer; /* Указывает на то, что можно нажать на подложку и модалка закроется */
	display:none; /* в oбычнoм сoстoянии её нет) */
}

#modal_form_login {
	display: none;
	width: auto;
	height: auto;
	margin-left: -300px;
	margin-top: -220px;
}
#modal_form_login iframe {
	border: 0;
}
/* Кнoпкa зaкрыть */
#modal_form_login #modal_close_login {
	width: 15px;
	height: 16px;
	position: absolute;
	top: 10px;
	right: 13px;
	cursor: pointer;
	display: block;
	font-family: 'Roboto', sans-serif;
}
/* /Кнoпкa зaкрыть */
/* Пoдлoжкa */
#overlay_login {
	z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color: #fff; /* белая */
	opacity:0.8; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.6; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=80);
	width:100%;
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}


.top_part_modal {
	height: 46px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
	margin: 0;
}

.bot_part_modal {
	text-align: center;
	padding: 15px 0;
}

.top_part_enter {
	padding: 13px 0 0 22px;
}

.modal_img {
	width: 228px;
	height: 39px;
	border-radius: 3px;
	cursor: pointer;
}

.modal_img_container {
	width: 230px;
	margin: 0 auto;
}

.modal_img_container+.modal_img_container {
	margin: 15px auto 0;
}

.modal_top_header_text {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #f82969;
}

.modal_bot_header_text {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: rgba(74, 74, 74, 0.6);
}

.img_loader {
	width: 355px;
	height: 276px;
}
/* /Modal_login */
.mask-loading {
	width: 100%;
	height: 100%;
}

.spinner {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}

.sss {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background-color: #f82969;
}

.double-bounce1, .double-bounce2 {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #f82969;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;

	-webkit-animation: sk-bounce 2.4s infinite ease-in-out;
	animation: sk-bounce 2.4s infinite ease-in-out;
}

.double-bounce2 {
	-webkit-animation-delay: -1.4s;
	animation-delay: -1.4s;
}

@-webkit-keyframes sk-bounce {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
	0%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	} 50% {
		  transform: scale(1.0);
		  -webkit-transform: scale(1.0);
	  }
}


/* @media*/
@media (min-width:768px) and  (max-width:1325px){
	.logo {
		width: auto;
	}

	.menu_all_item_container {
		padding: 0 0 0 30px;
		width: auto;
	}

	.login_container {
		margin: 169px 0 0 65px;
	}

	.fon_text_container {
		padding: 142px 0 0 45px;
		text-align: center;
	}

	.fon_img_main_page {
		background-position-x: center;
	}

	/* Users */
	.fon_text_container_users {
		padding: 65px 0 65px 142px;
		display: inline-block;
		width: 882px;
	}

	.button_users {
		display: block;
		padding: 0 0 53px 368px;
	}
	/* /Users */
	/* Organizers */

	/* /Organizers */
	/* About_evendate */
	.fon_img_about_evendate {
		padding: 165px 0;
	}

	/* /About_evendate */
	/* contacts */
	.fon_img_contacts {
		padding: 165px 0;
	}

	/* /contacts */
}

@media (max-width:769px) {
	.logo {
		width: auto;
	}
	.menu_all_item_container {
		width: auto;
		padding: 0 0 0 10px;
	}
	.fon_text_container {
		display: block;
		padding: 0 0 57px 57px;
		width: 700px;
		text-align: center;
	}
	.fon_text_bottom_container {
		margin: 10px 0 0 0;
	}
	.logo_text_style_container {
		display: none;
	}

	.position_in_fon {
		padding: 60px 0 52px;
		width: auto;
	}
	.login_container_text {
		padding: 20px 0;
	}
	.login_container_text {
		padding: 20px 0;
	}
	.login_container {
		margin: 0 0 0 224px;
	}

	.step_container {
		height: 290px;
	}
	/*
	.step_container_center {
		border-top: solid 1px #979797;
		border-bottom: solid 1px #979797;
	}*/
	.article_content_container {
		width: 700px;
		margin: auto;
		padding: 35px 0 0 0;
	}

	.who_use_text_container {
		margin: 12px 0 0 0;
	}

	.who_use_container {
		width: auto;
		padding: 18px 0 18px 0;
	}

	.who_use_container+.who_use_container {
		margin: 0;
	}

	.bottom_content_container {
		width: 330px;
		padding: 0 0 0 60px;
	}

	.content_text_header_container_phones {
		width: auto;
	}

	.download_container+.download_container {
		margin: 27px 0 0 30px;
	}

	.bottom_article_and_footer_size {
		width: 700px;
	}
	/**/
	.button_fon_img_users_container {
		margin: 37px 0 0 27px;
	}

	.button_users {
		display: block;
		padding: 0 0 53px 237px;
	}

	.fon_users_section {
		width: 700px;
	}

	.steps_user_container {
		width: 700px;
	}

	.user_step_content_container {
		width: 393px;
		margin: 61px 0 0 50px;
	}

	.user_step_content_container_2 {
		margin: 61px 50px 0 0;
	}

	.join_text_container_inside {
		padding: 20px 0 30px;
		width: 415px;
	}

	.phones_img_container_users {
		padding: 0 0 15px;
	}

	.fon_users_text_container_org {
		padding: 71px 0;
	}

	.blank_article_container {
		width: 700px;
	}

	.join_org_container {
		width: 600px;
	}

	.form_container {
		width: 600px;
	}



	.section_about_us_size {
		width: 700px;
	}

	.about_us_item+.about_us_item {
		margin: 0 0 0 90px;
	}
	#wrapper_about_us_1 {
		height: 371px;
	}

	.wrapper_contacts_about_us {
		width: 700px;
	}

	.about_us_content_container {
		width: 2100px;
	}

	.network_container+.network_container {
		margin: 0 0 25px 20px;
	}

	.team_all_photo_container {
		width: 700px;
	}

	.contacts_container_support {
		right: 700px;
	}

	.about_us_organizers_slider {
		right: 1400px;
	}

	.form_support {
		width: 599px;
	}

	.contacts_text_container {
		width: 450px;
	}

	.contacts_download_container {
		width: 230px;
		padding: 0 0 0 0;
	}

	.contacts_download {
		margin: 0;
	}

	.contacts_download+.contacts_download {
		margin: 41px 0 0 0;
	}
	.contacts_container_support {
		right: 700px;
	}

	.wrapper_contacts {
		width: 700px;
	}

	.fon_img_mane_mini {
		background-image: url(img/Main.jpg);
	}

	.users_mini {
		background-image: url("img/Users.jpg");
	}

	.org_mini {
		background-image: url(img/Organizers.jpg);
	}

	.con_mini {
		background-image: url(img/Support.jpg);
	}

	.team_photo_container {
		background-position-x: center;
	}
}
/* /@media*/


