<script type="javascript/template" id="tmpl-statistics-overview-wrapper">
	<!--<div class="page statistics_overview_activity"></div>-->
	<div class="statistics_overview_wrapper StatOverviewOrganizations">
		{organizations}
	</div>
</script>

<script type="javascript/template" id="tmpl-statistics-overview-organizations">
	<div class="statistics_overview_wrapper">
		<h3 class="statistics_overview_heading">{heading}</h3>
		{organizations}
	</div>
</script>

<script type="javascript/template" id="tmpl-statistics-overview-organization">
	<div class="page organization_card">
		<aside class="organization_card_side">
			<a href="/statistics/organization/{id}" class="avatar -size_100x100 link Link">
				<img src="{img_medium_url}" onerror="this.onerror=null;this.src='/app/img/brand_logo.png'">
			</a>
		</aside>
		<div class="organization_card_content">
			<a href="/statistics/organization/{id}" class="organization_card_title link Link">{short_name}</a>
			<div class="organization_card_info">
				<span class="organization_card_field">{future_events}</span>
				<span class="organization_card_field">{subscribers}</span>
			</div>
			<div class="organization_card_bottom">
				<div class="organization_card_avatars">{admins}</div>
				<div class="organization_card_avatars -hidden">{moderators}</div>
				<div class="organization_card_buttons">{buttons}</div>
			</div>
		</div>
	</div>
</script>