.event_block {
	display: flex;
	height: 148px;
	padding: 12px;
}

.event_block_img {
	width: 220px;
	height: 100%;
	cursor: pointer;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
}

.event_block_info {
	width: -webkit-calc(100% - 220px);
	width: calc(100% - 220px);
	height: 100%;
	padding: 2px 0 6px 12px;
}

.event_block_title {
	height: -webkit-calc(3em * 1.3);
	height: calc(3em * 1.3);
	font-size: 1.05em;
	font-weight: bold;
	line-height: 1.3;
	overflow: hidden;
}

.event_block_service .avatars_collection {cursor: pointer}

.event_block_service > p {margin: 0}

.event_block_action_buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.event_block_add_avatar_wrapper,
.event_block_action_buttons_wrapper {margin: 6px 0}
.event_block_action_buttons_wrapper > .button + .button {margin-left: 6px}
.event_block_main_action_button {width: 180px}