.help_link {
	cursor: pointer;
}

button.help_link {
	font-size: .9em;
	color: #337ab7;
	border: none;
	border-bottom: 1px dashed;
	background-color: transparent;
}

h1.help_link:after,
h2.help_link:after,
h3.help_link:after,
h4.help_link:after,
h5.help_link:after,
h6.help_link:after,
label.help_link:after,
button.help_link:before {
	display: inline;
	font-family: FontAwesome;
}

h1.help_link:after,
h2.help_link:after,
h3.help_link:after,
h4.help_link:after,
h5.help_link:after,
h6.help_link:after,
label.help_link:after {content: ' \f059'}

button.help_link:before {content: '\f059\ '}

h1.help_link:hover:after,
h2.help_link:hover:after,
h3.help_link:hover:after,
h4.help_link:hover:after,
h5.help_link:hover:after,
h6.help_link:hover:after,
label.help_link:hover:after {color: #337ab7}