.material {background-color: #fff}

.material.-dark_material {
	background-color: #3e4d66;
	color: #fff;
}

@supports (--custom_properties: 1) {
	.material {
		background-color: var(--color_page);
		box-shadow: var(--material_shadow);
		border-radius: var(--material_border_radius);
	}

	.material.-level_2_material {--material_shadow: var(--material2_shadow)}
	.material.-floating_material {--material_shadow: var(--floating_material_shadow)}
	.material.-dark_material {background-color: var(--color_primary)}
}

@supports not (--custom_properties: 0) {
	.material {
		box-shadow: 0 0 4px hsla(0,0%,0%,.08);
		border-radius: 3px;
	}

	.material.-level_2_material {box-shadow: 0 1px 7px hsla(0,0%,0%,.2)}

	.material.-floating_material {box-shadow: 0 2px 15px hsla(0,0%,0%,.2)}
}