.order_status {
	font-size: .6875rem;
	font-weight: bold;
	text-transform: uppercase;
}

.order_status:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	margin-right: 8px;
	border-radius: 50%;
}

@supports (--custom_properties: 1) {
	.order_status {
		--order_status_color: var(--color_primary_50);
		color: var(--order_status_color);
	}
	.order_status:before {background-color: var(--order_status_color)}

	.order_status.-order_status_success {--order_status_color: var(--color_franklin)}
	.order_status.-order_status_warning {--order_status_color: var(--color_warning)}
	.order_status.-order_status_error {--order_status_color: var(--color_error)}
}

@supports not (--custom_properties: 0) {
	.order_status {color: #9fa6b3}

	.order_status.-order_status_success {color: #00dc88}
	.order_status.-order_status_success:before {background-color: #00dc88}

	.order_status.-order_status_warning {color: #ff9f00}
	.order_status.-order_status_warning:before {background-color: #ff9f00}

	.order_status.-order_status_error {color: #fd7b6e}
	.order_status.-order_status_error:before {background-color: #fd7b6e}
}