.progress_bar {

}

.progress_bar_strip {
	width: 100%;
	height: 8px;
	border-radius: 100px;
	background-color: #e2e4e8;
	overflow: hidden;
}

.progress_bar_strip_complete {
	width: 0;
	height: 100%;
	border-radius: 100px;
	background-color: #00dc88;
	background-color: var(--color_franklin);

	-webkit-transition: width .2s ease;
	transition: width .2s ease;
}

.progress_bar.-with_label {
	display: flex;
	align-items: center;
}

.progress_bar.-with_label:after {
	margin: 0 12px;
	font-size: .875em;
	font-weight: 500;
	color: #9fa6b3;
	color: var(--color_primary_50);
}

.progress_bar.-with_label[data-abs_number][data-abs_of]:not([data-abs_number=""]):not([data-abs_of=""]):after {content: attr(data-abs_number) '/' attr(data-abs_of)}
.progress_bar.-with_label[data-abs_of=""][data-percentage]:after,
.progress_bar.-with_label[data-abs_number=""][data-percentage]:after,
.progress_bar.-with_label:not([data-abs_number]):not([data-abs_of])[data-percentage]:after {content: attr(data-percentage) '/100%'}