.scoreboard {
	margin: 1em 0;
}


.scoreboard_number {
	display: block;
	font-size: 2.3em;
	font-weight: bold;
	white-space: nowrap;
}

.scoreboard_dynamic {
	margin: 6px 0 12px;
	font-size: 14px;
	font-weight: 400;
	white-space: nowrap;
}

.scoreboard_dynamic_icon {
	display: inline-block;
	vertical-align: sub;
	height: 24px;
	font-size: 24px;
	line-height: 14px;
	margin: 0 .1em 0 0;
}

.scoreboard_title {
	font-size: .88em;
	font-weight: 500;
	color: #9fa6b3;
	color: var(--color_primary_50);
}


.scoreboard.-size_normal > .scoreboard_number {font-size: 1.75em}

.scoreboard.-size_big > .scoreboard_number {font-size: 2.75em}
.scoreboard.-size_big > .scoreboard_title {font-size: 1.25em}

.scoreboard.-size_huge > .scoreboard_number {font-size: 4.2em}
.scoreboard.-size_huge > .scoreboard_title {font-size: 1.5em}

.scoreboard.-color_accent > .scoreboard_title,
.scoreboard.-color_accent > .scoreboard_number {
	color: #f82969;
	color: var(--color_accent);
}

.-state_admin .scoreboard.-color_accent > .scoreboard_title,
.-state_admin .scoreboard.-color_accent > .scoreboard_number {
	color: #00dc88;
	color: var(--color_accent);
}
