/**
 * @requires avatar_block.css
 */
.subscriber {
	display: block;
	padding: 6px 12px;
	cursor: pointer;
}

.subscriber + .subscriber {margin-top: 0}

.subscriber:hover {background-color: #f6f6f6}

.subscriber.-active {
	background-color: #f82969;
	color: #fff;
}

.-state_admin .subscriber.-active {background-color: #00dc88}

@supports (--custom_properties: 1) {
	.subscriber:hover {background-color: var(--color_gray_material)}
	.subscriber.-active {background-color: var(--color_accent)}
}