/*
|----------------------------------------------------------------------------
| GREEN COLOR THEME
|----------------------------------------------------------------------------
*/
/*
	BASE COLOR CODE: #00cdaf
	BASE COLOR END (FOR GRADIENT): #00cd91
	HOVER COLOR: #04a878
*/
/******************** GLOBAL STYLES ********************/

html{
  --base-num: 0, 205, 175;
  --accent-num: 0, 205, 145;
  --base: rgb(var(--base-num));
  --accent: rgb(var(--accent-num));
  --base-transparent: rgba(var(--base-num), 0.9);
  --accent-transparent: rgba(var(-accent-num), 0.9);
  --base-transparent-07: rgba(var(--base-num), 0.7);
  --accent-transparent-07: rgba(var(-accent-num), 0.7);
  --base-transparent-02: rgba(var(--base-num), 0.2);
  --accent-transparent-02: rgba(var(-accent-num), 0.2);
  --transparent: rgba(0, 205, 175, 0);

  --overlay-opacity: 0.4;
}

a {
  color: var(--base);
}
.text-color {
  color: var(--base);
}
.icon svg {
  fill: var(--base);
}
.shape-bg {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
.gradient-bg {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
.icon-border-1 {
  border: 1px solid var(--base);
}
.icon-border-2 {
  border: 2px solid var(--base);
}
.btn-base {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
.btn-base:after {
  background: var(--base-transparent-07);
}
.btn-trans {
  color: var(--base);
  border: 2px solid var(--base);
}
.btn-trans .icon {
  fill: var(--base);
}
.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active {
  background-color: var(--base-transparent-07);
  border-color: var(--accent-transparent-07);
}
.btn-white {
  color: var(--base);
}
.tab-btn li.active a {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
.filter-buttons .active {
  color: var(--base);
}
/******************** NAVBAR STYLE ********************/
.navbar-nemo .navbar-nav > li > a:hover,
.navbar-nemo .navbar-nav > li > a:focus {
  color: var(--base);
}
.navbar-nemo .navbar-nav > .active > a {
  color: var(--base);
}
.navbar-toggle {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
/******************** SECTION STYLES ********************/
.gradient-overlay:before {
  background-image: linear-gradient(to bottom right, rgba(40, 40, 40, 0.23), rgba(0, 205, 175, 0.23));
}
.transparent-overlay:before {
  background-image: linear-gradient(to bottom right, var(--base-transparent), var(--base-transparent));
}
.transparent-overlay.photography-home:before {
  background-image: linear-gradient(to bottom right, var(--base-transparent-07), var(--base-transparent-07));
}
.polygon-bg {
  background-image: url(../../images/polygon-bg/green.jpg);
}
.section-heading .lines {
  border-top: 2px solid var(--base);
}
.section-heading .lines:before,
.section-heading .lines:after {
  border-top: 2px solid var(--base);
}
.heading-pre-suf:before,
.heading-pre-suf:after {
  background-color: var(--base);
}
/* SWIPER BULLETS */
.swiper-pagination-bullet-active {
  background-color: var(--base);
}
.event-info {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
.event-info.white-bg {
  color: var(--base);
}
.event-info.white-bg .heading-text {
  color: var(--base);
}
/******************** FORMS ********************/
.form-control:focus {
  border-color: var(--base);
}
.input-group .form-control {
  box-shadow: 0 0 20px 2px rgba(0, 205, 175, 0.06);
}
.form-standard:focus {
  border-color: var(--base);
}
.form-underlined .form-control:focus {
  border-color: var(--base);
}
.select-radio input[type="radio"]:checked + label {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
.select-outer:after {
  border-color: var(--base) transparent transparent;
}
.select-outer .form-inline-input {
  color: var(--base);
}
.form-widget .btn-trans {
  background-color: rgba(0, 205, 175, 0.05);
}
.select-item input[type="checkbox"]:before {
  border: 2px solid var(--base);
}
.select-item input[type="checkbox"]:checked:after {
  background-color: var(--base);
}
.select-item .form-control {
  color: var(--base);
}
.nav-btn-tabs .active .btn {
  border-color: var(--base);
  color: var(--base);
}
.order-list li:before {
  color: var(--base);
}
.select-dropdown .form-standard {
  color: var(--base);
}
.radio-standard input[type="radio"]:checked + label:after {
  background-color: var(--base);
}
.radio-standard label:before {
  border: 1px solid var(--base);
}
.order-select-menu .form-control {
  color: var(--base);
}
.total-payment:before {
  color: var(--base);
}
.total-payment span {
  color: var(--base);
}
/******************** DESCRIPTIONS ********************/
.desc-title .title-element {
  background-image: linear-gradient(to bottom right, var(--base-transparent), var(--accent-transparent));
}
.objective-time {
  color: var(--base);
}
/******************** FEATURES SECTIONS ********************/
.feature-side-content.active .title-text,
.feature-side-content:hover .title-text {
  color: var(--base);
}
.feature-side-content.active .icon-shape,
.feature-side-content:hover .icon-shape {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
/******************** GALLERY STYLE ********************/
.gallery-img-pop .hover-effect {
  background-image: linear-gradient(to bottom right, var(--base-transparent-07), var(--accent-transparent-07));
}
/******************** OTHERS ********************/
.speakers-1 .speaker-intro figcaption {
  border-top: 3px solid var(--base);
}
.img-hover-content:hover .img-intro {
  background-image: linear-gradient(to bottom right, var(--transparent), var(--transparent));
}
.img-hover-content .overlay-content {
  background-image: linear-gradient(to bottom right, var(--base-transparent), var(--accent-transparent));
}
.img-hover-content .img-intro {
  background-image: linear-gradient(to bottom right, var(--base-transparent-02), var(--accent-transparent-02));
}
.img-hover-content .btn-trans:hover {
  color: var(--base);
}
.restaurant-menu .title-text {
  color: var(--base);
}
.panel-faqs .title-text a {
  color: var(--base);
}
.panel-schedule .schedule-time:after {
  border-left: 2px solid var(--base);
}
.post-preview .post-type {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
.post-preview .category {
  color: var(--base);
}
.speakers-1 .speaker-intro .icon-collapsed {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
/******************** PRICING TABLE ********************/
.pricing-table-1 .price {
  color: var(--base);
}
.pricing-table-1 .featured .pricing-element {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
.pricing-table-2 .pricing-element .price {
  border: 2px solid var(--base);
  color: var(--base);
}
.pricing-table-2 .pricing-element.featured {
  border-color: var(--base);
}
.pricing-table-2 .pricing-element.featured .package {
  color: var(--base);
}
.pricing-table-2 .pricing-element.featured .price {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
.pricing-table-2 .pricing-element.featured .btn-trans {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
.pricing-table-2 .pricing-element.featured .btn-trans:hover {
  background-image: linear-gradient(to bottom right, var(--accent), var(--accent));
}
.pricing-element-3 .price {
  color: var(--base);
}
.pricing-element-3.featured {
  background-image: linear-gradient(to bottom right, var(--base), var(--accent));
}
/******************** SCREENSHOTS ********************/
.screenshots-2 .screen-title {
  color: var(--base);
}
.screenshots-2 .screen-no {
  border: 1px solid var(--base);
}
/******************** TESTIMONIAL ********************/
.testimonials .client-name {
  color: var(--base);
}
.testimonials-4 .thumb {
  background-color: var(--base);
}
.blockquote-gradient-bg {
  background-image: linear-gradient(to bottom right, var(--base-transparent), var(--accent-transparent));
}
/******************** FOOTER STYLES ********************/
.footers .socialize a:hover .icon svg {
  fill: var(--base);
}
/******************** TRIANGLE BG ********************/
.triangle-bg svg .start {
  stop-color: var(--base);
}
.triangle-bg svg .end {
  stop-color: var(--accent);
}

/*# sourceMappingURL=green.css.map */