.demo-style-switch .config-title {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000;
    border-bottom: 1px dotted #CCCCCC;
    border-top: 1px dotted #CCCCCC;
    margin-bottom: 5px;
    margin-top: 10px;
}

.demo-style-switch ul {
    margin-bottom: 10px;
}

.demo-style-switch ul .active a {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    color: #005885;
    font-weight: 400;
}

.demo-style-switch ul .p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
}

.demo-style-switch ul li:hover {
    cursor: pointer;
}

.demo-style-switch ul li a {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    font-size: 12px;
    color: #808080;
    letter-spacing: 0.1px;
}

.demo-style-switch ul li a:hover {
    color: #008ed6;
    text-decoration: none;
}

.demo-style-switch ul.styles {
    margin-top: 15px;
}

.demo-style-switch ul.styles li {
    display: inline-block;
    margin-right: 5px;
}

.demo-style-switch ul.styles li .color {
    width: 50px;
    height: 25px;
}

.demo-style-switch ul.styles li .blue {
    background: #008ed6;
}

.demo-style-switch ul.styles li .green-2 {
    background: #75a932;
}

.demo-style-switch ul.styles li .green {
    background: #00cdaf;
}

.demo-style-switch ul.styles li .purple {
    background: #b27cf5;
}

.demo-style-switch ul.styles li .red {
    background: #fc5f45;
}

.demo-style-switch ul.styles li .yellow {
    background: #feb960;
}

.demo-style-switch ul.styles li .gold {
    background: #baad7c;
}

.demo-style-switch ul.styles li .pink {
    background: #FE37A2;
}

.demo-style-switch ul.styles li .violet {
    background: #785CB4;
}

.demo-style-switch .switch-button {
    opacity: 1 !important;
    background: #FFF;
    padding: 10px;
    font-size: 24px;
    padding-bottom: 5px;
    color: #272727;
    position: absolute;
    overflow: hidden;
    right: -44px;
    top: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.demo-style-switch .switch-button:hover {
    color: #008ed6;
    cursor: pointer;
    text-decoration: none;
}

.demo-style-switch .homepage-style li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.demo-style-switch .homepage-style li a {
    padding: 5px;
    font-size: 12px;
    letter-spacing: inherit;
    border: 1px solid #ececec;
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}

.demo-style-switch .homepage-style li a:hover {
    border: 1px solid #008ed6;
}

.demo-style-switch .homepage-style .active {
    border: none;
}

.demo-style-switch .homepage-style .active a {
    border: 1px solid #008ed6;
    background: #008ed6;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}

.demo-style-switch .font-selection li {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    color: #808080;
    font-size: 12px;
    letter-spacing: 0.1px;
}

.demo-style-switch .font-selection li div:hover {
    color: #008ed6;
}

[contenteditable]:focus {
    outline: 1px dashed var(--base);
}

.add-new-speaker {
    background-image: linear-gradient(to right, var(--base) 50%, transparent 50%), linear-gradient(to right, var(--base) 50%, transparent 50%), linear-gradient(to bottom, var(--base) 50%, transparent 50%), linear-gradient(to bottom, var(--base) 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
    cursor: pointer;
    width: 240px;
    position: absolute;
    height: 60px;
    margin-top: -45px;
    line-height: 60px;
    left: calc((100% - 240px) / 2);
    background-color: #FFF;
}

.fa.add-icon {
    border-radius: 99px;
    border: 2px solid #ffffff;
    padding: 0 2px;
    margin-right: 6px;
    color: var(--base);
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

.add-new-testimonial {
    background-image: linear-gradient(to right, var(--base) 50%, transparent 50%), linear-gradient(to right, var(--base) 50%, transparent 50%), linear-gradient(to bottom, var(--base) 50%, transparent 50%), linear-gradient(to bottom, var(--base) 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
    cursor: pointer;
}

.add-new-testimonial .thumb {
    border: 2px dashed var(--base);
    background-color: transparent
}

.add-new-objective .objective {
    padding: 15px 30px;
}

.add-new-objective {
    cursor: pointer;
    background-image: linear-gradient(to right, var(--base) 50%, transparent 50%), linear-gradient(to right, var(--base) 50%, transparent 50%), linear-gradient(to bottom, var(--base) 50%, transparent 50%), linear-gradient(to bottom, var(--base) 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
    text-align: center;
    background-color: transparent;
    margin-bottom: 20px;
}

.add-new-faq-question {
    cursor: pointer;
    background-image: linear-gradient(to right, var(--base) 50%, transparent 50%), linear-gradient(to right, var(--base) 50%, transparent 50%), linear-gradient(to bottom, var(--base) 50%, transparent 50%), linear-gradient(to bottom, var(--base) 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
    text-align: center;
    background-color: transparent;
    padding-top: 15px;
}

.add-new-image {
    background-image: linear-gradient(to right, var(--base) 50%, transparent 50%), linear-gradient(to right, var(--base) 50%, transparent 50%), linear-gradient(to bottom, var(--base) 50%, transparent 50%), linear-gradient(to bottom, var(--base) 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 20px 3px, 20px 3px, 3px 20px, 3px 20px;
    cursor: pointer;
    width: 240px;
    position: absolute;
    height: 60px;
    margin-top: -45px;
    line-height: 60px;
    left: calc((100% - 240px) / 2);
}

.item-remover {
    float: right;
    top: -20px;
    margin-top: -30px;
    position: static;
}

.fa.remove-icon {
    cursor: pointer;
}

.drag-icon {
    cursor: move;
}

.recap-gallery-item {
    float: left;
    width: 100% !important;
    margin-bottom: 0;
}

.board-menu {
    background-color: #EDEFF0;
    -webkit-transition-property: -webkit-transform, width;
    transition-property: transform, width;
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transform: translateX(339px);
    transform: translateX(339px);
    width: 339px;
    z-index: 5;
    box-shadow: 0 0 6px rgba(0, 0, 0, .4);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
    top: 0;
    right: -340px;
    bottom: 0;
    z-index: 99999;
    overflow: auto;
}

.board-menu-container {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}

.board-menu-header {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 46px;
    opacity: 0;
    overflow: hidden;
    padding: 0 6px 0 9pt;
    position: relative;
    -webkit-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    width: 100%;
    opacity: 1;
    overflow: visible;

    margin-bottom: 15px;
}

.board-menu-content {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 9pt 6px 9pt 9pt;
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    overflow-x: hidden;
}

.board-menu-content-frame {
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 120ms;
    transition-duration: 120ms;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    width: 100%;
    -webkit-box-direction: normal;
}

.board-backgrounds-section-tile {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    padding: 0 4px;
    position: relative;
    text-align: center;
    width: 50%;
}

.board-backgrounds-section-tile .image {
    background-image: url(https://a.trellocdn.com/images/864f4df…/colors%402x.jpg);
    background-color: #ddd;
    background-size: cover;
    border-radius: 10px;
    height: 7pc;
    margin-bottom: 8px;
    width: 100%;
}

.board-backgrounds-section-tile .title {
    margin-top: 9pt;
}

.board-menu-header-title .fa {
    float: right;
    top: 0;
    color: #646464;
    cursor: pointer;
}

.board-menu-header-divider {
    background: #D6DADC;
    border: 0;
    color: #D6DADC;
    height: 1px;
    margin: 9pt 0;
    width: 100%;
}

.event-home-1.polygon-bg::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(var(--base-num), var(--overlay-opacity));
    content: ' ';
    left: 0;
}

.board-settings-btn {
    background: 0 0;
    border-radius: 3px;
    color: #f6f6f6;
    cursor: default;
    float: right;
    font-size: 11pt;
    height: 30px;
    line-height: 30px;
    margin: 0 4px 0 0;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    -webkit-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-property: margin;
    transition-property: margin;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    right: 60px;
    top: -110px;
    padding-right: 10px;
}

.board-settings-btn.mod-add-block {
    float: right;
    right: 60px;
}

.board-settings-btn:hover {
    background: rgba(0, 0, 0, .1);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.not-main.board-settings-btn {
    color: #fff;
    background-color: var(--base);
    font-size: 15px;
}

.not-main.board-settings-btn:hover {
    background-color: var(--base-transparent-07);
    color: #fff;
    cursor: pointer;
}

.u-text-underline {
    text-decoration: underline;
}

/**/
.speakers-1 .hero-tabs li.active .speaker-intro:after {
    display: none;
}

.schedule-items-wrapper {
    margin-top: 50px;
}

.show-hide-btn {
    z-index: 100;
}

.hidden-overlay {
    text-align: center;
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    clear: both;
}

.disabled .hidden-overlay {
    display: block;
}

.disabled .container {
    display: none;
}

section.disabled {
    padding-top: 20px;
    padding-bottom: 25px;
}

.disabled .board-settings-btn {
    top: -10px;
}

.map-container .container {
    width: 100%;
    padding: 0;
}

.footers {
    background-color: var(--base);
    color: #fff;
}

.footers .copyright {
    color: #fff;
}

.footers .copyright a {
    color: #fff;
}

.footers .socialize a {
    font-size: 30px;
}

.footers a {
    color: #fff !important;;
}

.footers a:hover {
    color: #e0e0e0 !important;
}

.board-settings-btn.footer-btn {
    top: -60px;
}

.main-settings-btn {
    opacity: 1 !important;
    background: #FFF;
    padding: 10px;
    font-size: 27px;
    padding-bottom: 5px;
    color: #272727;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 143px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: fixed;
    color: var(--base);
    padding-top: 12px;
    padding-bottom: 9px;
    cursor: pointer;
}

.navbar-brand img {
    height: 44px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.sponsors-1 .client-logo img {
    opacity: 1;
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
}

.btn-apply-url {
    height: 34px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline: none;
    color: #fff;
    background-color: #00cdaf;
    border-color: #00cdaf;
}

.btn-apply-url span:active,
.btn-apply-url span:focus,
.btn-apply-url:active,
.btn-apply-url:focus {
    outline: none;
}

.input-group {
    margin-bottom: 7px;
}

/*FAB BUTTONS*/
.fab {
    display: inline-block;
    position: relative;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    /*  line-height: 60px;*/
    text-align: center;
    font-size: 32px;
    z-index: 999;
    background: var(--accent);
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    transition: 0.2s opacity ease-in-out;
    -webkit-transition: 0.2s opacity ease-in-out;
    border: 0;
    overflow: hidden;
}

.fab:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: #aaa;
    border-radius: 100%;
    opacity: .6;
    transform: scale(0);
}

@keyframes ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.fab:not(:active):after {
    animation: ripple 3s ease-out;
}

/* fixes initial animation run, without user input, on page load.
 */
.fab:after {
    visibility: hidden;
    background-color: #fff;
}

.fab:focus:after {
    visibility: visible;
}

.btn-sponsors.disabled:after {
    display: none;
}