input,
select,
textarea,
button {
	font-family: inherit;
	color: inherit;
}
button {cursor: pointer}

fieldset {
	min-width: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

form:disabled,
fieldset:disabled,
.-status_disabled.-status_disabled {
	opacity: .4;
	pointer-events: none;
}
.-status_disabled .-status_disabled,
:disabled .-status_disabled,
.-status_disabled :disabled,
:disabled :disabled {opacity: 1}

fieldset:disabled input,
fieldset:disabled select,
fieldset:disabled textarea,
fieldset:disabled button,
fieldset:disabled .form_select {cursor: default}

.form {margin: 0 auto}

.form_unit {margin-bottom: 1rem}
span.form_unit {display: inline-block}

.form_unit:not(:first-child) {margin-top: 1rem}
.form_unit:last-child {margin-bottom: 0}
.form_unit:only-child {margin: 0}

.form_unit > .form_unit,
.form_unit > .form_group {margin-bottom: 0}
.form_unit > .form_unit + .form_unit,
.form_unit > .form_group + .form_unit,
.form_unit > .form_unit + .form_group,
.form_unit > .form_group + .form_group {margin-top: 1rem}

.form_accent_block {
	font-size: 1.3em;
	margin: 1.5em 0;
}

.form_label {
	display: inline-block;
	font-weight: 500;
	margin: 0 .5em .5em 0;
	text-align: left;
}

.form_label > label {margin-bottom: 0}

.form_label:empty {margin: 0}

.form_text {
	font-size: 14px;
	line-height: 20px;
	color: #657184;
	font-weight: 500;
}

.form_helptext {
	margin: 0;
	font-size: .8125em;
	color: #9fa6b3;
}

.form_prompt {
	font-size: .9em;
	text-align: right;
	margin: .2em 0 0;
}

.form_input,
.form_select,
.form_textarea {
	display: block;
	padding: 0 .6rem;
	font-size: .9rem;
	line-height: normal;
	border: 1px solid;
	border-radius: 2px;
}

.form_input:not([size]),
.form_textarea {width: 100%}

.form_input + .form_helptext,
.form_select + .form_helptext,
.form_textarea + .form_helptext {margin-top: 4px}

.form_input,
.form_textarea {
	-webkit-transition: background_color .2s ease, border .2s ease, box-shadow .2s ease, height .2s ease;
	transition: background_color .2s ease, border .2s ease, box-shadow .2s ease, height .2s ease;
}

:not(.-status_disabled) .form_input:not(:disabled):not(.-status_disabled):focus,
:not(.-status_disabled) .form_textarea:not(:disabled):not(.-status_disabled):focus {
	background-color: #fff;
	border-color: #00dc88;
}

.form_input:-moz-placeholder,
.form_textarea:-moz-placeholder {
	color: #9fa6b3;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}

.form_input::-webkit-input-placeholder,
.form_textarea::-webkit-input-placeholder {
	color: #9fa6b3;
	-webkit-transition: color .2s ease;
	transition: color .2s ease;
}

:not(.-status_disabled) .form_input:not(:disabled):not(.-status_disabled):focus::-webkit-input-placeholder,
:not(.-status_disabled) .form_textarea:not(:disabled):not(.-status_disabled):focus::-webkit-input-placeholder {color: transparent}

.form_input:disabled,
.form_input[readonly],
.form_textarea:disabled,
.form_textarea[readonly] {
	opacity: .5;
	pointer-events: none;
}

.form_input,
.form_select {height: 30px}

.form_textarea {
	height: 10em;
	padding: .25rem .5rem;
	resize: none;
}

.form_textarea.-expanding:focus,
.form_textarea.-expanding[required]:valid {height: 30em}

.form_select {
	-moz-appearance: none;
	padding-right: 24px;
	background-color: #fff;
	border: 0;
	box-shadow: 0 1px 2px #b3b3b3;
	cursor: pointer;
}

.form_select.-size_wide {width: 100%}

.form_fieldset {
	padding: 12px 24px;
}

.form_fieldset.-color_marginal {
	margin: 24px 0 36px;
	background-color: #f6f6f6;
	border-radius: 2px;
}

:not(select).form_select > label {
	margin-bottom: 0;
	cursor: inherit;
}

:not(select).form_select:after {
	content: "\f0d7";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 16px;
	margin: auto .5rem;
	font-family: FontAwesome;
}

.form_input_group {
	display: flex;
}

span.form_input_group {display: inline-flex}

.form_input_group > .form_input {order: 2}
.form_input_group > .form_input:only-child {border-radius: 2px}
.form_input_group > .form_input:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: 0;
	padding-left: 0;
}
.form_input_group > .form_input:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: 0;
	padding-right: 0;
}

.form_input_group_after,
.form_input_group_before {
	display: flex;
	align-items: center;
	padding: 0 4px;
	font-size: 1em;
	background-color: #fff;
	border: 1px solid #4a4a4a;
	transition: background_color .2s ease, border .2s ease, box-shadow .2s ease, height .2s ease;
}
.form_input_group_after {border-left: 0}
.form_input_group_before {border-right: 0}
.form_input_group_before:first-child {border-radius: 2px 0 0 2px}
.form_input_group_after:last-child {border-radius: 0 2px 2px 0}

:not(.form_input_group_before) + .form_input_group_before {order: 0}
.form_input_group_before + .form_input_group_before {order: 1}
:not(.form_input_group_after) + .form_input_group_after {order: 3}
.form_input_group_after + .form_input_group_after {order: 4}

:not(.-status_disabled) .form_input:not(:disabled):not(.-status_disabled):focus + .form_input_group_after {border-color: #00dc88}


	/* Form DatePicker */


.form_datepicker {
	display: inline-flex;
	align-items: center;
	min-width: 120px;
	cursor: pointer;

	padding: 0 calc(.6rem * 2 + 13px) 0 .6rem;
	font-size: .9rem;
	line-height: normal;

	height: 30px;
	border: 1px solid;
	border-radius: 3px;
	background-color: transparent;
}


.form_datepicker:after {
	content: "\f073";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 16px;
	margin: auto .5rem;
	font-family: FontAwesome;
}

.form_datepicker.-size_wide {display: flex}

/* /Form DatePicker */
/* Form Select2 */

.form_select2 {
	display: block;
	width: 100%;
	border-radius: 2px;
	font-size: .9em;
}
.form_select2 > .select2-choice {
	height: 2.2em;
	padding: 0;
	background-color: #fff;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 1px 2px #b3b3b3;
	color: #4a4a4a;
}

.form_select2.select2-dropdown-open > .select2-choice {border-radius: 3px 3px 0 0}

.form_select2.select2-container > .select2-choice > .select2-chosen {
	line-height: 2.2em;
	padding-left: 0.6em;
}

.form_select2.select2-dropdown-open.select2-drop-above .select2-choice,
.form_select2.select2-dropdown-open.select2-drop-above .select2-choices {border: 0}
.form_select2.select2-container.select2-container-disabled > .select2-choice {
	border-color: #ddd;
	background-color: #f9f9fa;
	box-shadow: none;
}
.form_select2.select2-container > .select2-choice > .select2-arrow {top: 0}
.form_select2.select2-container.select2-container-disabled > .select2-choice > .select2-arrow {
	background-color: inherit;
	opacity: .3;
}

.form_select2.select2-container > .select2-choice > .select2-arrow > b:after {
	font: normal normal normal 1em/1 FontAwesome;
	content: "\f0d7";
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}



.form_select2_drop.select2-drop-active {
	font-size: .9rem;
	border: 0;
	box-shadow: 0 1px 2px #d9d9d9;
}
.select2-drop.select2-drop-above.select2-drop-active {border-color: #c5c9d1}

.form_select2_drop > .select2-results {
	margin: 5px 0;
	padding: 0;
}

.form_select2_drop > .select2-results .select2-highlighted {
	color: inherit;
	background-color: #c5c9d1;
}

.form_select2_drop_no_search > .select2-search {display: none}


.form_select2.form_input {overflow: hidden}
.form_select2.form_input > .select2-choices,
.form_select2.form_input.select2-container-active > .select2-choices {
	border: 0;
	box-shadow: none;
}
.form_select2.form_input.select2-container-multi > .select2-choices,
.form_select2.form_input.select2-container-multi > .select2-choices > .select2-search-field > input {min-height: 30px}
.form_select2.form_input.select2-container-multi > .select2-choices > .select2-search-field > input {
	padding: 0;
	margin: 0;
	font-family: inherit;
	font-size: 1em;
}


.form_select2.form_input.select2-container-multi > .select2-choices {
	white-space: nowrap;
	overflow: auto;

}

.form_select2.form_input.select2-container-multi > .select2-choices > .select2-search-choice {
	padding: 4px 6px 4px 19px;
	margin: 0 5px 0 0;
	border: 0;
	color: #fff;
}

.form_select2.form_input.select2-container-multi > .select2-choices > li {
	display: inline-block;
	float: none;
}

.form_select2.form_input.select2-container-multi > .select2-choices > .select2-search-choice > .select2-search-choice-close {
	position: absolute;
	right: auto;
	top: 0;
	bottom: 0;
	margin: auto;
	color: #fff;
}
.form_select2.form_input.select2-container-multi > .select2-choices > .select2-search-choice > .select2-search-choice-close:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f00d";
}

.form_select2.form_input.select2-container-multi .select2-choices .select2-search-choice {
	background-color: #f82969;
	border: 1px solid #f82969;
}

/* /Form Select2 */
/* Form Radio & Checkbox */

.form_unit > input[type="radio"],
.form_unit > input[type="checkbox"] {display: none}

.form_radio_wrapper > .form_label,
.form_checkbox_wrapper > .form_label {
	line-height: 1;
	margin-bottom: 0;
	font-weight: normal;
	white-space: nowrap;
}

.form_radio:not(:disabled) + .form_label,
.form_checkbox:not(:disabled) + .form_label {cursor: pointer}

.form_radio_wrapper > .form_label > span,
.form_checkbox_wrapper > .form_label > span {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 20px - 10px);
	line-height: 1;
	text-align: left;
	white-space: normal;
}

.form_radio_wrapper:not(.-reverse) > .form_label > span,
.form_checkbox_wrapper:not(.-reverse) > .form_label > span {margin-left: 10px}
.form_radio_wrapper.-reverse > .form_label > span,
.form_checkbox_wrapper.-reverse > .form_label > span {margin-right: 10px}

.form_radio_wrapper:not(.-reverse) > .form_label:before,
.form_checkbox_wrapper:not(.-reverse) > .form_label:before,
.form_radio_wrapper.-reverse > .form_label:after,
.form_checkbox_wrapper.-reverse > .form_label:after {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 1px solid;
	border-radius: 2px;
	box-sizing: border-box;
}

.form_radio_wrapper:not(.-reverse) > .form_label:before,
.form_radio_wrapper.-reverse > .form_label:after {border-radius: 1rem}

.form_radio_wrapper:not(.-reverse) > .form_label:after,
.form_checkbox_wrapper:not(.-reverse) > .form_label:after,
.form_radio_wrapper.-reverse > .form_label:before,
.form_checkbox_wrapper.-reverse > .form_label:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	display: inline-block;
}

.form_radio_wrapper.-reverse > .form_label:after,
.form_checkbox_wrapper.-reverse > .form_label:after,
.form_radio_wrapper:not(.-reverse) > .form_label:before,
.form_checkbox_wrapper:not(.-reverse) > .form_label:before {vertical-align: middle}

.form_radio_wrapper:not(.-reverse) > .form_label:after,
.form_checkbox_wrapper:not(.-reverse) > .form_label:after {left: 0}

.form_radio_wrapper.-reverse > .form_label:before {right: 0}
.form_checkbox_wrapper.-reverse > .form_label:before {right: 3px}

.form_checkbox_wrapper:not(.-reverse) > .form_label:after,
.form_checkbox_wrapper.-reverse > .form_label:before {
	width: 13px;
	height: 6px;
	margin: auto 2px;
	border-left: 2px solid transparent;
	border-bottom: 2px solid transparent;
	transform: rotate(-45deg);
	transform-origin: top center;
	box-sizing: border-box;
}
.form_radio_wrapper:not(.-reverse) > .form_label:after,
.form_radio_wrapper.-reverse > .form_label:before {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: auto 5px;
	background-color: transparent;
}

.form_radio_wrapper:not(.-reverse) > .form_radio:checked + .form_label:before,
.form_radio_wrapper:not(.-reverse) > .form_radio:not(:disabled) + .form_label:hover:before,
.form_checkbox_wrapper:not(.-reverse) > .form_checkbox:not(:disabled) + .form_label:hover:before,
.form_radio_wrapper.-reverse > .form_radio:checked + .form_label:after,
.form_radio_wrapper.-reverse > .form_radio:not(:disabled) + .form_label:hover:after,
.form_checkbox_wrapper.-reverse > .form_checkbox:not(:disabled) + .form_label:hover:after {border: 2px solid}

.form_checkbox_wrapper:not(.-reverse) > .form_checkbox:checked + .form_label:before,
.form_checkbox_wrapper.-reverse > .form_checkbox:checked + .form_label:after {border: 0}

.form_radio_wrapper:not(.-reverse) > .form_radio:checked + .form_label:after,
.form_checkbox_wrapper:not(.-reverse) > .form_checkbox:checked + .form_label:after,
.form_radio_wrapper.-reverse > .form_radio:checked + .form_label:before,
.form_checkbox_wrapper.-reverse > .form_checkbox:checked + .form_label:before {border-color: #fff}

/* /Form Radio & Checkbox */
/* Form Radio Group */

.radio_group {
	display: flex;
}

.radio_group > .form_unit {
	margin: 0;
}


.radio_group > .form_unit > .form_label {
	margin: 0;
	padding: 4px 8px;
	word-wrap: normal;
	border: 1px solid #c5c9d1;
}

.radio_group > .form_unit + .form_unit > .form_label {border-left: 0}

.radio_group > .form_unit:first-child > .form_label {border-radius: 3px 0 0 3px}
.radio_group > .form_unit:last-child > .form_label {border-radius: 0 3px 3px 0}

.radio_group > .form_unit > .form_radio:not(:checked) + .form_label {color: #9fa6b3}

.radio_group > .form_unit > .form_radio:checked + .form_label {
	color: #3e4d66;
	background-color: #f9f9fa;
}

.radio_group > .form_unit > .form_label > span {
	display: block;
	margin: 0;
	width: auto;
	font-size: .8125em;
	font-weight: 500;
}

.radio_group > .form_unit > .form_label:before,
.radio_group > .form_unit > .form_label:after {content: initial}

.radio_group.-size_big > .form_unit > .form_label {
	padding: 12px 18px;
	font-size: 1.125em;
}

/* /Form Radio Group */
/* Form Switch */

.form_switch {
	display: inline-block;
	vertical-align: middle;
	width: 2.25em;
	height: 0.875em;
	margin: 0.1875em 0;
	font-size: 1rem;
	cursor: pointer;
}

.form_switch > input {display: none !important}

.form_switch > .form_switch_road {
	display: block;
	height: 100%;
	border-radius: 0.5em;
	background-color: #657184;
	opacity: .5;
	transition: background-color .2s ease;
}

.form_switch > .form_switch_runner {
	content: '';
	position: absolute;
	top: 0;
	display: inline-block;
	width: 1.25em;
	height: 1.25em;
	margin: -0.1875em;
	border-radius: 50%;
	background-color: #f1f1f1;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24), 0 0 1px 0 rgba(0, 0, 0, 0.12);
	transform: translateX(0%);
	transition: transform .2s ease, background-color .2s ease;
}

.form_switch > input:checked ~ .form_switch_runner {transform: translateX(calc(100% + 0.1875em))}

.form_unit > .form_switch + .form_label {
	display: inline;
	vertical-align: middle;
	margin: 0 10px;
	font-size: .9em;
	text-align: left;
	white-space: normal;
}

/* /Form Switch */
/* Form -inline */

.form_unit.-inline {
	display: flex;
	align-items: center;
}

.-inline > .form_label {
	min-width: 30%;
	margin-right: .5rem;
	margin-bottom: 0;
	text-align: right;
}

.-inline > .form_input,
.-inline > .form_textarea {flex: 1}

/* /Form -inline */
/* /Form flat */

.form_input.-flat {
	height: 30px;
	padding: 0;
	border: 0;
	border-bottom: 2px solid transparent;
	background-color: transparent;
}

:not(.-status_disabled) .form_input.-flat:not(:disabled):not(.-status_disabled):focus {
	background-color: transparent;
	border: 0;
	border-bottom: 2px solid #c5c9d1;
	box-shadow: none;
}

/* /Form flat */
/* /Form group */

.form_group {
	display: flex;
	justify-content: space-around;
	margin-bottom: .875em;
}
.form_group.-valign_baseline {align-items: baseline}
.form_group.-align_left {justify-content: flex-start}
.form_group.-align_right {justify-content: flex-end}
.form_group > .form_unit {
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
	margin-bottom: 0;
}
.form_group > .form_unit + .form_unit {margin-left: 16px}
.form_group > .form_unit.-inline {display: inline-flex}

.form_group.-parts_e_2 > .form_unit,
.form_group.-parts_e_e > .form_unit {width: 49.5%}

.form_group.-parts_1_2 > .form_unit:nth-child(2n+1),
.form_group.-parts_2_1 > .form_unit:nth-child(2n+2) {width: 32.6666667%}
.form_group.-parts_1_2 > .form_unit:nth-child(2n+2),
.form_group.-parts_2_1 > .form_unit:nth-child(2n+1) {width: 66.3333333%}
.form_group.-parts_1_3 > .form_unit:nth-child(2n+1),
.form_group.-parts_3_1 > .form_unit:nth-child(2n+2) {width: 24.25%}
.form_group.-parts_1_3 > .form_unit:nth-child(2n+2),
.form_group.-parts_3_1 > .form_unit:nth-child(2n+1) {width: 74.75%}
.form_group.-parts_2_3 > .form_unit:nth-child(2n+1),
.form_group.-parts_3_2 > .form_unit:nth-child(2n+2) {width: 39.4%}
.form_group.-parts_2_3 > .form_unit:nth-child(2n+2),
.form_group.-parts_3_2 > .form_unit:nth-child(2n+1) {width: 59.6%}


.form_group.-parts_e_2 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_e_e > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_1_2 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_2_1 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_1_3 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_3_1 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_2_3 > .form_unit:not(:nth-child(2n+1)),
.form_group.-parts_3_2 > .form_unit:not(:nth-child(2n+1)) {margin-left: 16px}

.form_group.-parts_e_2 > .form_unit:nth-child(n+3),
.form_group.-parts_e_e > .form_unit:nth-child(n+3),
.form_group.-parts_1_2 > .form_unit:nth-child(n+3),
.form_group.-parts_2_1 > .form_unit:nth-child(n+3),
.form_group.-parts_1_3 > .form_unit:nth-child(n+3),
.form_group.-parts_3_1 > .form_unit:nth-child(n+3),
.form_group.-parts_2_3 > .form_unit:nth-child(n+3),
.form_group.-parts_3_2 > .form_unit:nth-child(n+3) {margin-top: 16px}


.form_group.-parts_e_2 > .form_unit.-offset_1,
.form_group.-parts_e_e > .form_unit.-offset_1 {margin-left: 50.5%}
.form_group.-parts_1_2 > .form_unit.-offset_1,
.form_group.-parts_2_1 > .form_unit.-offset_1 {margin-left: 33.6666667%}
.form_group.-parts_1_3 > .form_unit.-offset_1,
.form_group.-parts_3_1 > .form_unit.-offset_1 {margin-left: 25.25%}
.form_group.-parts_2_3 > .form_unit.-offset_1,
.form_group.-parts_3_2 > .form_unit.-offset_1 {margin-left: 20.7%}

.form_group.-parts_1_2 > .form_unit.-offset_2 {margin-left: 67.3333333%}
.form_group.-parts_1_3 > .form_unit.-offset_2 {margin-left: 50.5%}
.form_group.-parts_2_3 > .form_unit.-offset_2,
.form_group.-parts_3_2 > .form_unit.-offset_2 {margin-left: 41.4%}

.form_group.-parts_1_3 > .form_unit.-offset_3 {margin-left: 75.75%}
.form_group.-parts_2_3 > .form_unit.-offset_3 {margin-left: 60.6%}



.form_group.-parts_e_3   > .form_unit,
.form_group.-parts_e_e_e > .form_unit {width: 32.6666667%}

.form_group.-parts_1_1_2 > .form_unit:nth-child(3n+3),
.form_group.-parts_1_2_1 > .form_unit:nth-child(3n+2),
.form_group.-parts_2_1_1 > .form_unit:nth-child(3n+1) {width: 49.5%}
.form_group.-parts_1_1_2 > .form_unit:not(:nth-child(3n+3)),
.form_group.-parts_1_2_1 > .form_unit:not(:nth-child(3n+2)),
.form_group.-parts_2_1_1 > .form_unit:not(:nth-child(3n+1)) {width: 24.25%}

.form_group.-parts_1_2_2 > .form_unit:nth-child(3n+1),
.form_group.-parts_2_1_2 > .form_unit:nth-child(3n+2),
.form_group.-parts_2_2_1 > .form_unit:nth-child(3n+3) {width: 19.2%}
.form_group.-parts_1_2_2 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_2_1_2 > .form_unit:not(:nth-child(3n+2)),
.form_group.-parts_2_2_1 > .form_unit:not(:nth-child(3n+3)) {width: 39.4%}

.form_group.-parts_1_1_3 > .form_unit:nth-child(3n+3),
.form_group.-parts_1_3_1 > .form_unit:nth-child(3n+2),
.form_group.-parts_3_1_1 > .form_unit:nth-child(3n+1) {width: 59.6%}
.form_group.-parts_1_1_3 > .form_unit:not(:nth-child(3n+3)),
.form_group.-parts_1_3_1 > .form_unit:not(:nth-child(3n+2)),
.form_group.-parts_3_1_1 > .form_unit:not(:nth-child(3n+1)) {width: 19.2%}


.form_group.-parts_e_3   > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_e_e_e > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_1_1_2 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_1_2_1 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_2_1_1 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_1_2_2 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_2_1_2 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_2_2_1 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_1_1_3 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_1_3_1 > .form_unit:not(:nth-child(3n+1)),
.form_group.-parts_3_1_1 > .form_unit:not(:nth-child(3n+1)) {margin-left: 16px}

.form_group.-parts_e_3   > .form_unit.-offset_1,
.form_group.-parts_e_e_e > .form_unit.-offset_1 {margin-left: 33.6666667%}
.form_group.-parts_1_1_2 > .form_unit.-offset_1,
.form_group.-parts_1_2_1 > .form_unit.-offset_1,
.form_group.-parts_2_1_1 > .form_unit.-offset_1 {margin-left: 26.25%}
.form_group.-parts_1_2_2 > .form_unit.-offset_1,
.form_group.-parts_2_1_2 > .form_unit.-offset_1,
.form_group.-parts_2_2_1 > .form_unit.-offset_1,
.form_group.-parts_1_1_3 > .form_unit.-offset_1,
.form_group.-parts_1_3_1 > .form_unit.-offset_1,
.form_group.-parts_3_1_1 > .form_unit.-offset_1 {margin-left: 20.2%}

.form_group.-parts_e_3   > .form_unit.-offset_2,
.form_group.-parts_e_e_e > .form_unit.-offset_2 {margin-left: 67.3333333%}
.form_group.-parts_1_1_2 > .form_unit.-offset_2,
.form_group.-parts_1_2_1 > .form_unit.-offset_2,
.form_group.-parts_2_1_1 > .form_unit.-offset_2 {margin-left: 50.5%}
.form_group.-parts_1_2_2 > .form_unit.-offset_2,
.form_group.-parts_2_1_2 > .form_unit.-offset_2,
.form_group.-parts_2_2_1 > .form_unit.-offset_2,
.form_group.-parts_1_1_3 > .form_unit.-offset_2,
.form_group.-parts_1_3_1 > .form_unit.-offset_2,
.form_group.-parts_3_1_1 > .form_unit.-offset_2 {margin-left: 40.4%}

.form_group.-parts_1_1_2 > .form_unit.-offset_3,
.form_group.-parts_1_2_1 > .form_unit.-offset_3 {margin-left: 75.75%}
.form_group.-parts_1_2_2 > .form_unit.-offset_3,
.form_group.-parts_2_1_2 > .form_unit.-offset_3,
.form_group.-parts_2_2_1 > .form_unit.-offset_3,
.form_group.-parts_1_1_3 > .form_unit.-offset_3,
.form_group.-parts_1_3_1 > .form_unit.-offset_3 {margin-left: 60.6%}

.form_group.-parts_1_2_2 > .form_unit.-offset_4,
.form_group.-parts_1_1_3 > .form_unit.-offset_4,
.form_group.-parts_1_3_1 > .form_unit.-offset_4 {margin-left: 80.8%}


.form_group.-parts_e_3   > .form_unit:nth-child(n+4),
.form_group.-parts_e_e_e > .form_unit:nth-child(n+4),
.form_group.-parts_1_1_2 > .form_unit:nth-child(n+4),
.form_group.-parts_1_2_1 > .form_unit:nth-child(n+4),
.form_group.-parts_2_1_1 > .form_unit:nth-child(n+4),
.form_group.-parts_1_2_2 > .form_unit:nth-child(n+4),
.form_group.-parts_2_1_2 > .form_unit:nth-child(n+4),
.form_group.-parts_2_2_1 > .form_unit:nth-child(n+4),
.form_group.-parts_1_1_3 > .form_unit:nth-child(n+4),
.form_group.-parts_1_3_1 > .form_unit:nth-child(n+4),
.form_group.-parts_3_1_1 > .form_unit:nth-child(n+4) {margin-top: 16px}



.form_group.-parts_e_4     > .form_unit,
.form_group.-parts_e_e_e_e > .form_unit {width: 24.25%}

.form_group.-parts_1_1_1_2 > .form_unit:nth-child(4n+4),
.form_group.-parts_1_1_2_1 > .form_unit:nth-child(4n+3),
.form_group.-parts_1_2_1_1 > .form_unit:nth-child(4n+2),
.form_group.-parts_2_1_1_1 > .form_unit:nth-child(4n+1) {width: 39.4%}
.form_group.-parts_1_1_1_2 > .form_unit:not(:nth-child(4n+4)),
.form_group.-parts_1_1_2_1 > .form_unit:not(:nth-child(4n+3)),
.form_group.-parts_1_2_1_1 > .form_unit:not(:nth-child(4n+2)),
.form_group.-parts_2_1_1_1 > .form_unit:not(:nth-child(4n+1)) {width: 19.2%}


.form_group.-parts_e_4     > .form_unit.-offset_1,
.form_group.-parts_e_e_e_e > .form_unit.-offset_1 {margin-left: 25.25%}
.form_group.-parts_1_1_1_2 > .form_unit.-offset_1,
.form_group.-parts_1_1_2_1 > .form_unit.-offset_1,
.form_group.-parts_1_2_1_1 > .form_unit.-offset_1,
.form_group.-parts_2_1_1_1 > .form_unit.-offset_1 {margin-left: 20.2%}

.form_group.-parts_e_4     > .form_unit.-offset_2,
.form_group.-parts_e_e_e_e > .form_unit.-offset_2 {margin-left: 50.5%}
.form_group.-parts_1_1_1_2 > .form_unit.-offset_2,
.form_group.-parts_1_1_2_1 > .form_unit.-offset_2,
.form_group.-parts_1_2_1_1 > .form_unit.-offset_2,
.form_group.-parts_2_1_1_1 > .form_unit.-offset_2 {margin-left: 40.4%}

.form_group.-parts_e_4     > .form_unit.-offset_3,
.form_group.-parts_e_e_e_e > .form_unit.-offset_3 {margin-left: 75.75%}
.form_group.-parts_1_1_1_2 > .form_unit.-offset_3,
.form_group.-parts_1_1_2_1 > .form_unit.-offset_3,
.form_group.-parts_1_2_1_1 > .form_unit.-offset_3,
.form_group.-parts_2_1_1_1 > .form_unit.-offset_3 {margin-left: 60.6%}

.form_group.-parts_1_1_1_2 > .form_unit.-offset_4,
.form_group.-parts_1_1_2_1 > .form_unit.-offset_4,
.form_group.-parts_1_2_1_1 > .form_unit.-offset_4 {width: 80.8%}




.form_group.-parts_e_4     > .form_unit:not(:nth-child(4n+1)),
.form_group.-parts_e_e_e_e > .form_unit:not(:nth-child(4n+1)),
.form_group.-parts_1_1_1_2 > .form_unit:not(:nth-child(4n+1)),
.form_group.-parts_1_1_2_1 > .form_unit:not(:nth-child(4n+1)),
.form_group.-parts_1_2_1_1 > .form_unit:not(:nth-child(4n+1)),
.form_group.-parts_2_1_1_1 > .form_unit:not(:nth-child(4n+1)) {margin-left: 16px}

.form_group.-parts_e_4     > .form_unit:nth-child(n+5),
.form_group.-parts_e_e_e_e > .form_unit:nth-child(n+5),
.form_group.-parts_1_1_1_2 > .form_unit:nth-child(n+5),
.form_group.-parts_1_1_2_1 > .form_unit:nth-child(n+5),
.form_group.-parts_1_2_1_1 > .form_unit:nth-child(n+5),
.form_group.-parts_2_1_1_1 > .form_unit:nth-child(n+5) {margin-top: 16px}



.form_group.-parts_e_5       > .form_unit,
.form_group.-parts_e_e_e_e_e > .form_unit {width: 19.2%}


.form_group.-parts_e_5       > .form_unit:not(:nth-child(5n+1)),
.form_group.-parts_e_e_e_e_e > .form_unit:not(:nth-child(5n+1)) {margin-left: 16px}

.form_group.-parts_e_5       > .form_unit:nth-child(n+6),
.form_group.-parts_e_e_e_e_e > .form_unit:nth-child(n+6) {margin-top: 16px}



.form_group > .form_radio_wrapper > .form_radio + .form_label,
.form_group > .form_checkbox_wrapper > .form_checkbox + .form_label {margin: 7px 0}


.form_group.-time_input > .form_unit {
	vertical-align: middle;
	width: 2.4em;
}
.form_group.-time_input > .form_unit > .form_input {text-align: right}
.form_group.-time_input > .divider {
	display: inline-block;
	vertical-align: middle;
	margin: 0.3em;
}

.form_input.-time_input {
	width: 60px;
	padding: 6px;
	text-align: center;
}

/* /Form group */
/* Form -status */

.form_unit.-status_error,
.form_unit.-status_error > .form_label,
.form_unit.-status_error > .form_helptext {color: #fd7b6e}
.form_unit.-status_error > .form_input:-moz-placeholder,
.form_unit.-status_error > .form_textarea:-moz-placeholder {color: #fd7b6e}
.form_unit.-status_error > .form_input::-webkit-input-placeholder,
.form_unit.-status_error > .form_textarea::-webkit-input-placeholder {color: #fd7b6e}

.form_unit.-status_error > .form_input,
.form_unit.-status_error > .form_textarea  {border-color: #fd7b6e}
.form_unit.-status_error > .form_select {box-shadow: 0 1px 2px #fd7b6e}


.form_input.-status_disabled,
.form_textarea.-status_disabled,
.form_select.-status_disabled,
.form_select2.-status_disabled,
.form_radio.-status_disabled,
.form_checkbox.-status_disabled,
.form_unit.-status_disabled .form_label,
.form_unit.-status_disabled .form_input,
.form_unit.-status_disabled .form_textarea,
.form_unit.-status_disabled .form_select,
.form_unit.-status_disabled .form_select2,
.form_unit.-status_disabled .form_radio,
.form_unit.-status_disabled .form_checkbox,
.form_group.-status_disabled .form_input,
.form_group.-status_disabled .form_textarea,
.form_group.-status_disabled .form_select,
.form_group.-status_disabled .form_select2,
.form_group.-status_disabled .form_radio,
.form_group.-status_disabled .form_checkbox {
	opacity: .5;
	cursor: default;
}

.form_input.-status_disabled,
.form_textarea.-status_disabled,
.form_select.-status_disabled,
.form_select2.-status_disabled,
.form_radio.-status_disabled,
.form_checkbox.-status_disabled,
.form_unit.-status_disabled {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}

.form_input.-rounded {
	padding: 0 1rem;
	border-radius: 100px;
}

.form_input.-search_bar {
	font-size: .8125em;
	border: 1px solid #f6f6f6;
	background-color: #f9f9fa;
}

.search_icon + .form_input.-search_bar {padding-left: 36px}

.form_input.-search_bar:-moz-placeholder {
	font-weight: 500;
	color: #9fa6b3;
}
.form_input.-search_bar::-webkit-input-placeholder {
	font-weight: 500;
	color: #9fa6b3;
}

.search_icon {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 1.1em;
	margin: auto 14px;
	font-size: .8125em;
	color: #9fa6b3;
	z-index: 1;
}

.trumbowyg-textarea {
	border: 0;
}

.trumbowyg-editor blockquote {
	position: relative;
	padding: 20px;
	background-color: #f6f6f6;
}
.trumbowyg-editor blockquote:before,
.trumbowyg-editor blockquote:after {
	position: absolute;
	font-size: 24px;
	font-weight: bold;
}
.trumbowyg-editor blockquote:before {
	content: '„';
	left: 8px;
	bottom: 8px;
}
.trumbowyg-editor blockquote:after {
	content: '”';
	right: 8px;
	top: 8px;
}

/* /Form -status */


@supports (--custom_properties: 1) {

	.form_text {color: var(--color_primary_80)}

	.form_helptext {color: var(--color_primary_50)}

	:not(.-status_disabled) .form_input:not(:disabled):not(.-status_disabled):focus,
	:not(.-status_disabled) .form_textarea:not(:disabled):not(.-status_disabled):focus {border-color: var(--color_franklin)}

	.form_input:-moz-placeholder,
	.form_textarea:-moz-placeholder {color: var(--color_primary_50)}

	.form_input::-webkit-input-placeholder,
	.form_textarea::-webkit-input-placeholder {color: var(--color_primary_50)}

	.form_select {background-color: var(--color_page)}

	.form_fieldset.-color_marginal {background-color: var(--color_gray_material)}

	.form_select2 > .select2-choice {
		background-color: #fff;
		color: #4a4a4a;
	}

	.form_select2.select2-container.select2-container-disabled > .select2-choice {background-color: var(--color_background_gray)}

	.select2-drop.select2-drop-above.select2-drop-active {border-color: var(--color_primary_30)}

	.form_select2_drop > .select2-results .select2-highlighted {background-color: var(--color_primary_30)}

	.form_select2.form_input.select2-container-multi .select2-choices .select2-search-choice {
		background-color: var(--color_accent);
		border-color: var(--color_accent);
	}

	.form_radio_wrapper:not(.-reverse) > .form_radio:checked + .form_label:after,
	.form_checkbox_wrapper:not(.-reverse) > .form_checkbox:checked + .form_label:before,
	.form_radio_wrapper.-reverse > .form_radio:checked + .form_label:before,
	.form_checkbox_wrapper.-reverse > .form_checkbox:checked + .form_label:after {background-color: var(--color_accent)}

	.form_radio_wrapper:not(.-reverse) > .form_radio:checked + .form_label:before,
	.form_radio_wrapper.-reverse > .form_radio:checked + .form_label:after,
	.form_radio_wrapper:not(.-reverse):not(.-status_disabled) > .form_radio:not(:disabled) + .form_label:hover:before,
	.form_checkbox_wrapper:not(.-reverse):not(.-status_disabled) > .form_checkbox:not(:disabled) + .form_label:hover:before,
	.form_radio_wrapper.-reverse:not(.-status_disabled) > .form_radio:not(:disabled) + .form_label:hover:after,
	.form_checkbox_wrapper.-reverse:not(.-status_disabled) > .form_checkbox:not(:disabled) + .form_label:hover:after {border-color: var(--color_accent)}


	.radio_group > .form_unit > .form_label {border-color: var(--color_primary_30)}
	.radio_group > .form_unit > .form_radio:not(:checked) + .form_label {color: var(--color_primary_50)}

	.radio_group > .form_unit > .form_radio:checked + .form_label {
		color: var(--color_primary);
		background-color: var(--color_background_gray);
	}

	.form_switch > input:checked ~ .form_switch_road,
	.form_switch > input:checked ~ .form_switch_runner {background-color: var(--color_accent)}

	:not(.-status_disabled) .form_input.-flat:not(:disabled):not(.-status_disabled):focus {border-color: var(--color_primary_30)}

	.form_unit.-status_error,
	.form_unit.-status_error > .form_label,
	.form_unit.-status_error > .form_helptext {color: var(--color_error)}
	.form_unit.-status_error > .form_input:-moz-placeholder,
	.form_unit.-status_error > .form_textarea:-moz-placeholder {color: var(--color_error)}
	.form_unit.-status_error > .form_input::-webkit-input-placeholder,
	.form_unit.-status_error > .form_textarea::-webkit-input-placeholder {color: var(--color_error)}

	.form_unit.-status_error > .form_input,
	.form_unit.-status_error > .form_select,
	.form_unit.-status_error > .form_textarea  {border-color: var(--color_error)}

	.form_input.-search_bar:-moz-placeholder {color: var(--color_primary_50)}
	.form_input.-search_bar::-webkit-input-placeholder {color: var(--color_primary_50)}
}

@supports not (--custom_properties: 0) {


	.form_radio_wrapper:not(.-reverse) > .form_radio:checked + .form_label:after,
	.form_checkbox_wrapper:not(.-reverse) > .form_checkbox:checked + .form_label:before,
	.form_radio_wrapper.-reverse > .form_radio:checked + .form_label:before,
	.form_checkbox_wrapper.-reverse > .form_checkbox:checked + .form_label:after {background-color: #f82969}

	.form_radio_wrapper:not(.-reverse) > .form_radio:checked + .form_label:before,
	.form_radio_wrapper.-reverse > .form_radio:checked + .form_label:after,
	.form_radio_wrapper:not(.-reverse):not(.-status_disabled) > .form_radio:not(:disabled) + .form_label:hover:before,
	.form_checkbox_wrapper:not(.-reverse):not(.-status_disabled) > .form_checkbox:not(:disabled) + .form_label:hover:before,
	.form_radio_wrapper.-reverse:not(.-status_disabled) > .form_radio:not(:disabled) + .form_label:hover:after,
	.form_checkbox_wrapper.-reverse:not(.-status_disabled) > .form_checkbox:not(:disabled) + .form_label:hover:after {border-color: #f82969}

	.-state_admin .form_radio_wrapper:not(.-reverse) > .form_radio:checked + .form_label:after,
	.-state_admin .form_checkbox_wrapper:not(.-reverse) > .form_checkbox:checked + .form_label:before,
	.-state_admin .form_radio_wrapper.-reverse > .form_radio:checked + .form_label:before,
	.-state_admin .form_checkbox_wrapper.-reverse > .form_checkbox:checked + .form_label:after {background-color: #00dc88}

	.-state_admin .form_radio_wrapper:not(.-reverse) > .form_radio:checked + .form_label:before,
	.-state_admin .form_radio_wrapper.-reverse > .form_radio:checked + .form_label:after,
	.-state_admin .form_radio_wrapper:not(.-reverse):not(.-status_disabled) > .form_radio:not(:disabled) + .form_label:hover:before,
	.-state_admin .form_checkbox_wrapper:not(.-reverse):not(.-status_disabled) > .form_checkbox:not(:disabled) + .form_label:hover:before,
	.-state_admin .form_radio_wrapper.-reverse:not(.-status_disabled) > .form_radio:not(:disabled) + .form_label:hover:after,
	.-state_admin .form_checkbox_wrapper.-reverse:not(.-status_disabled) > .form_checkbox:not(:disabled) + .form_label:hover:after {border-color: #00dc88}

	.form_switch > input:checked ~ .form_switch_road,
	.form_switch > input:checked ~ .form_switch_runner {background-color: #f82969}

	.-state_admin .form_switch > input:checked ~ .form_switch_road,
	.-state_admin .form_switch > input:checked ~ .form_switch_runner {background-color: #00dc88}
}