<script type="javascript/template" id="tmpl-app-inspector">
	<div class="app_inspector material -floating_material AppInspector">
		<header class="app_inspector_header">
			<button class="app_inspector_remover AppInspectorRemoveButton" type="button">&times;</button>
			<span class="app_inspector_title AppInspectorTitle">{title}</span>
		</header>
		<div class="app_inspector_content_wrapper scrollbar-outer AppInspectorScroll">
			<div class="app_inspector_content">{content}</div>
		</div>
	</div>
</script>