<script type="javascript/template" id="tmpl-app-inspector-title">
	<h6 class="app_inspector_subtitle">{title}</h6>
</script>

<script type="javascript/template" id="tmpl-app-inspector-ticket">
	<div class="app_inspector_ticket">
		<div class="app_inspector_ticket_body">
			{fields}
		</div>
		{footer}
	</div>
</script>

<script type="javascript/template" id="tmpl-app-inspector-ticket-footer">
	<footer class="app_inspector_ticket_footer"><span>Билет использован</span></footer>
</script>

<script type="javascript/template" id="tmpl-app-inspector-event">
	<a class="app_inspector_event Link" href="/event/{id}">
		<img src="{image_horizontal_url}?width=108" width="108" height="60">
		<div class="app_inspector_event_body">
			<span class="app_inspector_event_title">{title}</span>
		</div>
	</a>
</script>

<script type="javascript/template" id="tmpl-app-inspector-contact">
	<p class="contact_url fa_icon fa-{icon_class}"><a href="{url}" target="_blank">{url}</a></p>
</script>