<script type="javascript/template" id="tmpl-order-app-inspector">
	{orderer}
	<div class="app_inspector_wrapper -align_right">
		{status_block}
	</div>
	<div class="app_inspector_wrapper">
		{payment_info}
	</div>
	<div class="app_inspector_wrapper">
		{sources}
	</div>
	{tickets_title}
	{tickets}
	{registration_form_title}
	{registration_fields}
	{event_title}
	{event}
</script>

<script type="javascript/template" id="tmpl-client-app-inspector">
	{client}
	{interests_title}
	{interests_spiderweb_chart}
</script>

<script type="javascript/template" id="tmpl-networking-profile-app-inspector">
	<header class="networking_profile_inspector_header">
		{avatar}
		<h4>{full_name}</h4>
		{company_name}
	</header>
	<div class="app_inspector_wrapper">
		<small class="networking_profile_inspector_subtitle">Информация</small>
		<div class="networking_profile_inspector_text">{info}</div>
	</div>
	<div class="app_inspector_wrapper">
		<small class="networking_profile_inspector_subtitle">Контактные данные</small>
		<div class="networking_profile_inspector_text">
			{contacts}
		</div>
	</div>
</script>