<script type="javascript/template" id="tmpl-settings-modal">
	<div class="modal fade settings-modal" id="settings-modal" tabindex="-1" role="dialog"
			 aria-labelledby="organization-label">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<span>Настройки</span>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<div class="col-sm-12">
							<div class="checkbox c-checkbox needsclick">
								<label class="needsclick">
									<input type="checkbox" value="1" class="needsclick show-to-friends" name="show-to-friends">
									<span class="fa fa-check"></span> Показывать друзьям избранные мной события</label>
							</div>
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12">
							<div class="checkbox c-checkbox needsclick">
								<label class="needsclick">
									<input type="checkbox" value="1" class="needsclick notify-in-browser" name="notify-in-browser">
									<span class="fa fa-check"></span> Показывать уведомления в браузере </label>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-pink-empty" data-dismiss="modal">Отмена</button>
					<button type="button" class="btn btn-pink save-settings-btn">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-vk-share-link">
	<a href="http://vk.com/share.php?url=http://evendate.ru/event/{id}?title={title}&description={description}&image={image_horizontal_url}&noparse=false"></a>
</script>

<script type="javascript/template" id="tmpl-facebook-share-link">
	<a href="http://www.facebook.com/sharer.php?s=100&p[title]={title}&p[summary]={description}&p[url]=http://evendate.ru/event/{id}?p[images][0]={image_horizontal_url}"></a>
</script>

<script type="javascript/template" id="tmpl-twitter-share-link">
	<a href="https://twitter.com/share?url=http://evendate.ru/event/{id}?text={title}&via=evendate.ru&hashtags=#evendate"></a>
</script>

<script type="javascript/template" id="tmpl-friend-item">
	<a href="/friend/{id}" class="friend-item friend-{id} link Link">
		<div class="friend-avatar">
			<img src="{avatar_url}">
		</div>
		<div class="friend-name">{last_name} {first_name}</div>
	</a>
</script>

<script type="javascript/template" id="tmpl-friends-feed-card-short">
	<div class="friend-events-block short">
		<div class="events-header">
			<div class="friend-avatar">
				<span class="events-date">{date}</span>
				<div class="event-type-name">{action_name}</div>
			</div>
		</div>
		<div class="events-body">
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-friends-feed-card">
	<div class="friend-events-block">
		<div class="events-header">
			<div class="friend-avatar">
				<img src="{avatar_url}">
				<span class="events-date">{date}</span>
				<a href="/friend/{friend_id}" class="friend-name link Link">{last_name} {first_name}</a>
				<div class="event-type-name">{action_name}</div>
			</div>
		</div>
		<div class="events-body">
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-friends-feed-event">
	<div class="friend-event favored">
		<div>
			<a href="/event/{id}" class="link Link"><img src="{image_square_vertical_url}"></a>
			<div class="event-favored-wrapper">
				<a href="/event/{id}" class="event-name link Link">{title}</a>
				<a href="/organization/{organization_id}" class="organizator-block link Link">
					<img src="{organization_logo_small_url}">
					<span class="name">{organization_short_name}</span>
				</a>
			</div>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-friends-page-header">
	<div class="user-info-content">
		<div class="top-links">
			<div class="back-to-friends-list"><i class="icon-arrow-left"></i> Вся лента</div>
			<div class="user-profile-name"> {last_name} {first_name}</div>
		</div>
		<div class="friend-page-info-header">
			<div class="top-part">
				<div class="friend-avatar-big pull-left">
					<img class="user-avatar" src="{avatar_url}">
				</div>
				<div class="user-name-wrapper">
					<div class="friend-user-name"> {last_name} {first_name}</div>
					<div class="friend-user-link -hidden">Профиль {type} <span class="icon-arrow-right"></span> </div>
				</div>
			</div>
			<div class="user-btns-wrapper">
				<div class="user-btn pull-left" data-tab="one-friend-events"> Активность</div>
				<div class="user-btn pull-right active" data-tab="one-friend-subscriptions"> Подписки</div>
			</div>
		</div>
		<div class="one-friend-content-wrapper" style="margin-top: 15px;">
			<div class="one-friend-events hidden">

				<div class="load-more-btn hidden" data-page-number="0">
					<button class="btn btn-lg disabled btn-pink-empty" style="margin-top: 25px;"> Загрузить еще... </button>
				</div>
			</div>
			<div class="one-friend-subscriptions">
			</div>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-friends-subscription">
	<a href="/organization/{id}" class="friend-subscription-block link Link">
		<img src="{img_url}" class="pull-left friend-organization-logo">
		<div class="friend-subscription-name">{short_name}</div>
	</a>
</script>

<script type="javascript/template" id="tmpl-no-activity">
	<div class="friend-events-block-no-activity">
		<div class="events-body">К сожалению, пока нет активности :(</div></div>
</script>

<script type="javascript/template" id="tmpl-no-subscriptions">
	<div class="friend-events-block-no-activity">
		<div class="events-body">К сожалению, пока нет подписок :(</div></div>
</script>

<script type="javascript/template" id="tmpl-friends-feed-organization">
	<div class="friend-event subscribed">
		<div>
			<a href="/organization/{id}" class="subscribed-img-wrapper link Link">
				<img src="{img_medium_url}" style="width: 28px;">
			</a>
			<div class="event-favored-wrapper">
				<a href="/organization/{id}" class="event-name link Link">{short_name}</a>
				<div>
					<span class="name">{subscribed_count} подписчиков</span>
				</div>
			</div>
		</div>
	</div>
</script>